swagger: '2.0'
info:
  title: Distribution Account Get API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
basePath: /b2b-import/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Get
paths:
  /get:
    parameters: []
    post:
      summary: Get Currency Account Balance
      operationId: post-balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    x-stoplight:
                      id: ds1oqhlw38tzi
                    description: "Account currency\r\n\r\n"
                    maxLength: 3
                  balance:
                    type: string
                    x-stoplight:
                      id: jn5gfg7ta6nkp
                    description: "Account balance\r\n\r\n"
                    maxLength: 15
                required:
                - currency
                - balance
              examples:
                Example 1:
                  value:
                    currency: USD
                    balance: '5004320.33'
        '400':
          description: 'Bad Request


            Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 |Parameter is error. |'
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  x-stoplight:
                    id: zytko6n126vj4
                  maxLength: 3
                  description: Account currency
              required:
              - currency
            examples:
              Example 1:
                value:
                  currency: USD
        description: ''
      description: Query currency account balance<br>查询币种账户余额
      x-stoplight:
        id: 3wg9pivf3rjgm
      tags:
      - Get
