openapi: 3.2.0
info:
  title: Lianlian Global Balance API
  version: '1.0'
  description: 'Operations tagged Balance across 2 of this provider''s published API definitions: lianlian-global-lppe-coreaccount-openapi.yml, lianlian-global-outbound-payout-verification-balance-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://global-api.lianlian.com/api/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/outbound/card/v1
  description: Live Server
tags:
- name: Balance
paths:
  /balance:
    parameters: []
    get:
      summary: Get current balances
      tags:
      - Balance
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    currency:
                      type: string
                      x-stoplight:
                        id: 3eqd3kyodcd23
                      description: 账户币种
                    status:
                      type: string
                      x-stoplight:
                        id: buieo0sni1l6k
                      description: '当前币种账户的状态

                        `APPLYING`开户中

                        `SUCCEEDED`正常

                        `FAILED`非正常'
                    available_amount:
                      type: string
                      x-stoplight:
                        id: zwrdzk2j7rbvr
                      description: 账户可用余额
                    pending_amount:
                      type: string
                      x-stoplight:
                        id: 0idcdbbv53uq1
                      description: 账户在途余额
                    reserved_amount:
                      type: string
                      x-stoplight:
                        id: gtt8ywei3y7go
                      description: 账户冻结余额
                    total_amount:
                      type: string
                      x-stoplight:
                        id: o0d8n881a2m5o
                      description: '账户总余额：

                        Total account balance (available_amount + pending_amount + reserved_amount)'
        '400':
          description: "code | message \n---------|----------\n PARAM_ERROR | A parameter value is not valid or missing. "
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: ''
      description: 获取账户当前余额信息。
      requestBody:
        content: {}
      security:
      - 客户端凭据授权: []
      parameters:
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Content-Type
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Authorization
      - schema:
          type: string
        in: query
        name: currency
        description: 币种
      x-stoplight:
        id: kwl372sgx0efp
    servers:
    - url: https://global-api.lianlian.com/api/v1
  /balance/history:
    get:
      summary: Get history balances
      tags:
      - Balance
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  x-stoplight:
                    id: ykifr4l09bb4i
                  type: object
                  properties:
                    account_no:
                      type: string
                      x-stoplight:
                        id: jxrahyigaa5iv
                      description: 账户号
                      example: '0204265234111'
                    date:
                      type: string
                      x-stoplight:
                        id: b4vov18paeu8r
                      description: 日期
                      example: '20250407'
                    currency:
                      type: string
                      x-stoplight:
                        id: q6a69zjvzfq22
                      description: 币种
                      example: USD
                    available_amount:
                      type: string
                      x-stoplight:
                        id: qhy32uzgfswsh
                      description: 账户可用余额
                      example: '6589.56'
                    pending_amount:
                      type: string
                      x-stoplight:
                        id: armdsjg3vf7wp
                      description: 账户在途余额
                      example: '0.00'
                    reserved_amount:
                      type: string
                      x-stoplight:
                        id: anajj3u9myvqx
                      description: 账户冻结余额
                      example: '1.00'
                    total_amount:
                      type: string
                      x-stoplight:
                        id: 6ikhb8fubnks7
                      description: 账户总余额： Total account balance (available_amount + pending_amount + reserved_amount)
                      example: '6590.56'
          headers: {}
        '400':
          description: "code | message \n---------|----------\n PARAM_ERROR | A parameter value is not valid or missing. "
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: get-balance-history
      x-stoplight:
        id: ztzi31qhx3ea3
      description: '### 功能说明：

        获取账户历史日终余额

        ### 日期date传参说明：

        - 每天10:00 AM（UTC+8）生成前一天的日终余额信息。

        ### 日期date传参举例：

        - 在2025-04-07 10:00 AM查询date=20250407的内容，查无记录；

        - 在2025-04-08 8:00 AM查询date=20250407的内容，查无记录；

        - 在2025-04-08 10:00 AM查询date=20250407的内容，可正常查询20250407的日终余额内容。'
      security:
      - 客户端凭据授权: []
      parameters:
      - schema:
          type: string
        in: header
        name: Content-Type
        description: application/json
      - schema:
          type: string
        in: header
        name: Authorization
        description: Bearer <Token>
      - schema:
          type: string
        in: query
        name: currency
        description: 币种
      - schema:
          type: string
        in: query
        name: date
        description: 格式yyyyMMdd，东八区时区
        required: true
    servers:
    - url: https://global-api.lianlian.com/api/v1
  /balance/{currency}:
    parameters:
    - schema:
        type: string
      name: currency
      in: path
      required: true
    get:
      summary: Get Currency Account Balance
      operationId: get-balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    x-stoplight:
                      id: ds1oqhlw38tzi
                    description: 'Account currency


                      '
                    maxLength: 3
                  balance:
                    type: string
                    x-stoplight:
                      id: jn5gfg7ta6nkp
                    description: 'Account balance


                      '
                    maxLength: 15
                required:
                - currency
                - balance
              examples:
                Example 1:
                  value:
                    currency: USD
                    balance: '5004320.33'
        '400':
          description: 'Bad Request


            Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 |Parameter is error. |'
        '500':
          description: Internal Server Error
      requestBody:
        content: {}
        description: ''
      description: Query currency account balance<br>查询币种账户余额
      x-stoplight:
        id: 3wg9pivf3rjgm
      tags:
      - Balance
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/outbound/card/v1
      description: Live Server
components:
  securitySchemes:
    Component:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
          refreshUrl: /oauth2/token
      description: 详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 客户端凭据授权
x-refined-from:
- lianlian-global-lppe-coreaccount-openapi.yml
- lianlian-global-outbound-payout-verification-balance-openapi.yml
