openapi: 3.2.0
info:
  title: FX RATE Get API
  version: '1.0'
  contact:
    email: fx_support@lianlianpay.com
  description: This section contains the operations and models of LianLian Global fx rate service.
servers:
- url: https://gtest-open-api.lianlianpay-inc.com/remittance/merchant/balance
  description: Sandbox
- description: Online
  url: https://global-open-api.lianlianpay.com/remittance/merchant/balance
tags:
- name: Get
paths:
  /get:
    parameters: []
    post:
      summary: Get Currency Account Balance
      operationId: post-balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    x-stoplight:
                      id: ds1oqhlw38tzi
                    description: 'Account currency


                      '
                    maxLength: 3
                  balance:
                    type: string
                    x-stoplight:
                      id: jn5gfg7ta6nkp
                    description: 'Account balance


                      '
                    maxLength: 15
                required:
                - currency
                - balance
              examples:
                Example 1:
                  value:
                    currency: USD
                    balance: '5004320.33'
        '400':
          description: 'Bad Request


            Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 |Parameter is error. |'
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  x-stoplight:
                    id: zytko6n126vj4
                  maxLength: 3
                  description: Account currency
              required:
              - currency
            examples:
              Example 1:
                value:
                  currency: USD
        description: ''
      description: Query currency account balance<br>查询币种账户余额
      x-stoplight:
        id: 3wg9pivf3rjgm
      tags:
      - Get
x-stoplight:
  id: ztrytr7ruzey9
