openapi: 3.2.0
info:
  title: Lianlian Global Account API
  version: '1.0'
  description: 'Operations tagged Account across 2 of this provider''s published API definitions: lianlian-global-lppe-coreaccount-openapi.yml, lianlian-global-outbound-payout-ka-balance-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://global-api.lianlian.com/api/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/outbound/card/v1/
tags:
- name: Account
paths:
  /account/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: account id
    get:
      summary: Get account details by ID
      tags:
      - Account
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      operationId: ''
      description: 获取用户信息。
      requestBody:
        content: {}
      security:
      - 客户端凭据授权: []
      parameters:
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Content-Type
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Authorization
      x-stoplight:
        id: xieu734majyzw
    servers:
    - url: https://global-api.lianlian.com/api/v1
  /account/list:
    parameters: []
    post:
      summary: Retrieve all balances
      tags:
      - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    availableBalance:
                      type: string
                    currency:
                      type: string
                x-examples:
                  Example 1:
                  - availableBalance: string
                    currency: string
        '400':
          description: null
          content:
            application/json:
              schema:
                type: 'null'
      operationId: query-currency-balance
      description: Retrieve all balances
      x-stoplight:
        id: lj0vjww03w7ht
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type:
                  - string
                  - 'null'
                  x-stoplight:
                    id: sor9p91zevdpl
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/outbound/card/v1/
components:
  schemas:
    Account:
      title: Account
      x-stoplight:
        id: 2ijyp5cgqvcld
      type: object
      properties:
        id:
          type: string
          description: ACCOUNT ID
        phone_district:
          type: string
          description: 手机区号
        phone:
          type: string
          description: 手机
        email:
          type: string
          description: 邮箱
        name:
          type: string
          description: 用户在实名认证时的主体名称
        country_code:
          type: string
          description: 二位国家/地区编码，KYC企业所在地
        entity_type:
          type: string
          description: '类型，枚举：`CORPORATE` `INDIVIDUAL`

            - `CORPORATE`：企业

            - `INDIVIDUAL`：个人'
        status:
          type: string
          description: '状态，枚举：`INIT` `UNDER_REVIEW` `ACTIVE` `SUSPENDED` `CLOSED`

            - `INIT`：客户初始创建账号，待补充其他材料或操作（KYC或其他认证）

            - `UNDER_REVIEW`：客户账户相关认证材料已提交审核中

            - `ACTIVE`：客户账户通过，可以进行资金类交易

            - `SUSPENDED`：客户账户被暂停，出金交易会被拒绝

            - `CLOSED`：客户账户服务被终止'
  securitySchemes:
    Component:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
          refreshUrl: /oauth2/token
      description: 详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 客户端凭据授权
x-refined-from:
- lianlian-global-lppe-coreaccount-openapi.yml
- lianlian-global-outbound-payout-ka-balance-openapi.yml
