openapi: 3.2.0
info:
  title: Payouts Compliances API
  version: '1.0'
  description: payout能力
servers:
- url: https://global-api.lianlian.com/api/v1
tags:
- name: Compliances
paths:
  /compliances:
    post:
      summary: Create a compliance material
      tags:
      - Compliances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                    x-stoplight:
                      id: q0c10bn6mn3wy
                    description: 客户端请求ID
                  entity_id:
                    type: string
                    x-stoplight:
                      id: gpqzmnm4b2l40
                    description: 合规材料对象id
                  type:
                    type: string
                    x-stoplight:
                      id: w8luq47uz0osu
                    description: 上传合规材料类型
                  status:
                    type: string
                    x-stoplight:
                      id: y897gcpjdd1ud
                    description: '审核状态

                      枚举|说明

                      ----|----

                      PROCESSING |审核中

                      SUCCEEDED |正常

                      FAILED |审核拒绝'
        '400':
          description: '**code**|**message**

            ---|---

            PARAM_ERROR|A parameter value is not valid or missing.

            FILE_NOT_EXIST|fileId not found

            BENEFICIARY_NOT_EXISTS|beneficiary is not exist

            REQUEST_ID_IS_NOT_UNIQUE|request_id is not unique

            REVIEW_EXIST_ERROR|material review apply exist

            CHANNEL_ID_NOT_FOUND|channelId not found'
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: post-compliances
      x-stoplight:
        id: 8b5bf4fto116q
      security:
      - 客户端凭据授权: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - request_id
              - type
              - entity_id
              - attachments
              properties:
                request_id:
                  type: string
                  x-stoplight:
                    id: 21cbxlbyxozxg
                  description: 客户端唯一请求ID
                  maxLength: 64
                type:
                  x-stoplight:
                    id: y2lnuimzwj0to
                  description: '上传的合规材料类型

                    枚举|说明

                    ----|----

                    beneficiary|收款人材料

                    payer|付款人材料

                    payment|payout付款材料

                    deposit|加款材料'
                  enum:
                  - beneficiary
                  - payer
                  - payment
                  - deposit
                entity_id:
                  type: string
                  x-stoplight:
                    id: p5mtyaaw30tow
                  maxLength: 32
                  description: 合规材料对象的id，beneficiary_id\payer_id\transaction_id\deposit_id
                memo:
                  type: string
                  x-stoplight:
                    id: jpdiq62wfy517
                  description: 备注
                  maxLength: 125
                attachments:
                  type: array
                  x-stoplight:
                    id: 02k57svdbvqed
                  items:
                    x-stoplight:
                      id: sdb93nqntrrgl
                    type: object
                    maxProperties: 5
                    required:
                    - attachment_type
                    - file_id
                    properties:
                      attachment_type:
                        type: string
                        x-stoplight:
                          id: vvn3lod43uzaz
                        description: '附件类型

                          枚举|说明

                          ----|----

                          COMMERCIAL_DOCUMENTS | 商业单据

                          LOGISTICS_DOCUMENTS |物流单据

                          LOGISTICS_COMMUNICATION_DOCUMENTS |物流沟通凭证

                          CONTRACT_DOCUMENTS |合同

                          ORDER_DOCUMENTS |交易单据

                          CUSTOMS_DECLARATION |报关单

                          OTHER_ATTACH |其它附件 '
                      file_id:
                        type: string
                        x-stoplight:
                          id: 9vltr28j8j9a7
                        description: 附件的file id
  /compliances/{request_id}:
    parameters:
    - schema:
        type: string
      name: request_id
      in: path
      description: 客户端唯一请求ID
      required: true
    get:
      summary: Get a compliance material by request_id
      tags:
      - Compliances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceMaterial'
        '404':
          description: '**code**|**message**

            ---|---

            RESOURCE_NOT_FOUND|The specified resource does not exist.'
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: get-compliances-requestId
      x-stoplight:
        id: fbroxgthkywlj
      security:
      - 客户端凭据授权: []
components:
  schemas:
    ComplianceMaterial:
      title: ComplianceMaterial
      x-stoplight:
        id: wwzr4risezf1f
      type: object
      description: 合规审核材料
      properties:
        request_id:
          type: string
          x-stoplight:
            id: 8f53u4qph2aj1
          description: 客户端唯一请求ID
        type:
          type: string
          x-stoplight:
            id: 5oyfevzyi50vv
          description: '上传的合规材料类型

            枚举|说明

            ----|----

            beneficiary|收款人材料

            payer|付款人材料

            payment|payout付款材料

            deposit|加款材料'
        entity_id:
          type: string
          x-stoplight:
            id: gb9qj65iww1p9
          description: 合规材料对象的id，beneficiary_id\payer_id\transaction_id\deposit_id
        memo:
          type: string
          x-stoplight:
            id: 5vx6gs2c1hbsq
          description: 备注
        attachments:
          type: array
          x-stoplight:
            id: 7h0gvrc96ob2h
          items:
            x-stoplight:
              id: p38yer0nqbjj1
            type: object
            maxProperties: 5
            properties:
              attachment_type:
                type: string
                x-stoplight:
                  id: d3ojztfg66yex
                description: '附件类型

                  枚举|说明

                  ----|----

                  COMMERCIAL_DOCUMENTS | 商业单据

                  LOGISTICS_DOCUMENTS |物流单据

                  LOGISTICS_COMMUNICATION_DOCUMENTS |物流沟通凭证

                  CONTRACT_DOCUMENTS |合同

                  ORDER_DOCUMENTS |交易单据

                  CUSTOMS_DECLARATION |报关单

                  OTHER_ATTACH |其它附件 '
              file_id:
                type: string
                x-stoplight:
                  id: l84w8is4njksv
                description: 附件的file id
        status:
          type: string
          x-stoplight:
            id: or77w915o9w29
          description: '审核状态

            枚举|说明

            ----|----

            PROCESSING |审核中

            SUCCEEDED |正常

            FAILED |审核拒绝'
        failure_code:
          type: string
          x-stoplight:
            id: b4c5tot4fpoym
          description: 审核失败编码
        failure_reason:
          type: string
          x-stoplight:
            id: 6s2i427xp8fvh
          description: 审核失败原因描述
  securitySchemes:
    Component:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          refreshUrl: /oauth2/token
          scopes: {}
      description: 详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 客户端凭据授权
    Component_2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
      description: 详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 授权码授权
x-stoplight:
  id: w073d3fxcx3df
