openapi: 3.2.0
info:
  title: Oauth2 API
  version: '1.0'
servers:
- url: https://global-api.lianlian.com/api/v2
tags:
- name: Oauth2
paths:
  /oauth2/token:
    parameters: []
    post:
      summary: Get or refresh access token
      operationId: Exchange-access-token
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ../models/AccessTokenResponse.yaml
        '400':
          description: "code | message\n---------|----------\n MISSING_REQUIRED_PARAMETER | A required parameter in the request is missing.\n PARAM_ERROR | A parameter value is not valid.\n INVALID_REFRESH_TOKEN |Invalid refresh token.\n INVALID_CLIENT | Client dose not exist.\n INVALID_CLIENT_SECRET | Invalid client secret.\n INVALID_AUTH_CODE | Incorrect authorization code.\n FUNCTION_SCOPE_BLANK | The scopeCodes is not set.\n REQUEST_CONFLICT | The request cannot be processed as another request is being processed."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
        '401':
          description: "code | message\n---------|----------\n NOT_AUTHORIZED | Lacks valid authentication credentials or insufficient permissions."
          content:
            application/json:
              schema:
                $ref: ../models/ErrorNoParam.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/AccessTokenRequest.yaml
            examples:
              Example 1:
                value:
                  grant_type: string
                  client_id: string
                  client_secret: string
                  code: string
                  refresh_token: string
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
        description: ''
      description: '获取或者刷新access token。

        - 业务字段（grant_type、client_id、client_secret）相同时，不支持幂等，会创建多个access token。'
      parameters:
      - $ref: ./Webhooks.yaml#/components/parameters/header-Content-Type
      tags:
      - Oauth2
x-stoplight:
  id: t268rmyd2cy2p
