swagger: '2.0'
info:
  title: Distribution Account Deposits API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
basePath: /b2b-import/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Deposits
paths:
  /deposits/{deposit_id}:
    parameters:
    - schema:
        type: string
      name: deposit_id
      in: path
      required: true
    post:
      summary: Receiving account deposit confirm
      operationId: deposit_id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_type:
                    type: string
                    x-stoplight:
                      id: rh8ngz15547ei
                    description: "操作类型\r\n`PROCESS`:：推进加款 \r\n`REFUND`：退款 \r\n`RELEASE`：解付"
                  action_time:
                    type: string
                    x-stoplight:
                      id: j2ldn2ryqfi0m
                    description: "操作时间\r\n请求操作的时间"
                  deposit_id:
                    type: string
                    x-stoplight:
                      id: qh59vx9g0ett1
                    description: 加款单ID
                  status:
                    type: string
                    x-stoplight:
                      id: 989odckxa4n3f
                    description: "加款单状态\r\n`REQUIRE_ACTION`:待补充贸易材料 \r\n`PENDING`：待处理（加款的过程中遇到了异常）\r\n`PROCESSING`：加款中 \r\n`SUCCEEDED`:完成 \r\n`REFUND_PENDING`：退款中 \r\n`REFUND`:已退款 \r\n`ONWAY`:在途"
                  global_account_number:
                    type: string
                    x-stoplight:
                      id: xygh0qy5eiymq
                    description: 全球收款账户账号
        '400':
          description: "**code**|**message**\r\n---|---\r\nPARAM_ERROR|A parameter value is not valid or missing.\r\nREASON_REQUIRED|REASON_REQUIRED\r\nFAILURE|An error occurred while processing the request.  e.g. The payer's account does not exist \r\nABNORMAL|System error, please retry."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
              examples:
                Example 1:
                  value:
                    ? ''
                    : string
      description: "收款账户入金确认。\r\n- 当status为REQUIRE_ACTION时，允许提交，提交后状态变为PROCESSING。该接口不允许同一deposit_id并发提交，会返回REQUEST_CONFLICT\r\n对于接口超时情况，可使用deposit_id查询Get list of deposits接口获取处理结果"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - deposit_id
              - business_type
              - action
              properties:
                deposit_id:
                  type: string
                  description: 加款单ID
                business_type:
                  type: string
                  description: "业务类型。\r\n\r\n枚举 | 说明 \r\n---------|----------\r\nGOODS_PURCHASE|商品采购，用于支付商品采购的费用\r\nSALARY|工资薪金，用于发放工资、薪金的款项\r\nLOGISTICS|物流费用，用于支付物流相关的费用\r\nCOMMISSIONS|交易佣金，用于支付佣金相关的费用\r\nADVERTISEMENT|广告费用，用于支付广告营销相关的费用\r\nECOMMERCE|电商货款\r\nBRAND_TECHNICAL_SERVICE|商标注册，用于支付商标注册相关的费用\r\nHEALTHCARE_SERVICES|医疗相关服务\r\nIMPORT_TRADE|进口付款\r\nWITHDRAW|提现\r\n"
                action:
                  type: string
                  description: '是否入账

                    `PROCESS`:推进加款

                    `REFUND`：退款

                    `RELEASE`:解付，加款单状态为onway时，可以支持`RELEASE`

                    '
                transaction_document_batch_id:
                  type: string
                  description: 材料id，单个
                reason:
                  type: string
                  description: 拒绝理由,`action=REFUND`时，此字段需必填
      security:
      - 客户端凭据授权: []
      parameters:
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Content-Type
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Authorization
      tags:
      - Deposits
  /deposits:
    parameters: []
    get:
      summary: Get list of deposits
      tags:
      - Deposits
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_size:
                    type: string
                    x-stoplight:
                      id: dfudx446awchx
                    description: 总记录数
                  page_size:
                    type: string
                    x-stoplight:
                      id: 6fmsyalqkt8eg
                    description: 每页条数
                  page:
                    type: string
                    x-stoplight:
                      id: zfp2p0hbzwvcr
                    description: 当前页码
                  total_count:
                    type: string
                    x-stoplight:
                      id: s8fdp1ntr0dyk
                    description: 总条数
                  total_page:
                    type: string
                    x-stoplight:
                      id: 5qg7m5jee2w6g
                    description: 总页数
                  page_list:
                    x-stoplight:
                      id: ssrnxcg10zecu
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit - copy'
                      x-stoplight:
                        id: xwn00d3fkf6y1
        '400':
          description: "**code**|**message**\r\n---|---\r\nPARAM_ERROR|A parameter value is not valid or missing   e.g:clientId is null\r\nILLEGAL_ARGUMENT_EXCEPTION|Parameter check failure. e.g.user_id and sso_user_id cannot be empty at the same\r\nINVALID_PARAMETER_VALUE| A parameter value is not valid."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: ''
      description: 获取入金列表信息。
      requestBody:
        content: {}
        description: ''
      parameters:
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Content-Type
      - $ref: ../Base/Webhooks.yaml#/components/parameters/header-Authorization
      - schema:
          type: string
        in: query
        name: page
        description: 页码,默认值为1
      - schema:
          type: string
        in: query
        name: page_size
        description: 每页查询数量,默认值20
      - schema:
          type: string
        in: query
        name: id
        description: 全球收款账户ID
      - schema:
          type: string
        in: query
        name: account_number
        description: 全球收款账户账号
      - schema:
          type: string
        in: query
        name: currency
        description: 加款单币种
      - schema:
          type: string
        in: query
        name: deposit_id
        description: 加款单ID
      - schema:
          type: number
        in: query
        name: start_time
        description: 加款单查询的开始日期，13位时间戳毫秒
      - schema:
          type: number
        in: query
        name: end_time
        description: 加款单查询的截止日期，13位时间戳毫秒
      - schema:
          type: string
        in: query
        name: status
        description: 加款单状态
      security:
      - 客户端凭据授权: []
components:
  schemas:
    Deposit - copy:
      title: Deposits
      x-stoplight:
        id: 6682setxt571t
      type: object
      properties:
        user_id:
          type: string
          description: 此加款单对应的用户ID
        deposit_type:
          type: string
          description: 入金类型：`BANK_ACCOUNT`银行转账入金`LL_ACCOUNT`连连内部账户转账入金
        deposit_id:
          type: string
          description: 加款单ID
        account_number:
          type: string
          description: 全球收款账户账号
        id:
          type: string
          description: 全球收款账户唯一标识
        amount:
          type: string
          description: 加款单金额，小数点后2位
        currency:
          type: string
          description: 加款单的币种
        fee_amount:
          type: string
          description: 服务费金额，如无服务费则返回'0'
        fee_currency:
          type: string
          description: 服务费币种，与入账币种一致
        payer_name:
          type: string
          description: 付款人名称
        status:
          type: string
          description: '加款单状态

            `REQUIRE_ACTION`:待补充贸易材料

            `PENDING`：待处理（加款的过程中遇到了异常）

            `PROCESSING`：加款中

            `SUCCEEDED`:完成

            `REFUND_PENDING`：退款中

            `REFUND`:已退款

            `ONWAY`:在途（资金审批完成后入账至【在途】账户）'
        message:
          type: string
          description: 加款单入账结果说明
        remark:
          type: string
          description: 交易附言
        create_time:
          type: number
          description: 加款单状创建时间，13位时间戳毫秒
        update_time:
          type: number
          description: 加款单状态变更时间，13位时间戳毫秒
        payment_methods:
          type: string
          x-stoplight:
            id: d6zwkzpxd1syx
          description: 可以收到资金的付款方式`SWIFT`,`LOCAL`
        branch_name:
          type: string
          x-stoplight:
            id: e5wfhj9fxg8f3
          description: 发卡银行分支行名称，例如：花旗香港
