openapi: 3.2.0
info:
  title: Accept Payments Agreement API
  version: '1.0'
  summary: accept payments
  description: '通过集成LianLian Global在线支付API，实现在网站和移动应用程序上接受银行卡、钱包和本地支付方式的付款。开发者可以通过多种方式与我们的在线支付API集成。 这些范围从使用预构建的集成到构建您自己的UI以完全控制您的支付体验。

    '
servers:
- url: https://global-api.lianlian.com/api/v1
tags:
- name: Agreement
paths:
  /accept_payments/agreements:
    parameters: []
    get:
      summary: Get list of agreements
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_size:
                    type: string
                    x-stoplight:
                      id: kki1qd0pte39r
                    description: 每页条数
                  page:
                    type: string
                    x-stoplight:
                      id: xssvye5my03bb
                    description: 当前页码
                  total_count:
                    type: string
                    x-stoplight:
                      id: ky5da178cajp6
                    description: 总条数
                  total_page:
                    type: string
                    x-stoplight:
                      id: gz7kag8curfig
                    description: 总页数
                  page_list:
                    type: array
                    x-stoplight:
                      id: vcxako4ioa7v1
                    items:
                      $ref: '#/components/schemas/Agreement'
                      x-stoplight:
                        id: 5cjx77iskbd66
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: get-accept_payments-agreement
      x-stoplight:
        id: ly03gf9apeu75
      security:
      - 客户端凭据授权: []
      parameters:
      - schema:
          type: string
        in: header
        name: Authorization
        description: Bearer <Token>
      - schema:
          type: string
        in: query
        name: customer_identifier
        description: 用户在商户系统中的唯一编号
        required: true
      - schema:
          type: string
        in: query
        name: id
        description: 授权协议的ID
      - schema:
          type: string
        in: query
        name: page
        description: 页码，默认值为1
      - schema:
          type: string
        in: query
        name: page_size
        description: 每页条数，默认值为20
      - schema:
          type: string
        in: query
        name: status
        description: 协议的状态
      requestBody:
        content: {}
      tags:
      - Agreement
  /accept_payments/agreements/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: 授权协议的ID
    get:
      summary: Get a agreement by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: get-accept_payments-agreement-agreement_id
      x-stoplight:
        id: vel9tarnkj1oj
      security:
      - 客户端凭据授权: []
      parameters:
      - schema:
          type: string
        in: header
        name: Authorization
        description: Bearer <Token>
      tags:
      - Agreement
components:
  schemas:
    Agreement:
      title: Agreement
      x-stoplight:
        id: 8fycyvasfltcw
      type: object
      description: 支付授权协议
      properties:
        id:
          type: string
          x-stoplight:
            id: qtluyu3z7h4su
          description: LianLian GLobal系统授权协议的唯一编号
        customer:
          type: object
          x-stoplight:
            id: dgg6vt73h281x
          properties:
            identifier:
              type: string
              x-stoplight:
                id: 8qj94z5kigw7q
              description: 用户在商户系统中的唯一编号
        status:
          type: string
          x-stoplight:
            id: qaggzldrbngt1
          description: '协议的状态

            枚举值|说明

            ----|----

            ACTIVE|正常

            CANCELED|已取消（已解除）

            EXPIRED|已过期'
        create_time:
          type: number
          x-stoplight:
            id: 4ofgegz6x2d3b
          description: 创建时间，13位时间戳
        update_time:
          type: number
          x-stoplight:
            id: g6yy7u3kqdjax
          description: 更新时间，13位时间戳
        expires_time:
          type: number
          x-stoplight:
            id: oxuhzmdh6q21r
          description: 协议的到期时间，13位时间戳毫秒。
  securitySchemes:
    Component:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
x-stoplight:
  id: 91jfx04sdnbg4
