openapi: 3.2.0
info:
  title: Files API
  version: '1.0'
servers:
- url: https://global-api.lianlian.com/api/v1
tags:
- name: Files
paths:
  /files/upload:
    parameters: []
    post:
      summary: Upload a file
      operationId: upload-files
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    x-stoplight:
                      id: 9qyao8rwbcs1d
                    description: 文件id
              examples:
                Example 1:
                  value:
                    id: string
        '400':
          description: '**code**|**message**

            ---|---

            FILE_UPLOAD_EMPTY|The file stream cannot be empty.

            PURPOSE_IS_BLANK|Required parameters are missing.

            FILE_UPLOAD_EXCEED_MAX_SIZE|File upload exceeds the maximum value.

            MD5_MISMATCH|File md5 mismatch.

            INVALID_CLIENT|Client invalid.

            FILE_FREQUENCY_LIMIT_EXCEED|File upload or download  exceeds the limit,try again later.

            FILE_FREQUENCY_USER_LIMIT_EXCEED|File upload or download exceeds the limit,try again later.

            FILE_SERVER_REMOTE_ERROR|A system or application error occurred.

            '
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      parameters:
      - $ref: ./Webhooks.yaml#/components/parameters/header-Authorization
      description: '### 功能说明

        上传文件，返回文件ID

        ### 幂等说明

        不支持幂等，每次请求都会创建新的资源，并返回新的ID

        ### 限制

        - 文件大小最大不能超过20M

        - 支持的文件类型：jpg、png、jpeg、bmp、pdf、csv、xls、xlsx

        - 限流说明：每日200次'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ../models/FilesRequest.yaml
        description: ''
      security:
      - 客户端凭据授权: []
      tags:
      - Files
  /files/download:
    parameters: []
    post:
      summary: Download a file by ID
      operationId: get-file
      responses:
        '200':
          description: 返回文件流信息
          content: {}
        '400':
          description: '**code**|**message**

            ---|---

            MISSING_REQUIRED_PARAMETER|Required parameters are missing.

            FILE_FREQUENCY_USER_LIMIT_EXCEED|File upload or download exceeds the limit,try again later.

            FILE_SERVER_REMOTE_ERROR|A system or application error occurred.

            '
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
        '404':
          description: '**code**|**message**

            ---|---

            RESOURCE_NOT_FOUND|The specified resource does not exist.'
          content:
            application/json:
              schema:
                $ref: ../models/ErrorNoParam.yaml
      parameters:
      - $ref: ./Webhooks.yaml#/components/parameters/header-Content-Type
      - $ref: ./Webhooks.yaml#/components/parameters/header-Authorization
      description: 下载文件
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  x-stoplight:
                    id: o8uteiuqavvu9
                  description: 文件id
        description: ''
      security:
      - 客户端凭据授权: []
      tags:
      - Files
components:
  securitySchemes:
    Component:
      type: oauth2
      description: 详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 客户端凭据授权
      flows:
        clientCredentials:
          scopes: {}
          refreshUrl: /oauth2/token
          tokenUrl: /oauth2/token
x-stoplight:
  id: 9vumejt80k6sk
