swagger: '2.0'
info:
  title: Distribution Account Operations API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
basePath: /b2b-import/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Operations
paths:
  /file/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: File ID
    get:
      summary: Download File
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                description: File data streaming.
              examples: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        ? ''
        : description: ''
          headers: {}
          content:
            application/octet-stream:
              schema:
                type: string
                description: File data streaming.
      operationId: download-File
      description: Download File by `id`.
  /ew-files:
    parameters: []
    get:
      summary: Get list of Files
      operationId: get-files
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: string
                    description: Total data number.
                  page_list:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
      parameters: []
      tags:
      - Operations
      description: Get list of Files.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: File ID.
                name:
                  type: string
                  description: A file name in the server, require exact match.
                title:
                  type: string
                  description: User naming the file when uploading, require exact match
                page_number:
                  type: integer
                  description: The query page number.
                page_size:
                  description: The default value is 20. A maximum of 100 data items can be displayed on a page.
                  type: integer
                start_time:
                  description: File object creation period start time.
                  type: integer
                end_time:
                  description: File object creation period end time.
                  type: integer
        description: ''
  /file/upload:
    parameters: []
    post:
      summary: Upload File
      operationId: upload-file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: 'Upload a file to LianLian Global''s server. The max size of an upload file is up to 10MB.

        When you upload a file, the API responds with a `id`.

        This `id` will be referenced as required as part of the `File Folder` object.


        Allowed file types:

        `application/x-rar-compressed` `application/zip` `application/pdf` `image/jpeg` `image/png`


        '
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
          application/json:
            schema:
              $ref: '#/components/schemas/File'
          application/xml:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties:
                file:
                  type: object
                size:
                  type: string
          text/plain:
            schema:
              type: object
              properties: {}
          application/EDI-X12:
            schema:
              type: object
              properties: {}
          application/EDIFACT:
            schema:
              type: object
              properties: {}
          application/atom+xml:
            schema:
              type: object
              properties: {}
        description: 'file : File stream, A maximum of 10 MB files are supported. Empty files are not allowed.<br>

          extension_info : json object structure is {"notes":"notes descn","title":"1fzip"}.

          <br><br>

          notes : The notes of the file, max length is 128 characters. <br>

          title : User naming the file when uploading.'
      x-internal: false
      tags:
      - Operations
      parameters:
      - schema:
          type: string
        in: query
        name: file
        description: File stream, A maximum of 10 MB files are supported. Empty files are not allowed.
        required: true
      - schema:
          type: string
        in: query
        name: notes
        description: The notes of the file, max length is 128 characters.
      - schema:
          type: string
        in: query
        name: title
        description: User naming the file when uploading.
  /ew-balances:
    parameters: []
    get:
      summary: Get list of Balances
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'
              examples: {}
        '400':
          description: Bad Request
        ? ''
        : content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
      operationId: get-balance
      description: "#### Demo for java SDK\n```java\n//create an API service as native Object\nBalanceReadService service = GatewayProxyFactory.getInstance().create(BalanceReadService.class, config);\n//init your API call parameter\nBaseOpenApiReq req = new BaseOpenApiReq();\n//invoke api as native call and get the deserialized result Object\nRichOpenRes<List<BalanceDetailRes>> res = service.list(req);\n//if invoke succeed do your business\nif (res.isSuccess()) {\n    //do your business here\n    System.out.println(res);\n    System.out.println(JSONObject.toJSON(res));\n    if (res.getModel() != null) {\n        System.out.println(\"return balance list:\");\n        res.getModel().forEach(e -> {\n            System.out.println(\"accountId:\" + e.getAccountId() + \"\\t\\t\" + \"accountId:\" + e.getAccountId() + \"\\t\\t\" + \"availableAmount:\" + e.getAvailableAmount());\n        });\n    }\n} else {//if invoked error check the return error message and do your error handler\n    //error handler\n    System.out.println(\"there is a error for API invoke, the detail message is:\");\n    System.out.println(\"error:\" + res.getError());\n    System.out.println(\"message:\" + res.getMessage());\n    System.out.println(\"success:\" + res.isSuccess());\n    System.out.println(\"code:\" + res.getCode());\n}\n```"
      parameters: []
      x-internal: false
  /ew-balances-with-settings:
    parameters: []
    get:
      summary: Get List of Balances With Settings
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceWithSetting'
      operationId: get-ew-balances-with-settings
      description: Get list of balances and with the account settings.
  /ew-conversions:
    parameters: []
    post:
      summary: Create a Conversion
      operationId: post-conversion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
        '400':
          description: Bad Request
      tags:
      - Operations
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/ConversionRequest
      description: 'Create a new `Conversion` to be executed. To associate a conversion with a `Payout`, use the Payout API.

        Note: On a conversion, both `buy_currency` and `sell_currency` will be populated, but define only one of either `buy_amount` or `sell_amount`. '
  /ew-conversions/{request_id}:
    parameters:
    - schema:
        type: string
      name: request_id
      in: path
      required: true
    get:
      summary: Get Conversion by Request_ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
        '400':
          description: Bad Request
      operationId: get-conversion-conversion_id
      parameters: []
      description: Get detail of a `Conversion` transaction.
  /ew-agreements/signing:
    parameters: []
    post:
      summary: Start a New Agreement Signing
      operationId: post-ew-payees-registrationation
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: string
                    merchant_client_id: string
                    status: need_info
                    registration_url: string
                    shop_url: string
                    note: string
                    registration_complete: true
                properties:
                  id:
                    type: string
                    description: 'LianLian `Network Contact` Object ID. Merchant shall use this ID to contact LianLian for any payment issues.


                      Non-existant if `signing_complete` is false.'
                  merchant_client_id:
                    type: string
                    description: Client's ID for this Merchant.
                  merchant_client_name:
                    type: string
                    description: Merchant name as known by the client platform.
                  signing_url:
                    type: string
                    description: 'URL to redirect merchant to in order to start agreement signing on LianLian platform.


                      Non-existent if `signing_complete` is true.'
                  additional_info:
                    type: array
                    description: Additional info to be used by customer support if needed.
                    items:
                      $ref: ./Items.json#/components/schemas/Item
                  signing_complete:
                    type: boolean
                    description: State of merchant signing process.
                  agreement_no:
                    type: string
                    description: Unique identifier for the `Agreement` created by the LianLian Global.
        ? ''
        : description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 'LianLian `Network Contact` Object ID. Merchant shall use this ID to contact LianLian for any payment issues.


                      Non-existant if `signing_complete` is false.'
                  merchant_client_id:
                    type: string
                    description: Client's ID for this Merchant.
                  signing_url:
                    type: string
                    description: 'URL to redirect merchant to in order to start agreement signing on LianLian platform.


                      Non-existent if `signing_complete` is true.'
                  additional_info:
                    type: array
                    description: Additional info to be used by customer support if needed.
                    items:
                      $ref: ./Items.json#/components/schemas/Item
                  signing_complete:
                    type: boolean
                    description: State of merchant registration process.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  store_name: string
                  redirect_url: string
                  shop_url: string
                  merchant_client_id: string
                  note: string
              properties:
                merchant_client_id:
                  type: string
                  description: Merchant ID as known by the client platform.
                merchant_client_name:
                  type: string
                  description: Merchant name as known by the client platform.
                country_code:
                  type: string
                  description: Two-letter [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code of counterparty.
                  enum:
                  - US
                  - VN
                  - SG
                  - ID
                  - PH
                  - KH
                  - MY
                  - KR
                  - AU
                  - AE
                  - DE
                  - FR
                  - IT
                  - NL
                  - BE
                  - LU
                  - IE
                  - ES
                  - PT
                  - AT
                  - FI
                  - LT
                  - LV
                  - EE
                  - SK
                  - SI
                  - GR
                  - MT
                  - CY
                  - PL
                  - TH
                  - GB
                  - CN
                  - HK
                agreement_type:
                  type: string
                  description: Signing agreement type.
                  enum:
                  - ECOMMERCE-SEND-PAYMENT
                  - BILL-DIRECT-DEBIT
                redirect_url:
                  type: string
                  description: URL Lianlian will redirect to at the end of a successful signing process.
                additional_info:
                  type: array
                  description: 'Additional info to be used by customer support if needed.<br>

                    When `agreement_type` is `ECOMMERCE-SEND-PAYMENT`, 3 name keys are established.<br>

                    1. cert_no:The Cert number of counterparty on client side. <br>

                    2. store_name:Store name as known by the calling platform. <br>

                    3. shop_url:URL of merchant store if URL can’t be algorithmically produced from merchant_id.'
                  items:
                    $ref: '#/components/schemas/SigningInfo'
              required:
              - merchant_client_id
              - country_code
              - agreement_type
              - redirect_url
        description: ''
  /ew-agreements/merchant-client-id:
    parameters: []
    get:
      summary: Get Agreement By Merchant Client ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/SigningInfo'
            multipart/form-data:
              schema:
                type: object
                properties:
                  ? ''
                  : $ref: '#/components/schemas/SigningInfo'
                  app_auth_info:
                    $ref: '#/components/schemas/AppAuthInfo'
      operationId: get-ew-contracts-merchant_client_id
      parameters:
      - schema:
          type: string
        in: query
        name: merchant_client_id
        description: Merchant ID as known by the client platform.
        required: true
      - schema:
          type: string
          enum:
          - ECOMMERCE-SEND-PAYMENT
          - BILL-DIRECT-DEBIT
        in: query
        name: agreement_type
        description: Signing agreement type.
        required: true
      description: Get `Agreement` by merchant_client_id
  /ew-folders/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
      description: File Floder ID
    get:
      summary: Get File Folder Info by ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileFolder'
              examples: {}
        '400':
          description: Bad Request
      operationId: get-file
      description: Get File Floder Info by ID.
      parameters: []
    delete:
      summary: Delete File Folder Info by ID
      operationId: delete-Folder-id
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
      description: Delete `File Folder` Info by ID. This method only delete File Floder object, not the files associated with it.
      tags:
      - Operations
  /ew-folders:
    parameters: []
    post:
      summary: Create File Folder Info
      operationId: create-file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileFolder'
        '400':
          description: Bad Request
      description: create a new `File Floder` with multiple `File` refrence.
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/FileRequest
          application/xml:
            schema:
              $ref: '#/components/schemas/File'
        description: ''
      tags:
      - Operations
  /ew-conversions/lockfx:
    parameters: []
    post:
      summary: Create a LockFX Quote
      operationId: post-lockfx
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRate'
              examples:
                example:
                  value:
                    rate_id: string
                    rate: string
                    base_currency: string
                    sell_currency: string
                    buy_currency: string
                    validity: T_0
                    valid_strarting_after: string
                    valid_ending_before: string
      tags:
      - Operations
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/LockFXRequest
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
          text/html:
            schema:
              type: object
              properties: {}
          text/plain:
            schema:
              type: object
              properties: {}
        description: ''
      parameters: []
      description: Lock quote.
  /ew-contacts/bank/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
    get:
      summary: Get a Bank Account Contact
      tags:
      - Operations
      operationId: get-beneficiary-info
      description: Get a specific bank account contact by the `contact _id`.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Payee'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountContact'
              examples:
                BankAccount Payee:
                  value:
                    address:
                      country_code: NL
                      city: gerg
                      postcode: '32432'
                      state: e
                      line2: asda
                      line1: add
                    entity_type: CORPORATE
                    type: BANK_ACCOUNT
                    bank_info:
                      account_number: DE75512108001245126199
                      account_currency: EUR
                      bank_country_code: NL
                      swift_code: '45346364363'
                      routing_info:
                      - {}
                      iban: DE75512108001245126199
                      bank_address: NL
                      holder_type: CORPORATE
                      holder_name: dsdfgdfg
                    user_id: '2022042512674869'
                    base_info:
                      country_code: NL
                      corporate_name: dsgdgdsgf
                      email: idra@foxmail.com
                    id: '910036527140438742016'
                    status: ACCEPTED
                Network Payee:
                  value:
                    type: NETWORK
                    entity_type: INDIVIDUAL
                    user_id: '2022042512674869'
                    base_info:
                      country_code: US
                      last_name: Last
                      middle_name: Middle
                      first_name: First
                    id: '910037275098575475712'
                    status: ACCEPTED
        '400':
          description: Bad Request
    delete:
      summary: Delete a Bank Account Contact
      operationId: delete-payees-payee_id
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Delete a specific bank account contact by the `contact_id`.
      tags:
      - Operations
      parameters: []
  /ew-contacts/bank:
    parameters: []
    post:
      summary: Create a New Bank Account Contact
      operationId: post-payee
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Payee'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountContact'
              examples:
                example-1:
                  value:
                    address:
                      country_code: NL
                      city: gerg
                      postcode: '32432'
                      state: e
                      line2: asda
                      line1: add
                    entity_type: CORPORATE
                    bank_info:
                      account_number: DE75512108001245126199
                      account_currency: EUR
                      bank_country_code: NL
                      swift_code: '45346364363'
                      routing_info:
                      - {}
                      iban: DE75512108001245126199
                      bank_address: NL
                      holder_type: CORPORATE
                      holder_name: dsdfgdfg
                    user_id: '2022042512674869'
                    base_info:
                      country_code: NL
                      corporate_name: dsgdgdsgf
                      email: idra@foxmail.com
                    id: '910036527140438742016'
                    status: ACCEPTED
        '400':
          description: Missing Required Information
          schema:
            type: 'null'
        ? ''
        : schema:
            $ref: '#/definitions/Payee'
      description: 'Create a new bank account `Contact` which will be audited by LianLian Global before that can be used in payout transaction.

        A notification of the audit result will be sent by Webhook after subscribing the payee related event `Contact`.'
      parameters:
      - in: body
        name: body
        schema:
          '0':
            allOf: []
            type: string
          description: ''
          type: object
          x-examples:
            example-1:
              payee_id: string
              payee_type: CORPORATE
              payee_info:
                corporate_name: string
                corporate_registration_number: string
                corporate_contact_number: string
                individual_first_name: string
                individual_last_name: string
                individual_id_number: string
                date_of_birth: string
                email_address: string
              address:
                country_code: string
                city: string
                state: string
                street_address: string
                post_code: string
              bank_account_info:
                account_currency: string
                account_name: string
                account_number: string
                bank_country_code: string
                bank_name: string
                bank_branch_name: string
                bank_address: string
                swift_code: string
                bank_routing_type: SORT
                bank_routing_number: string
              payout_method: LOCAL
              file_id: string
              status: REJECTED
          properties:
            payee_id:
              type: string
              description: Unique identifier for the payee
            payee_type:
              type: string
              description: Payee type, one of `INDIVIDUAL` and `CORPORATE`
              enum:
              - CORPORATE
              - INDIVIDUAL
            payee_info:
              type: object
              description: Payee type, one of INDIVIDUAL and
              properties:
                corporate_name:
                  type: string
                  description: Corporate name, mandatory if `payee_type` = `CORPORATE`
                corporate_registration_number:
                  type: string
                  description: Corporate registratioin number
                corporate_contact_number:
                  type: string
                  description: Contact number for corporate
                individual_first_name:
                  type: string
                  description: Individual first name, mandatory if `payee_type` = `INDIVIDUAL`
                individual_last_name:
                  type: string
                  description: Individual last name, mandatory if `payee_type` = `INDIVIDUAL`
                individual_id_number:
                  type: string
                  description: Personal ID number of Payee
                date_of_birth:
                  type: string
                  description: Payee's date of birth
                email_address:
                  type: string
                  description: Payee email
            address:
              type: object
              description: Payee's address detail
              properties:
                country_code:
                  type: string
                  description: Payee's country code, two-letter [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code.
                city:
                  type: string
                  description: Payee's city
                state:
                  type: string
                  description: Payee's state
                street_address:
                  type: string
                  description: Payee's street address
                post_code:
                  type: string
                  description: Payee's post code
            bank_account_info:
              type: object
              properties:
                account_currency:
                  type: string
                  description: Account currency(in three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format)
                account_name:
                  type: string
                  description: Account name
                account_number:
                  type: string
                  description: Account number
                bank_country_code:
                  type: string
                  description: Bank country code, two-letter [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code.
                bank_name:
                  type: string
                  description: Bank name
                bank_branch_name:
                  type: string
                  description: Bank branch name
                bank_address:
                  type: string
                  description: Bank detail address
                swift_code:
                  type: string
                  description: Bank SWIFT code
                bank_routing_type:
                  type: string
                  description: Routing number type
                  enum:
                  - SORT
                  - ABA
                  - ZENGIN
                  - BSB
                bank_routing_number:
                  type: string
                  description: Routing code
                iban:
                  type: string
                  description: International bank account number
              required:
              - account_currency
              - account_name
              - bank_country_code
              - bank_name
            payout_method:
              type: string
              minLength: 1
            file_id:
              type: string
              minLength: 1
          required:
          - payee_id
          - payee_type
        description: ''
        x-examples: {}
      tags:
      - Operations
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/PayeeRequest
            examples:
              example-1:
                value:
                  id: string
                  type: CORPORATE
                  base_info:
                    corporate_name: string
                    corporate_registration_number: string
                    corporate_contact_number: string
                    first_name: string
                    last_name: string
                    id_number: string
                    date_of_birth: string
                    email: string
                  address:
                    country_code: st
                    city: string
                    state: string
                    line1: string
                    line2: string
                    postcode: string
                    street_address: string
                  bank_info:
                    id: string
                    holder_name: string
                    holder_type: string
                    account_currency: string
                    account_number: string
                    bank_name: string
                    bank_address: string
                    bank_country_code: string
                    branch_name: string
                    bank_phone: string
                    swift_code: string
                    iban: string
                    routing_info:
                    - bank_routing_type: ABA
                      bank_routing_number: string
                  payout_method: LOCAL
                  file_id:
                  - string
                  status: REJECTED
          application/xml:
            schema:
              $ref: '#/components/schemas/PayeeRequest'
        description: ''
  /ew-contacts/bank/merchant-client-id/{merchant_client_id}:
    parameters:
    - schema:
        type: string
      name: merchant_client_id
      in: path
      required: true
    get:
      summary: Get a Bank Account Contact by Merchant Client Id
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountContact'
      operationId: get-ew-network-payees-by-merchant-client-id-merchant_client_id
      description: Get a specific bank account contact by the `merchant_client_id`.
    delete:
      summary: Delete a Bank Account Contact by Merchant Client Id
      tags:
      - Operations
      operationId: delete-ew-bank-account-payees-by-merchant-client-id-merchant_client_id
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Delete a specific bank account contact by the `merchant_client_id`.
  /ew-contacts/clearing-rules:
    parameters: []
    get:
      summary: Clearing Rules
      tags:
      - Operations
      operationId: query-clearing-type-rules
      parameters:
      - schema:
          type: string
        in: query
        name: country_code
        description: Country code of payee's bank account.
        required: true
      - schema:
          type: string
          enum:
          - SWIFT
          - CNAPS
          - SEPA
          - RTGS
          - Wire
          - FastPayment
        in: query
        name: code
        description: Clearing menthod code.
        required: true
      - schema:
          type: string
        in: query
        name: send_currency
        description: Currency of payment to payee's bank account (in three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format).
        required: true
      - schema:
          type: string
          enum:
          - INDIVIDUAL
          - CORPORATE
        in: query
        name: entity_type
        description: Payee bank account type, one of `INDIVIDUAL` and `CORPORATE`
        required: true
      description: Query Clearing Rules
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clearing'
  /ew-contacts/network/{id}:
    parameters:
    - schema:
        type: string
      name: id
      in: path
      required: true
    get:
      summary: Get a Network Contact
      tags:
      - Operations
      operationId: get-beneficiary-info
      description: Get a specific network contact by the `contact_id`.
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Payee'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkPayee'
              examples:
                Example 1:
                  value:
                    id: string
                    merchant_client_id: string
                    entity_type: CORPORATE
                    base_info:
                      country_code: string
                      corporate_name: string
                      email: string
                      first_name: string
                      middle_name: string
                      last_name: string
                      nickname: string
                    file_folder_id: string
                    status: REJECTED
                    additional_info:
                    - name: string
                      value: string
                    user_kyc_name: string
                    user_kyc_status: ACCEPTED
        '400':
          description: Bad Request
    delete:
      summary: Delete a Network Contact
      operationId: delete-payees-payee_id
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Delete a specific network contact by the `contact_id`.
      tags:
      - Operations
      parameters: []
  /ew-contacts/network:
    parameters: []
    post:
      summary: Create a New Network Contact
      operationId: post-ew-payees-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkPayee'
      tags:
      - Operations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: NETWORK Payee
              properties:
                entity_type:
                  type: string
                  description: Payee type, one of `INDIVIDUAL` and `CORPORATE`
                  enum:
                  - INDIVIDUAL
                  - CORPORATE
                merchant_client_id:
                  type: string
                  description: Merchant ID as known by the client platform.
                base_info:
                  $ref: ./CommonModel.json#/components/schemas/NetworkBaseInfo
                additional_info:
                  type: array
                  items:
                    $ref: ./Items.json#/components/schemas/Item
              required:
              - entity_type
              - merchant_client_id
              - base_info
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      description: 'Create a new network `Payee` which will be audited by LianLian Global before that can be used in payout transaction.

        A notification of the audit result will be sent by Webhook after subscribing the payee related event `Payee`.'
  /ew-contacts/network/merchant-client-id/{merchant_client_id}:
    parameters:
    - schema:
        type: string
      name: merchant_client_id
      in: path
      required: true
    get:
      summary: Get a Network Contact by Merchant Client Id
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkPayee'
              examples: {}
      operationId: get-ew-network-payees-by-merchant-client-id-id
      description: Get a specific network payee by the `merchant_client_id`.
    delete:
      summary: Delete a Network Contact by Merchant Client Id
      tags:
      - Operations
      operationId: delete-ew-network-payees-by-merchant-client-id-id
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: Delete a specific network payee by the `merchant_client_id`.
  /ew-payouts/{request_id}:
    parameters:
    - schema:
        type: string
      name: request_id
      in: path
      required: true
      description: Request ID
    get:
      summary: Get Payout by Request ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Payout'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payout'
        '400':
          description: Bad Request
      operationId: get-payout-payout_id
      description: Get the detail of a payout transaction by Request ID.
  /ew-payouts:
    parameters: []
    post:
      summary: Create a Payout
      operationId: post-payout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '400':
          description: Bad Request
      description: "Create a payout to a payee.  \nThe successful creation only represents the successful receipt of the distribution order by LianLian Global, does not means the transaction succeed. You can use `Get Payout by Request ID` API to obtain transaction results.\n\nIf you want to receive notification of transaction results, you can subscribe to payout related event `Payout`.\n \n[Note] Payment can include exchange when `send_currency `and `pay_currency` are different, and conversion is not included when `send_currency` matches `pay_currency`.  \n\nThe payer is responsible for the payment fee."
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/PayoutRequest
            examples: {}
        description: ''
      tags:
      - Operations
  /ew-payouts-to-app:
    parameters: []
    post:
      summary: Create a payout to APP
      operationId: post-payouts-by-contract
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
      description: "Create a payout to APP(this APP will onboarding Ewallet).  \nThe successful creation only represents the successful receipt of the distribution order by LianLian Global, does not means the transaction succeed. You can use `Get Payout by Request ID` API to obtain transaction results.\n\nIf you want to receive notification of transaction results, you can subscribe to payout related event `Payout`.\n \n[Note] Payment can include exchange when `send_currency `and `pay_currency` are different, and conversion is not included when `send_currency` matches `pay_currency`.  \n\nThe payer is responsible for the payment fee."
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./CommonModel.json#/components/schemas/PayoutRequest2me
      tags:
      - Operations
  /ew-request-payments/{request_id}:
    parameters:
    - schema:
        type: string
      name: request_id
      in: path
      required: true
      description: Request ID
    get:
      summary: Get Request Payment by Request ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPayment'
              examples: {}
        '404':
          description: Request Payment Not Found
      operationId: get-request-payment-request_id
      description: Retrieve the information of the `Request Payment` with the matching Request ID.
      x-internal: false
  /ew-request-payments:
    parameters: []
    post:
      summary: Create a New Request Payment
      tags:
      - Operations
      operationId: post-request-payment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestPayment'
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The idempotent value generated by the client must be unique on each request. Requests with the same `request_id` will be rejected. The parameter contains a maximum of 128 characters.
                payer_id:
                  type: string
                  description: Unique identifier for the `Contact` Object.
                amount:
                  type: string
                  description: The amount to collect, main currency unit, rounded up to 2 decimal places.
                currency:
                  type: string
                  format: date
                  description: The currency to collect (in three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format).
                purpose:
                  type: string
                  description: Purpose of `Request Payment`.
                file_folder_id:
                  type: string
                  description: The ID of `File Folder` object.
                reference:
                  type: string
                  description: This is the postscript information visible to the payer.
                expire_time:
                  type: integer
                  description: Expire time for this `Request Payment`. Measured in milliseconds since the Unix epoch.
                additional_info:
                  type: array
                  description: Set of key-value pairs that you can attach the business information according to Lianlian's requirements.
                  items:
                    $ref: ./Items.json#/components/schemas/Item
              required:
              - request_id
              - payer_id
              - amount
              - currency
              - purpose
              - expire_time
            examples: {}
          application/xml:
            schema:
              type: object
              properties: {}
        description: Post the necessary fields for the API to create a new `Request Payment`.
      description: Create a new request payment.
  /ew-request-payments/url:
    post:
      summary: Request Payment Url
      tags:
      - Operations
      operationId: post-ew-request-payments-url
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    request_id: string
                    amount: string
                    currency: string
                    purpose: string
                    reference: string
                    expire_time: string
                    additionalInfo:
                    - name: string
                      value: string
                    return_url: string
                properties:
                  request_id:
                    type: string
                    description: The idempotent value generated by the client must be unique on each request.
                  amount:
                    type: string
                    description: The amount to collect, main currency unit, rounded up to 2 decimal places.
                  currency:
                    type: string
                    description: The currency to collect (in three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format).
                  purpose:
                    type: string
                    description: Purpose of `Request Payment`.
                  reference:
                    type: string
                    description: This is the postscript information visible to the payer.
                  expire_time:
                    type: string
                    description: Expire time for this `Request Payment`. Measured in milliseconds since the Unix epoch.
                  additionalInfo:
                    type: array
                    description: Set of key-value pairs that you can attach the business information according to Lianlian's requirements.
                    items:
                      $ref: ./Items.json#/components/schemas/Item
                  return_url:
                    type: string
                    description: The URL where the payer is redirected after he or she approves the `Request Payment`.
                  request_payment_url:
                    type: string
                    description: The `Request Payment` URL for payer to pay on the Dashboard.
                required:
                - request_id
                - amount
                - currency
                - purpose
                - expire_time
                - request_payment_url
      description: Create a `Request Payment` URL for a Payer.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The idempotent value generated by the client must be unique on each request. Requests with the same `request_id` will be return last `Request Payment` URL if exists. The parameter contains a maximum of 128 characters.
                amount:
                  type: string
                  description: The amount to collect, main currency unit, rounded up to 2 decimal places.
                currency:
                  type: string
                  description: The currency to collect (in three-letter [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format).
                purpose:
                  type: string
                  description: Purpose of `Request Payment`.
                reference:
                  type: string
                  description: This is the postscript information visible to the payer.
                expire_time:
                  type: integer
                  description: 'Expire time for this `Request Payment`. Measured in milliseconds since the Unix epoch. It''s a `long` type number. '
                additional_info:
                  type: array
                  description: Set of key-value pairs that you can attach the business information according to Lianlian's requirements.
                  items:
                    $ref: ./Items.json#/components/schemas/Item
                return_url:
                  type: string
                  description: The URL where the payer is redirected after he or she approves the `Request Payment`.
                merchant_client_id:
                  type: string
                  description: 'Merchant ID as known by the client platform.

                    If `merchant_client_id` value is not null, means that only this client can pay the request by `return_url`.'
              required:
              - request_id
              - amount
              - currency
              - purpose
              - expire_time
              - return_url
            examples:
              example-1:
                value:
                  request_id: string
                  amount: string
                  currency: string
                  purpose: string
                  reference: string
                  expire_time: string
                  additionalInfo:
                  - name: string
                    value: string
                  return_url: string
  /global/common/v1/account:
    post:
      summary: Query Currency Account Available Balance
      operationId: post-user
      responses:
        '200':
          description: currency balance
          schema:
            $ref: '#/definitions/Balance'
        '400':
          description: Missing Required Information
          schema:
            type: 'null'
        '409':
          description: Email Already Taken
          schema:
            type: 'null'
      description: query currency balance
      parameters:
      - in: body
        name: body
        schema:
          type: object
          properties:
            currency:
              type: string
          required:
          - currency
        description: Post the necessary fields for the API to query balance.
        x-examples:
          Query Currency Balance Fellow:
            currency: USD
      x-stoplight:
        id: shbz1own9p89n
      tags:
      - Operations
  /global/common/v1/account/list:
    post:
      summary: Retrieve all balances
      responses:
        '200':
          description: currency balance
          schema:
            type: array
            items:
              type: object
              properties:
                availableBalance:
                  type: string
                  description: Unit is Yuan. For example, the value is 1.11CNY.
                currency:
                  type: string
            x-examples:
              Example 1:
              - availableBalance: string
                currency: string
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Missing Required Information
          schema:
            type: 'null'
        '409':
          description: Email Already Taken
          schema:
            type: 'null'
      operationId: post-user-2
      x-stoplight:
        id: g4o1gdm9c1n8w
      parameters:
      - in: body
        name: body
        schema:
          type: object
          properties:
            currency:
              x-stoplight:
                id: 2h9cjjcl2eb1z
              example: USD
              type: string
              description: if not transferred currency filed, query all currencies
              x-nullable: true
          description: if not transferred currency filed, query all currencies
        x-examples:
          Example 1: {}
          Example 2:
            currency: USD
      description: Retrieve all balances
      tags:
      - Operations
  /documents:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/document'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 510002 | Unsupported document type. |

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          schema:
            type: object
        '500':
          description: ''
      summary: Upload Document
      description: "Upload document to Lianlian Pay system. \n\nReturn type is `Document` object. `Document.id` should be used in other APIs if a support document is required.\n\nInterface Maximum Concurrency：300"
      operationId: upload-document
      tags:
      - Operations
      parameters:
      - in: body
        name: body
        schema:
          type: object
          properties:
            file:
              description: The file itself
              type: object
            referenceId:
              type: string
              description: Document size
          required:
          - file
      - in: header
        name: Idempotency-Key
        type: string
        description: '**Optional**


          A unique value generated by the client which the server uses to recognize subsequent retries of the same request.'
  /documents/{documentId}:
    parameters:
    - name: documentId
      in: path
      type: string
      required: true
    get:
      responses:
        '200':
          description: ''
          schema:
            type: string
            format: byte
            description: Document data streaming
        '404':
          description: ''
        '500':
          description: ''
      summary: Download Document
      description: "Download document file by `dcoumentId`. \n\nInterface Maximum Concurrency：300\n"
      operationId: download-document
      tags:
      - Operations
  /events:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              total:
                type: integer
                description: Total event count
              list:
                type: array
                description: Event object list
                items:
                  $ref: '#/definitions/Event'
            required:
            - total
            - list
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          schema:
            type: object
            properties: {}
        '500':
          description: ''
      summary: Get Event List
      description: 'Get a list of Lianlian Pay system generated events. Empty list will be returned if there is no applicable events.


        Return type is List<`Event`>


        Interface Maximum Concurrency：300'
      operationId: get-event-list
      tags:
      - Operations
      parameters:
      - in: query
        name: topic
        type: string
        description: Event topic defined in Lianlian Pay's system.
      - in: query
        name: pageNum
        type: integer
        description: If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.
        allowEmptyValue: true
        minimum: 1
        default: 1
      - in: query
        name: pageSize
        type: integer
        description: If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records
        allowEmptyValue: true
        default: 20
  /events/{eventId}:
    parameters:
    - name: eventId
      in: path
      type: string
      required: true
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Event'
        '404':
          description: ''
        '500':
          description: ''
      summary: Get Event
      description: 'Get a Lianlian Pay system generated event by `eventId`


        Return type is `Event` object


        Interface Maximum Concurrency：300'
      tags:
      - Operations
      operationId: get-event
  /exchange/{exchangeId}:
    parameters:
    - schema:
        type: string
      name: exchangeId
      in: path
      required: true
    get:
      summary: Get Exchange Info
      tags:
      - Operations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
              examples:
                Get User Alice Smith:
                  value:
                    id: 142
                    firstName: Alice
                    lastName: Smith
                    email: alice.smith@gmail.com
                    dateOfBirth: '1997-10-31'
                    emailVerified: true
                    signUpDate: '2019-08-24'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
        '500':
          description: Internal Server Error
      operationId: ''
      description: 'Get Exchange Info Request, `exchange` object will be returned


        Interface Maximum Concurrency：300'
  /exchange:
    parameters: []
    post:
      summary: Create a Currency Exchange
      operationId: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exchange'
            application/xml:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                type: object
                properties: {}
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 156002| The Payee does not exist |

            | 156003| Payee verification failed |

            | 156004| Payee verification processing |

            | 156010| Duplicate transactionId |

            | 156015| payeeBankAccount is not supported |

            | 156008| payee rejected by blacklist|'
          content: {}
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exchangeId:
                  type: string
                  description: Unique Transaction ID From Merchant's System
                  maxLength: 32
                exchangeType:
                  type: string
                  description: 'Exchange Type, one of

                    |Code|Description|

                    |----|----|

                    |FX|Currency conversion|'
                  enum:
                  - FX
                pricingCurrency:
                  type: string
                  description: Pricing Currency
                  minLength: 3
                  maxLength: 3
                sourceCurrency:
                  type: string
                  description: Orginal Currency
                  minLength: 3
                  maxLength: 3
                sourceAmount:
                  type: string
                  description: Original Currency Amount, mandatory if `pricingCurrency` = `sourceCurrency`
                  maxLength: 10
                targetCurrency:
                  type: string
                  description: Distribute Currency
                  minLength: 3
                  maxLength: 3
                targetAmount:
                  type: string
                  description: Distribute Currency Amount, mandatory if `pricingCurrency` = `targetCurrency`
                  maxLength: 10
                rateId:
                  type: string
                  description: Rate ID, if you want to use a guaranteed rate to do currency exchange, you must supply a rate ID via `Create LockFX Rate` API.
                payeeId:
                  type: string
                  description: Unique Payee ID in Merchant's Syetem
                  maxLength: 32
              required:
              - exchangeId
              - exchangeType
              - pricingCurrency
              - sourceCurrency
              - targetCurrency
            examples: {}
        description: ''
      description: 'Create currency exchange request, result will be return via webhook. Merchant can also use `Get Exchange Info` API to retrieve coresponding request results.


        Interface Maximum Concurrency：300'
      tags:
      - Operations
  /funding:
    parameters: []
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              fundings:
                type: array
                items:
                  $ref: '#/definitions/Funding'
              totalCount:
                type: string
                description: Total count of authorization records
              pageNum:
                type: string
                description: if nonzero, skip this number of results before returning data. Used with pageSize to provide pagination for large datasets
              pageSize:
                type: string
                description: if nonzero, return no more than this number of results. Used with pageNum to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 100 records(default to 20 records)
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      summary: Get List of Fundings
      tags:
      - Operations
      description: 'Get List of Fundings detail


        Interface Maximum Concurrency：300'
      parameters:
      - type: string
        in: query
        name: beginTime
        description: beginning time of funding created, in format of timestamp and units are seconds
        required: true
      - type: string
        in: query
        name: endTime
        description: ending time of funding created, in format of timestamp and units are seconds
        required: true
      - type: string
        in: query
        name: pageSize
        description: if nonzero, return no more than this number of results. Used with pageNum to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records
      - type: string
        in: query
        name: pageNum
        description: if nonzero, skip this number of results before returning data. Used with pageSize to provide pagination for large datasets
  /funding/{fundingId}:
    parameters:
    - type: string
      name: fundingId
      in: path
      required: true
      description: Unique Funding ID From Merchant's System
      maxLength: 32
    get:
      summary: Get Funding by ID
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Funding'
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Funding'
      operationId: get-funding-fundingId
    put:
      summary: Return funding
      operationId: put-funding-fundingId
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Funding'
        '400':
          description: Bad Request
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      tags:
      - Operations
  /marketrate:
    parameters: []
    get:
      summary: Get indicative market rate
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/rate'
      operationId: get-marketRate
      parameters:
      - type: string
        in: query
        name: sourceCurrency
        required: true
        description: Source Currency
        maxLength: 3
        minLength: 3
      - type: string
        in: query
        name: targetCurrency
        required: true
        description: Target Currency
        maxLength: 3
        minLength: 3
      - type: string
        in: query
        name: quoteCode
        description: Quote code assigned by LianLian
        required: true
      - type: string
        in: query
        name: tenor
        description: tenor
        required: true
      description: Get an indicative market quote for the buy/sell currency
  /lockrate:
    get:
      summary: Create LockFX Rate
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/rate'
      operationId: get-lockrate
      parameters:
      - type: string
        in: query
        name: sourceCurrency
        required: true
        maxLength: 3
        minLength: 3
        description: Source Currency
      - type: string
        in: query
        name: targetCurrency
        required: true
        maxLength: 3
        minLength: 3
        description: Target Currency
      - type: string
        in: query
        name: quoteCode
        required: true
        description: Quote Code assigned by Lianlian
      - type: string
        in: query
        name: tenor
        required: true
        description: tenor
      description: The Create LockFX Rate gives the user a guaranteed rate for an agreed period of time.
  /transaction:
    post:
      summary: Create a transaction
      operationId: post-transaction
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/transaction'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 156005| The payeeId does not exist |

            | 156006| Payee verification failed |

            | 156007| Payee verification processing |

            | 159001| Duplicate transactionId |

            | 159002| payeeBankAccount is not supported |'
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      parameters:
      - in: body
        name: body
        schema:
          title: Transaction
          type: object
          description: Transaction info record object in Lianlian Pay's system
          x-tags:
          - Models
          properties:
            transactionId:
              type: string
              description: Unique Transaction ID From Merchant's System
              maxLength: 32
            pricingCurrency:
              type: string
              description: Pricing Currency
              minLength: 3
              maxLength: 3
            sourceCurrency:
              type: string
              description: Orginal Currency
              minLength: 3
              maxLength: 3
            sourceAmount:
              type: string
              description: Original Currency Amount, mandatory if `pricingCurrency` = `sourceCurrency`
              maxLength: 10
            targetCurrency:
              type: string
              description: Distribute Currency
              minLength: 3
              maxLength: 3
            targetAmount:
              type: string
              description: Distribute Currency Amount, mandatory if `pricingCurrency` = `targetCurrency`
              maxLength: 10
            quoteCode:
              type: string
              description: Quote code assigned by Lianlianpay
            tenor:
              type: string
              enum:
              - REAL_TIME
              - REAL_TIME_HOLD
              - T0
              - T1
              - T2
              description: tenor on which currency conversion will be settled
            fxMode:
              type: string
              description: 'FX Mode

                |Code|Description|

                |----|-----|

                |SPECIFY_RATE|Complete the fx using a guaranteed rate for an agreed period of time|

                |EXCHANGE_RATE|conversion executing at current market rate|'
              enum:
              - SPECIFY_RATE
              - EXCHANGE_RATE
            rateId:
              type: string
              description: Rate ID, if you want to use a guaranteed rate to do currency exchange, you must supply a rate ID via `Create LockFX Rate` API.
            payeeId:
              type: string
              description: Unique Payee ID in Merchant's Syetem
              maxLength: 64
            bankAccountNumber:
              type: string
              maxLength: 64
              description: Payee Bank Account Number
            bankCountryCode:
              type: string
              description: Bank Country Code, referring to column “code” in Appendix Country Code
              enum:
              - CHN
              - HKG
              - NZL
              - JPN
              - USA
              - FRA
              - GBR
              - AUS
              - KOR
              - THA
              - DEU
              - ESP
              minLength: 3
            paymentMethod:
              type: string
              description: "Payment methods, mandatory if `targetCurrency` ≠ `CNY` , one of \n\n|Code|Description|\n|----|----|\n|SWIFT|payment through swift|\n|LOCAL|payment through local method|"
              enum:
              - SWIFT
              - LOCAL
            accountRoutingType:
              type: string
              description: "Routing number type, mandatory if `paymentMethod` = `LOCAL`, one of \n|Code|Description|\n|---|---|\n|ABA|USA local payment routing number|"
              enum:
              - ABA
              maxLength: 16
            routingNumber:
              type: string
              description: Routing number, mandatory if `paymentMethod` = `LOCAL`
              maxLength: 32
            swiftCode:
              type: string
              description: Bank swift code, mandatory if `targetCurrency` ≠ `CNY`
              maxLength: 11
            bankCode:
              type: string
              maxLength: 8
              description: Bank Code, mandatory if ` targetCurrency`  = ` CNY` , Referring to Appendix Bank List
            bankCnapsCode:
              type: string
              maxLength: 16
              description: Payee Bank Cnaps Code, mandatory if ` payeeType`  = ` CORPORATE` and` targetCurrency`  = ` CNY`and Payee Bank are not on the Appendix Bank List
            bankName:
              type: string
              description: Bank name of payee's bank account
              maxLength: 64
            tradeCode:
              type: string
              description: Trade Code, mandatory if ` tragetCurrency`  = ` CNY` ,referring to Appendix Trade Code
              maxLength: 8
            rfb:
              type: string
              description: Reference for Beneficiary
              maxLength: 40
          required:
          - transactionId
          - pricingCurrency
          - sourceCurrency
          - targetCurrency
          - payeeId
          - bankAccountNumber
          - bankCountryCode
          - bankName
        description: ''
      description: 'Create transaction request, result will be return via webhook. Merchant can also use `Get Transaction Info` API to retrieve coresponding request results.


        Interface Maximum Concurrency：300'
      tags:
      - Operations
  /transaction/{transactionId}:
    parameters:
    - type: string
      name: transactionId
      in: path
      required: true
      description: Unique Transaction ID From Merchant's System
      maxLength: 32
    get:
      summary: Get Transaction Info
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/transaction'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      operationId: get-transaction-transactionId
      description: 'Get Transaction Info Request, `transaction` object will be returned


        Interface Maximum Concurrency：300'
  /payee:
    post:
      summary: Create Payee
      operationId: post-payee
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/payee'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 156002 |payeeId duplicate|

            | 156001 | payee rejected by blacklist |'
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      tags:
      - Operations
      description: 'Create Payee request, result will be return via webhook. Merchant can also use `Get Payee Info` API to retrieve coresponding request results.


        Interface Maximum Concurrency：300

        '
      parameters:
      - in: body
        name: body
        schema:
          title: Payee
          type: object
          x-tags:
          - Models
          description: Payee info record object in Lianlian Pay's system
          required:
          - payeeId
          - payeeType
          - payeeCountryCode
          - payeeName
          properties:
            payeeId:
              type: string
              description: Unique Payee ID in Merchant's System
              maxLength: 32
            payeeType:
              type: string
              description: 'Payee Type, one of


                |Code|Description|

                |----|-----|

                |INDIVIDUAL|individual payee|

                |CORPORATE|corporate payee|'
              enum:
              - INDIVIDUAL
              - CORPORATE
              maxLength: 16
            payeeCountryCode:
              type: string
              description: Payee's country code,referring to column “code” in Appendix Country Code
              enum:
              - CHN
              - HKG
              - NZL
              - JPN
              - USA
              - FRA
              - GBR
              - AUS
              - KOR
              - THA
              - DEU
              - ESP
              minLength: 3
              maxLength: 3
            payeeAddress:
              type: object
              description: payee's payee detail
              required:
              - city
              properties:
                city:
                  type: string
                  description: Payee's city
                  maxLength: 32
                streetAddress:
                  type: string
                  description: Payee's street address, mandatory if `payeeCountryCode` ≠ `CHN` and `targetCurrency` ≠`CNY`
                  maxLength: 256
            payeeName:
              type: string
              description: Payee Name
              maxLength: 128
            payeeIdType:
              type: string
              description: 'Payee ID Type, mandatory if `countryCode` = `CHN` and `targetCurrency` = `CNY`, one of


                |Code|Description|

                |---|---|

                |ID_CARD|ID card for individual payee|

                |BUSINESS_REGISTRATION_CERT|business registration certificate for corporate payee|'
              enum:
              - ID_CARD
              - BUSINESS_REGISTRATION_CERT
              maxLength: 32
            payeeIdNo:
              type: string
              maxLength: 64
              description: 'Payee ID Number, mandatory if `countryCode` = `CHN` and `targetCurrency` = `CNY`

                '
            payeeContactName:
              type: string
              description: Payee Contact Name
              maxLength: 64
            payeeContactNumber:
              type: string
              maxLength: 32
              description: Payee Contact Number, Mandatory if `payeeType` = `CORPORATE` and `payeeCountryCode` = `CHN` and `targetCurrency` = `CNY`
            payeeEmailAddress:
              type: string
              maxLength: 48
              description: Payee Email Address
            payeeBirthDay:
              type: string
              description: 'Payee date of birth, format : yyyyMMdd'
              minLength: 8
              maxLength: 8
            payeePhone:
              type: string
              x-stoplight:
                id: 2n7vci5eu8d54
              description: "mandatory if transaction go through `Thunes` channel and `payeeCountryCode` ≠ `CHN` \r\nand `targetCurrency` = `KRW`or`JPY`\r\nformat in accordance with the international standard format and carry the international area code"
            payeeFirstName:
              type: string
              x-stoplight:
                id: 3p1b1esxcx53l
              description: "mandatory if transaction go through `Thunes` channel and `payeeCountryCode` ≠ `CHN`\r\nand `payeeType`= `INDIVIDUAL` and `targetCurrency` = `BRL`"
              maxLength: 64
            payeeLastName:
              type: string
              x-stoplight:
                id: s3ozjrd0ylf13
              maxLength: 64
              description: "mandatory if transaction go through `Thunes` channel and `payeeCountryCode` ≠ `CHN`\r\nand `payeeType`= `INDIVIDUAL` and `targetCurrency` = `BRL`"
            payeeTaxId:
              type: string
              x-stoplight:
                id: dcqlzpjz1hne6
              description: "enterprise tax number,mandatory if transaction go through `Thunes` channel and `payeeCountryCode` ≠ `CHN`\r\nand `payeeType`= `CORPORATE` and `targetCurrency` = `BRL`"
        description: ''
  /payee/{payeeId}:
    parameters:
    - type: string
      name: payeeId
      in: path
      required: true
      description: Unique Payee ID in Merchant's System
      maxLength: 32
    get:
      summary: Get Payee Info
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/payee'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      operationId: get-payee-payeeId
      description: 'Get Payee Info Request, `payee` object will be returned


        Interface Maximum Concurrency：300'
    put:
      summary: Update the Payee Info
      operationId: put-payee-payeeId
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/payee'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 156003 |payeeType cannot be changed|

            | 156004 | Payee status should be ''FAILED'' or ''ACCEPTED'' |'
          schema:
            $ref: '#/definitions/payee'
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      description: 'Update the payeeId Infomation if the audit status of the payee is failed.


        Interface Maximum Concurrency：300'
      parameters:
      - in: body
        name: body
        schema:
          title: Payee
          type: object
          x-tags:
          - Models
          description: Payee info record object in Lianlian Pay's system
          required:
          - payeeType
          - payeeCountryCode
          - payeeName
          properties:
            payeeType:
              type: string
              description: 'Payee Type, one of


                |Code|Description|

                |----|-----|

                |INDIVIDUAL|individual payee|

                |CORPORATE|corporate payee|'
              enum:
              - INDIVIDUAL
              - CORPORATE
              maxLength: 16
            payeeCountryCode:
              type: string
              description: Payee's country code,referring to column “code” in Appendix Country Code
              enum:
              - CHN
              - HKG
              - NZL
              - JPN
              - USA
              - FRA
              - GBR
              - AUS
              - KOR
              - THA
              - DEU
              - ESP
              minLength: 3
              maxLength: 3
            payeeAddress:
              type: object
              description: payee's payee detail
              required:
              - city
              properties:
                city:
                  type: string
                  description: Payee's city
                  maxLength: 32
                streetAddress:
                  type: string
                  description: Payee's street address, mandatory if `payeeCountryCode` ≠ `CHN` and `targetCurrency` ≠`CNY`
                  maxLength: 256
            payeeName:
              type: string
              description: Payee Name
              maxLength: 64
            payeeIdType:
              type: string
              description: 'Payee ID Type, mandatory if `countryCode` = `CHN` and `targetCurrency` = `CNY`, one of


                |Code|Description|

                |---|---|

                |ID_CARD|ID card for individual payee|

                |BUSINESS_REGISTRATION_CERT|business registration certificate for corporate payee|'
              enum:
              - ID_CARD
              - BUSINESS_REGISTRATION_CERT
              maxLength: 32
            payeeIdNo:
              type: string
              maxLength: 64
              description: 'Payee ID Number, mandatory if `countryCode` = `CHN` and `targetCurrency` = `CNY`

                '
            payeeContactName:
              type: string
              description: Payee Contact Name
              maxLength: 64
            payeeContactNumber:
              type: string
              maxLength: 32
              description: Payee Contact Number, Mandatory if `payeeType` = `CORPORATE` and `payeeCountryCode` = `CHN` and `targetCurrency` = `CNY`
            payeeEmailAddress:
              type: string
              maxLength: 48
              description: Payee Email Address
            payeeBirthDay:
              type: string
              description: 'Payee date of birth, format : yyyyMMdd'
              minLength: 8
              maxLength: 8
        description: ''
      tags:
      - Operations
  /receipt:
    post:
      summary: Create Receipt
      operationId: ''
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transactionId:
                  type: string
                  x-stoplight:
                    id: xs6onez4dfb4x
              required:
              - transactionId
      tags:
      - Operations
  /receipt/{transactionId}:
    parameters:
    - schema:
        type: string
      name: transactionId
      in: path
      required: true
    get:
      summary: Get Receipt Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
      operationId: ''
      tags:
      - Operations
  /tradefile:
    post:
      summary: Create Trade File
      operationId: post-tradefile
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/trade-file'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 156005 | The Payee does not exist |

            | 156006| Payee verification failed |

            | 156007| Payee verification processing|

            | 158001 | tradeFileId duplicate |

            | 158002 | trade file number over limit |'
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      parameters:
      - in: body
        name: body
        schema:
          type: object
          required:
          - tradeFileId
          - tradeOrderId
          - transactionId
          - payeeId
          - payerName
          - payerCountryCode
          - tradeType
          - tradeTime
          - tradeCurrency
          - tradeAmount
          - tradeName
          - tradeCount
          properties:
            tradeFileId:
              type: string
              description: Unique Trade File ID in Merchant's System
              maxLength: 32
            tradeOrderId:
              type: string
              description: Order/Contract/Invoice reference number
              maxLength: 64
            transactionId:
              type: string
              maxLength: 32
              description: Unique Transaction ID From Merchant's System that refers to this trade file
            payeeId:
              type: string
              description: Unique Payee ID in Merchant's System
              maxLength: 32
            payerName:
              type: string
              maxLength: 64
              description: Name of the Payer, corporate name or name of an individual
            payerCountryCode:
              type: string
              description: Residence country/region code of payer, referring to column “code” in Appendix Country Code
              minLength: 3
              maxLength: 3
            tradePlatformName:
              type: string
              description: 'Platform on which the transaction took place,

                Mandatory if trade code is 122030'
              maxLength: 128
            tradePlatformCountry:
              type: string
              description: Platform Country on which the transaction took place
              maxLength: 128
            tradePaymentChannel:
              type: string
              description: Payment Channel used for the transaction
              maxLength: 128
            tradeType:
              type: string
              description: "Trade Type, one of \n\n|Code|Description|\n|---|---|\n|0|Goods|\n|1|Services|"
              enum:
              - 0
              - 1
            tradeTime:
              type: string
              description: Trade Time
              maxLength: 25
            tradeCurrency:
              type: string
              description: Trade Currency
              minLength: 3
              maxLength: 3
            tradeAmount:
              type: string
              description: Trade Amount
              maxLength: 10
            tradeName:
              type: string
              description: 'Trade Name


                |TradeType|Description|

                |---|---|

                |0|Name of goods|

                |1|Type of service, referring to column “Type of Service” of Appendix Requirement for Service Details of Service Trade|

                '
              maxLength: 512
            tradeCount:
              type: string
              description: 'Trade Count


                |TradeType|Description|

                |---|---|

                |0|Quantity of goods|

                |1|Quantiry of service|

                '
              maxLength: 64
            goodsCarrier:
              type: string
              description: Carrier for goods trade, mandatory if tradeType=0
              maxLength: 512
            serviceDetail:
              type: string
              description: Details of service provided, mandatory if tradeType=1
              maxLength: 512
            serviceTime:
              type: string
              description: Time of service provided, mandatory if tradeType=1
              maxLength: 25
            tradeCode:
              type: string
              description: Code for trade type, referring to the Appendix Trade Code
              maxLength: 8
            attachment:
              type: string
              description: 'Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most.

                Sample：2018072227039320,2018072227039320'
              maxLength: 256
            additionalInfo:
              type: object
              description: Addition info related to this trade file
              properties:
                isInstallment:
                  type: boolean
                  description: Wether the order is installed
                isFinalPay:
                  type: boolean
                  description: Wether the payment is final pay or not
                totalOrderAmount:
                  type: string
                  description: If installments are involved, enter the total amount of the order
            eduInfo:
              $ref: '#/definitions/edu-info'
            hsCode:
              type: string
              x-stoplight:
                id: ovikuzdpumi72
              description: HS Code
        description: ''
      tags:
      - Operations
      description: 'Create Trade File request


        Interface Maximum Concurrency：300'
  /tradefile/{tradeFileId}:
    parameters:
    - type: string
      name: tradeFileId
      in: path
      required: true
      description: Unique Trade File ID in Merchant's System
      maxLength: 32
    get:
      summary: Get Trade File Info
      tags:
      - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/trade-file'
        '201':
          description: Created
          schema:
            type: object
            properties: {}
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          schema:
            type: object
            properties: {}
        '404':
          description: ''
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      operationId: get-tradefile-tradeFileId
      description: 'Get Trade File Info Request, `trade-file` object will be returned


        Interface Maximum Concurrency：300'
  /underlytradefile:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '400':
          description: ''
        '500':
          description: ''
      summary: Create Underlying Trade File
      tags:
      - Operations
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        schema:
          title: Underlying Trade File
          type: object
          description: Underlying Trade File info record object in Lianlian Pay's system
          x-tags:
          - Models
          properties:
            underlyTradeFileId:
              type: string
              description: Underlying Trade File ID
            tradeFileId:
              type: string
              description: Unique Trade File ID in Merchant's System
              maxLength: 64
            payeeId:
              type: string
              description: Unique Payee ID in Merchant's System
              maxLength: 64
            payerId:
              type: string
              description: Payer ID in Merchant's System
              maxLength: 64
            payerName:
              type: string
              maxLength: 64
              description: Name of the Payer, corporate name or name of an individual
            payerCountryCode:
              type: string
              description: Residence country/region code of payer, referring to column “code” in Appendix Country Code
              minLength: 3
              maxLength: 3
            tradeType:
              type: string
              description: "Trade Type, one of \n\n|Code|Description|\n|---|---|\n|0|Goods|\n|1|Services|"
              enum:
              - 0
              - 1
            tradeTime:
              type: string
              description: Trade Time
              maxLength: 25
            tradeCurrency:
              type: string
              description: Trade Currency
              minLength: 3
              maxLength: 3
            tradeAmount:
              type: string
              description: Trade Amount
              maxLength: 10
            tradeName:
              type: string
              description: 'Trade Name


                |TradeType|Description|

                |---|---|

                |0|Name of goods|

                |1|Type of service, referring to column “Type of Service” of Appendix Requirement for Service Details of Service Trade|

                '
              maxLength: 512
            tradeCount:
              type: string
              description: 'Trade Count


                |TradeType|Description|

                |---|---|

                |0|Quantity of goods|

                |1|Quantiry of service|

                '
              maxLength: 64
            goodsCarrier:
              type: string
              description: Carrier for goods trade
              maxLength: 512
            serviceDetail:
              type: string
              description: Details of service provided
              maxLength: 512
            serviceTime:
              type: string
              description: Time of service provided
              maxLength: 25
            attachment:
              type: string
              description: 'Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most.

                Sample：2018072227039320,2018072227039320'
              maxLength: 256
          required:
          - underlyTradeFileId
          - tradeFileId
          - payeeId
          - payerId
          - payerName
          - payerCountryCode
          - tradeType
          - tradeTime
          - tradeCurrency
          - tradeAmount
          - tradeName
          - tradeCount
  /underlytradefile/{underlyTradeFileId}:
    parameters:
    - name: underlyTradeFileId
      in: path
      type: string
      required: true
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '404':
          description: ''
        '500':
          description: ''
      summary: Get Underlying Trade File
      tags:
      - Operations
      produces:
      - application/json
      consumes:
      - application/json
  /directransaction:
    parameters: []
    post:
      summary: Create a transation for the provided payee info
      operationId: post-transaction
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/directransaction'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 159001| Duplicate transactionId |

            | 159002| payeeBankAccount is not supported |'
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      parameters:
      - in: body
        name: body
        schema:
          title: Transaction
          type: object
          description: Transaction info record object in Lianlian Pay's system
          x-tags:
          - Models
          required:
          - transactionId
          - pricingCurrency
          - sourceCurrency
          - targetCurrency
          - payeeType
          - payeeName
          - payeeCountryCode
          - payeeAddress
[...]
