openapi: 3.2.0
info:
  title: Lianlian Global 接口 API
  version: '1.0'
  description: 'Operations tagged 接口 across 44 of this provider''s published API definitions: lianlian-global-b2b-cross-border-distribution-import-openapi.yml, lianlian-global-b2b-cross-border-distribution-openapi.yml, lianlian-global-b2b-cross-border-document-openapi.yml, lianlian-global-b2b-cross-border-event-import-openapi.yml, lianlian-global-b2b-cross-border-event-openapi.yml, lianlian-global-b2b-cross-border-funding-import-openapi.yml, lianlian-global-b2b-cross-border-funding-openapi.yml, lianlian-global-b2b-cross-border-fxrate-openapi.yml, lianlian-global-b2b-cross-border-payee-openapi.yml, lianlian-global-b2b-cross-border-payer-openapi.yml, lianlian-global-b2b-cross-border-payout-import-openapi.yml, lianlian-global-b2b-cross-border-payout-openapi.yml, lianlian-global-b2b-cross-border-shop-openapi.yml, lianlian-global-b2b-cross-border-tradefile-import-openapi.yml, lianlian-global-b2b-cross-border-tradefile-openapi.yml, lianlian-global-b2b-cross-border-virtualaccount-import-openapi.yml, lianlian-global-b2b-cross-border-virtualaccount-openapi.yml, lianlian-global-b2b-cross-border-webhook-import-openapi.yml, lianlian-global-b2b-cross-border-webhook-openapi.yml, lianlian-global-b2b-inflow-payout-distribution-openapi.yml, lianlian-global-b2b-inflow-payout-document-openapi.yml, lianlian-global-b2b-inflow-payout-event-openapi.yml, lianlian-global-b2b-inflow-payout-funding-openapi.yml, lianlian-global-b2b-inflow-payout-fxrate-openapi.yml, lianlian-global-b2b-inflow-payout-hk-payee-openapi.yml, lianlian-global-b2b-inflow-payout-payee-openapi.yml, lianlian-global-b2b-inflow-payout-payout-openapi.yml, lianlian-global-b2b-inflow-payout-shop-openapi.yml, lianlian-global-b2b-inflow-payout-tradefile-openapi.yml, lianlian-global-b2b-inflow-payout-virtualaccount-openapi.yml, lianlian-global-b2b-inflow-payout-webhook-openapi.yml, lianlian-global-connect-ota-account-openapi.yml, lianlian-global-connect-ota-document-openapi.yml, lianlian-global-connect-ota-event-openapi.yml, lianlian-global-connect-ota-funding-openapi.yml, lianlian-global-connect-ota-fxrate-openapi.yml, lianlian-global-connect-ota-member-openapi.yml, lianlian-global-connect-ota-payout-openapi.yml, lianlian-global-connect-ota-tradefile-openapi.yml, lianlian-global-connect-ota-webhook-openapi.yml, lianlian-global-llp-api-common-openapi.yml, lianlian-global-llp-api-userapi-regular-openapi.yml, lianlian-global-llp-api-userapi-supplier-openapi.yml, lianlian-global-llp-api-userapi-wallet-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
- url: http://global-api-sandbox.lianlianpay-inc.com/disbursement/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import
- url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export
- url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
- url: http://global-api-sandbox.lianlianpay-inc.com/connect/v1
- url: https://gtest-open-api.lianlianpay-inc.com/api/
- url: https://global-api-sandbox.lianlianpay-inc.com/supplier/v1
- url: https://global-api-sandbox.lianlianpay-inc.com/
tags:
- name: 接口
paths:
  /distribute:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model'
      summary: 提交分账指令
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 分账
              description: 连连侧分账指令对象
              properties:
                distributeId:
                  type: string
                  description: '商户侧分账指令唯一编号

                    '
                  maxLength: 64
                tradeFileId:
                  type: string
                  description: 平台侧订单唯一编号
                  maxLength: 64
                distributeCurrency:
                  type: string
                  description: 分账币种，参考附录币种代码
                  minLength: 3
                  maxLength: 3
                distributeAmount:
                  type: string
                  description: 分账金额
                  maxLength: 10
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /distribute/{distributeId}:
    parameters:
    - name: distributeId
      in: path
      required: true
      description: 商户侧分账指令唯一编号
      schema:
        type: string
        maxLength: 64
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model'
      summary: 查询分账指令信息
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /documents:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 510002 | Unsupported document type. |

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          content:
            application/json:
              schema:
                type: object
        '500':
          description: ''
      summary: 上传文件
      description: '上传文件至连连，连连会返回`Document.id`用以标识对接方上传的文件

        '
      operationId: upload-document
      tags:
      - 接口
      parameters:
      - in: header
        name: Idempotency-Key
        description: '**Optional**


          A unique value generated by the client which the server uses to recognize subsequent retries of the same request.'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  description: 文件
                  type: object
              required:
              - file
      security:
      - authorization: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /documents/{documentId}:
    parameters:
    - name: documentId
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: byte
                description: Document data streaming
        '404':
          description: ''
        '500':
          description: ''
      summary: 下载文件
      description: '使用`dcoumentId` 下载文件


        '
      operationId: download-document
      tags:
      - 接口
      security:
      - authorization: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /events:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: 总数
                  list:
                    type: array
                    description: 事件对象列表
                    items:
                      $ref: '#/components/schemas/Event'
                required:
                - total
                - list
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: ''
      summary: 查询事件列表
      description: 查询事件列表
      operationId: get-event-list
      tags:
      - 接口
      parameters:
      - in: query
        name: topic
        description: 连连定义的Event topic
        schema:
          type: string
      - in: query
        name: pageNum
        allowEmptyValue: true
        description: 页码
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: pageSize
        allowEmptyValue: true
        description: 分页大小
        schema:
          type: integer
          default: 20
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /events/{eventId}:
    parameters:
    - name: eventId
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: ''
        '500':
          description: ''
      summary: 查询事件
      description: 根据eventId查询事件对象
      tags:
      - 接口
      operationId: get-event
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /funding/{fundingId}:
    parameters:
    - name: fundingId
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_3'
      summary: 查询加款信息
      tags:
      - 接口
    patch:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_4'
        '400':
          description: 'Bad Request


            Possible error codes:


            | 错误码 | 解释 |

            |------|-------------|

            | 999995 |参数错误 |

            |170102|加款类型不允许红冲|

            |170103|加款单已红冲|

            |170104|加款单状态不可红冲|

            |170105|红冲异常|

            |170106|已分账，不可红冲|

            |170107|已分发，不可红冲|'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 发起红冲
      description: 将已加款成功的资金退回
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /fundings:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/new-model_3'
      summary: 批量查询加款信息
      tags:
      - 接口
      parameters:
      - in: query
        name: receivingAcctNo
        description: 收款虚拟卡号
        schema:
          type: string
          maxLength: 32
      - in: query
        name: pageNum
        description: '查询页码


          若返回数据为多条，可以将数据进行分页，将该字段与`pageSize` 配合使用

          '
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: pagSize
        description: '单页展示数据条数


          若返回数据为多条，需要将该字段与`pageNum`联合使用，单页做多数据展示条数为20条

          '
        schema:
          type: integer
          default: 20
          maximum: 20
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /rate/{rateType}/{sourceCurrency}/{targetCurrency}:
    parameters:
    - name: sourceCurrency
      in: path
      required: true
      description: 源币种
      schema:
        type: string
        maxLength: 3
    - name: targetCurrency
      in: path
      required: true
      description: 目的币种
      schema:
        type: string
        maxLength: 3
    - name: rateType
      in: path
      required: true
      description: "汇率类型, 传输方式如下 \n|传输值|解释|\n|----|-----|\n|reference|参考汇率|"
      schema:
        type: string
        maxLength: 10
    get:
      summary: 查询汇率
      tags:
      - 接口
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
        ? ''
        : description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate'
      operationId: get-rate
      description: ''
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: http://global-api-sandbox.lianlianpay-inc.com/disbursement/v1
  /payee:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payee'
        '400':
          description: 'Bad Request


            Possible error codes:


            | 错误码 | 描述 |

            |------|-------------|

            | 999995 |参数错误|

            |300001|PayeeId 重复|

            |400213|收款人证件号错误|

            |300004|收款人UBO证件号错误|

            |400230|收款人风控拦截|

            |400231|收款人反洗钱拦截|

            '
        '500':
          description: Internal Server Error
      description: 创建收款人
      summary: 创建收款人
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 收款人
              description: 连连侧收款人对象
              properties:
                payeeId:
                  type: string
                  description: 商户侧收款人唯一编号
                  maxLength: 64
                payeeType:
                  type: string
                  description: '收款人类型，填写方式如下


                    |传输值|解释|

                    |----|-----|

                    |Individual|个人收款人|

                    |Corporate|企业收款人|'
                  enum:
                  - Individual
                  - Corporate
                payeeNameCn:
                  type: string
                  description: 收款人中文名称
                  maxLength: 64
                payeeNameEn:
                  type: string
                  description: 收款人英文名称
                  maxLength: 64
                payeeDate:
                  type: string
                  description: '收款人出生或成立日，


                    若收款人为个人，则为个人出生日期

                    若收款人为企业，则为企业注册日期


                    格式：yyyyMMdd'
                  minLength: 8
                  maxLength: 8
                payeeIdType:
                  type: string
                  description: '收款人证件类型，填写方式如下

                    |传输值|收款人类型|解释|

                    |----|-----|----|

                    |0|Individual|个人身份证|

                    |1|Corporate|统一社会信用代码|'
                  enum:
                  - 0
                  - 1
                payeeIdScanFront:
                  type: string
                  description: 收款人证件照片（正面）
                  maxLength: 64
                payeeIdScanBack:
                  type: string
                  description: '收款人证件照片（反面）


                    若payeeType=''Individual''则这个字段为必填'
                  maxLength: 64
                payeeIdNo:
                  type: string
                  description: 收款人证件号
                  maxLength: 32
                payeeAddress:
                  type: string
                  description: '收款人地址，

                    若收款人为企业，则传输企业注册地址

                    若收款人为个人，则传输个人居住地址'
                  maxLength: 128
                payeeOperateAddress:
                  type: string
                  description: 企业经营地址，若收款人为企业，则该字段传企业经营地址
                  maxLength: 128
                payeeIdIsLt:
                  type: string
                  description: '收款人证件是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                payeeIdIssue:
                  type: string
                  description: 收款人证件签发日,格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payeeIdExpiry:
                  type: string
                  description: 收款人证件有效期，若收款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payeeContactNo:
                  type: string
                  description: '收款人联系方式（个人手机号、企业联系人手机号）

                    '
                  minLength: 11
                  maxLength: 11
                corporateNature:
                  type: string
                  description: '公司性质，若payeeType=''Corporate''则这个字段为必填，填写方式如下


                    |传输值|解释|

                    |---|----|

                    |0|股份公司|

                    |1|个人经营|

                    |2|国有企业|

                    |3|合伙经营|

                    |4|上市企业|'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                legalPersIdScanFront:
                  type: string
                  description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdScanBack:
                  type: string
                  description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameCn:
                  type: string
                  description: 法人名称，若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameEn:
                  type: string
                  description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdNo:
                  type: string
                  description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                  maxLength: 32
                legalPersIdIsLt:
                  type: string
                  description: '法人证件有效期是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                legalPersIdIssue:
                  type: string
                  description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                legalPersIdExpiry:
                  type: string
                  description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                  minLength: 8
                  maxLength: 8
                legalPersIdAddress:
                  type: string
                  description: 法人地址，若payeeType='Corporate'则这个字段为必填
                  maxLength: 128
                uboInfo:
                  type: array
                  description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                  items:
                    type: object
                    properties:
                      uboId:
                        type: string
                        description: 商户侧收益人唯一编号
                        maxLength: 64
                      uboPersIdScanFront:
                        type: string
                        description: 受益人身份证正面（国徽面）
                        maxLength: 64
                      uboPersIdScanBack:
                        type: string
                        description: 受益人身份证反面（人像面）
                        maxLength: 64
                      uboNameCn:
                        type: string
                        description: 受益人名称
                        maxLength: 64
                      uboNameEn:
                        type: string
                        description: 受益人名称（拼音）
                        maxLength: 64
                      uboPersIdNo:
                        type: string
                        description: 受益人身份证号
                        maxLength: 32
                      uboPersIdIsLt:
                        type: string
                        description: '受益人证件有效期是否为长期，填写方式如下


                          |传输值|解释|

                          |-----|-----|

                          |0|长期|

                          |1|非长期|'
                        enum:
                        - 0
                        - 1
                      uboPersIdIssue:
                        type: string
                        description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboPersIdExpiry:
                        type: string
                        description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboAddress:
                        type: string
                        description: 受益人地址
                        maxLength: 128
                      uboEvidence:
                        type: string
                        description: 受益人证明文件
                        maxLength: 64
              required:
              - payeeId
              - payeeType
              - payeeNameCn
              - payeeNameEn
              - payeeDate
              - payeeIdType
              - payeeIdScanFront
              - payeeIdNo
              - payeeAddress
              - payeeIdIsLt
              - payeeIdExpiry
              - payeeContactNo
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export/v1
  /payee/{payeeId}:
    parameters:
    - name: payeeId
      in: path
      required: true
      description: 商户侧收款人唯一编号
      schema:
        type: string
        maxLength: 64
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payee'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 查询收款人
      description: 查询收款人信息
      tags:
      - 接口
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payee'
        '400':
          description: 'Bad Request


            Possible error codes:


            | 错误码 | 解释 |

            |------|-------------|

            | 999995 |参数错误 |

            |300005|收款人信息不允许修改|

            |400213|收款人证件号错误|

            |300004|UBO证件号错误|

            |400230|收款人风控拦截|

            |400231|收款人反洗钱拦截|

            '
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 修改收款人信息
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Payee info record object in Lianlian Pay's system
              title: payee
              properties:
                payeeNameCn:
                  type: string
                  description: 收款人中文名称
                  maxLength: 64
                payeeNameEn:
                  type: string
                  description: 收款人英文名称
                  maxLength: 64
                payeeDate:
                  type: string
                  description: '收款人出生或成立日，


                    若收款人为个人，则为个人出生日期

                    若收款人为企业，则为企业注册日期


                    格式：yyyyMMdd'
                  minLength: 8
                  maxLength: 8
                payeeIdScanFront:
                  type: string
                  description: 收款人证件照片（正面）
                  maxLength: 64
                payeeIdScanBack:
                  type: string
                  description: '收款人证件照片（反面）


                    若payeeType=''Individual''则这个字段为必填'
                  maxLength: 64
                payeeAddress:
                  type: string
                  description: '收款人地址，

                    若收款人为企业，则传输企业注册地址

                    若收款人为个人，则传输个人居住地址'
                  maxLength: 128
                payeeOperateAddress:
                  type: string
                  description: 企业经营地址，若收款人为企业，则该字段传企业经营地址
                  maxLength: 128
                payeeIdIsLt:
                  type: string
                  description: '收款人证件是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                payeeIdIssue:
                  type: string
                  description: 收款人证件签发日,格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payeeIdExpiry:
                  type: string
                  description: 收款人证件有效期，若收款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payeeContactNo:
                  type: string
                  description: '收款人联系方式（个人手机号、企业联系人手机号）

                    '
                  minLength: 11
                  maxLength: 11
                corporateNature:
                  type: string
                  description: '公司性质，若payeeType=''Corporate''则这个字段为必填，填写方式如下


                    |传输值|解释|

                    |---|----|

                    |0|股份公司|

                    |1|个人经营|

                    |2|国有企业|

                    |3|合伙经营|

                    |4|上市企业|'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                legalPersIdScanFront:
                  type: string
                  description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdScanBack:
                  type: string
                  description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameCn:
                  type: string
                  description: 法人名称，若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameEn:
                  type: string
                  description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdNo:
                  type: string
                  description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                  maxLength: 32
                legalPersIdIsLt:
                  type: string
                  description: '法人证件有效期是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                legalPersIdIssue:
                  type: string
                  description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                legalPersIdExpiry:
                  type: string
                  description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                  minLength: 8
                  maxLength: 8
                legalPersIdAddress:
                  type: string
                  description: 法人地址，若payeeType='Corporate'则这个字段为必填
                  maxLength: 128
                uboInfo:
                  type: array
                  description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                  items:
                    type: object
                    properties:
                      uboId:
                        type: string
                        description: 商户侧收益人唯一编号
                        maxLength: 64
                      uboPersIdScanFront:
                        type: string
                        description: 受益人身份证正面（国徽面）
                        maxLength: 64
                      uboPersIdScanBack:
                        type: string
                        description: 受益人身份证反面（人像面）
                        maxLength: 64
                      uboNameCn:
                        type: string
                        description: 受益人名称
                        maxLength: 64
                      uboNameEn:
                        type: string
                        description: 受益人名称（拼音）
                        maxLength: 64
                      uboPersIdNo:
                        type: string
                        description: 受益人身份证号
                        maxLength: 32
                      uboPersIdIsLt:
                        type: string
                        description: '受益人证件有效期是否为长期，填写方式如下


                          |传输值|解释|

                          |-----|-----|

                          |0|长期|

                          |1|非长期|'
                        enum:
                        - 0
                        - 1
                      uboPersIdIssue:
                        type: string
                        description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboPersIdExpiry:
                        type: string
                        description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboAddress:
                        type: string
                        description: 受益人地址
                        maxLength: 128
                      uboEvidence:
                        type: string
                        description: 受益人证明文件
                        maxLength: 64
              required:
              - payeeNameCn
              - payeeNameEn
              - payeeDate
              - payeeIdScanFront
              - payeeAddress
              - payeeIdExpiry
              - payeeContactNo
        description: 修改收款人信息
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export/v1
  /payer:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payer'
      description: 创建付款人
      summary: 创建付款人
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 收款人
              description: 连连侧付款人对象
              properties:
                payerId:
                  type: string
                  description: 商户侧付款人唯一编号
                  maxLength: 64
                payerType:
                  type: string
                  description: '付款人类型，填写方式如下


                    |传输值|解释|

                    |----|-----|

                    |Individual|个人付款人|

                    |Corporate|企业付款人|'
                  enum:
                  - Individual
                  - Corporate
                payerNameCN:
                  type: string
                  description: 付款人中文名称
                  maxLength: 64
                payerNameEN:
                  type: string
                  description: 付款人英文名称
                  maxLength: 64
                payerBusinessType:
                  type: string
                  description: 付款人经营类别
                  maxLength: 64
                payerIdType:
                  type: string
                  description: '付款人证件类型，填写方式如下

                    |传输值|付款人类型|解释|

                    |----|-----|----|

                    |0|Individual|个人身份证|

                    |1|Corporate|营业执照|'
                  enum:
                  - 0
                  - 1
                payerIdScanFront:
                  type: string
                  description: 付款人证件照片（正面）
                  maxLength: 64
                payerIdScanBack:
                  type: string
                  description: '付款人证件照片（反面）


                    若payerType=''Individual''则这个字段为必填'
                  maxLength: 64
                payerIdNo:
                  type: string
                  description: 付款人证件号
                  maxLength: 32
                payerAddress:
                  type: string
                  description: 付款人地址
                  maxLength: 128
                payerIdisLT:
                  type: string
                  description: '付款人证件是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                payerIdIssue:
                  type: string
                  description: 付款人证件签发日期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payerIdExpiry:
                  type: string
                  description: 付款人证件有效期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payerContactNo:
                  type: string
                  description: '付款人联系方式（个人手机号、企业联系人手机号）

                    '
                  minLength: 11
                  maxLength: 11
                corporateNature:
                  type: string
                  description: '公司性质，若payeeType=''Corporate''则这个字段为必填，填写方式如下


                    |传输值|解释|

                    |---|----|

                    |0|股份公司|

                    |1|个人经营|

                    |2|国有企业|

                    |3|合伙经营|

                    |4|上市企业|'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                legalPersIdScanFront:
                  type: string
                  description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdScanBack:
                  type: string
                  description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameCN:
                  type: string
                  description: 法人名称，若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameEN:
                  type: string
                  description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdNo:
                  type: string
                  description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                  maxLength: 32
                legalPersIdisLT:
                  type: string
                  description: '法人证件有效期是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                legalPersIdIssue:
                  type: string
                  description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                legalPersIdExpiry:
                  type: string
                  description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                  minLength: 8
                  maxLength: 8
                legalPersIdAddress:
                  type: string
                  description: 法人地址，若payeeType='Corporate'则这个字段为必填
                  maxLength: 128
                uboInfo:
                  type: array
                  description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                  items:
                    type: object
                    properties:
                      uboId:
                        type: string
                        description: 商户侧受益人唯一编号
                        maxLength: 64
                      uboPersIdScanFront:
                        type: string
                        description: 受益人身份证正面（国徽面）
                        maxLength: 64
                      uboPersIdScanBack:
                        type: string
                        description: 受益人身份证反面（人像面）
                        maxLength: 64
                      uboNameCN:
                        type: string
                        description: 受益人名称
                        maxLength: 64
                      uboNameEN:
                        type: string
                        description: 受益人名称（拼音）
                        maxLength: 64
                      uboPersIdNo:
                        type: string
                        description: 受益人身份证号
                        maxLength: 32
                      uboPersIdisLT:
                        type: string
                        description: '受益人证件有效期是否为长期，填写方式如下


                          |传输值|解释|

                          |-----|-----|

                          |0|长期|

                          |1|非长期|'
                        enum:
                        - 0
                        - 1
                      uboPersIdIssue:
                        type: string
                        description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboPersIdExpiry:
                        type: string
                        description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboAddress:
                        type: string
                        description: 受益人地址
                        maxLength: 128
                      uboEvidence:
                        type: string
                        description: 受益人证明文件
                        maxLength: 64
              required:
              - payerId
              - payerType
              - payerBusinessType
              - payerIdType
              - payerIdScanFront
              - payerIdNo
              - payerAddress
              - payerIdisLT
              - payerIdIssue
              - payerIdExpiry
              - payerContactNo
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /payer/{payerId}:
    parameters:
    - name: payerId
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payer'
      summary: 查询付款人
      description: 查询收款人信息
      tags:
      - 接口
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payer'
      summary: 修改付款人信息
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Payee info record object in Lianlian Pay's system
              title: payee
              properties:
                payerBusinessType:
                  type: string
                  description: 付款人经营类别
                  maxLength: 64
                payerIdScanFront:
                  type: string
                  description: 付款人证件照片（正面）
                  maxLength: 64
                payerIdScanBack:
                  type: string
                  description: '付款人证件照片（反面）


                    若payerType=''Individual''则这个字段为必填'
                  maxLength: 64
                payerAddress:
                  type: string
                  description: 付款人地址
                  maxLength: 128
                payerIdisLT:
                  type: string
                  description: '付款人证件是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                payerIdIssue:
                  type: string
                  description: 付款人证件签发日期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payerIdExpiry:
                  type: string
                  description: 付款人证件有效期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                payerContactNo:
                  type: string
                  description: '付款人联系方式（个人手机号、企业联系人手机号）

                    '
                  minLength: 11
                  maxLength: 11
                corporateNature:
                  type: string
                  description: '公司性质，若payeeType=''Corporate''则这个字段为必填，填写方式如下


                    |传输值|解释|

                    |---|----|

                    |0|股份公司|

                    |1|个人经营|

                    |2|国有企业|

                    |3|合伙经营|

                    |4|上市企业|'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                legalPersIdScanFront:
                  type: string
                  description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdScanBack:
                  type: string
                  description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameCN:
                  type: string
                  description: 法人名称，若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersNameEN:
                  type: string
                  description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                  maxLength: 64
                legalPersIdNo:
                  type: string
                  description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                  maxLength: 32
                legalPersIdisLT:
                  type: string
                  description: '法人证件有效期是否为长期，填写方式如下


                    |传输值|解释|

                    |-----|-----|

                    |0|长期|

                    |1|非长期|'
                  enum:
                  - 0
                  - 1
                legalPersIdIssue:
                  type: string
                  description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                  minLength: 8
                  maxLength: 8
                legalPersIdExpiry:
                  type: string
                  description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                  minLength: 8
                  maxLength: 8
                legalPersIdAddress:
                  type: string
                  description: 法人地址，若payeeType='Corporate'则这个字段为必填
                  maxLength: 128
                uboInfo:
                  type: array
                  description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                  items:
                    type: object
                    properties:
                      uboId:
                        type: string
                        description: 商户侧受益人唯一编号
                        maxLength: 64
                      uboPersIdScanFront:
                        type: string
                        description: 受益人身份证正面（国徽面）
                        maxLength: 64
                      uboPersIdScanBack:
                        type: string
                        description: 受益人身份证反面（人像面）
                        maxLength: 64
                      uboNameCN:
                        type: string
                        description: 受益人名称
                        maxLength: 64
                      uboNameEN:
                        type: string
                        description: 受益人名称（拼音）
                        maxLength: 64
                      uboPersIdNo:
                        type: string
                        description: 受益人身份证号
                        maxLength: 32
                      uboPersIdisLT:
                        type: string
                        description: '受益人证件有效期是否为长期，填写方式如下


                          |传输值|解释|

                          |-----|-----|

                          |0|长期|

                          |1|非长期|'
                        enum:
                        - 0
                        - 1
                      uboPersIdIssue:
                        type: string
                        description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboPersIdExpiry:
                        type: string
                        description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                        minLength: 8
                        maxLength: 8
                      uboAddress:
                        type: string
                        description: 受益人地址
                        maxLength: 128
                      uboEvidence:
                        type: string
                        description: 受益人证明文件
                        maxLength: 64
        description: 修改付款人信息
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /payout:
    post:
      summary: 提交分发指令
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_5'
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 分发
              description: 连连侧分发指令对象
              properties:
                payoutId:
                  type: string
                  description: 商户侧分发指令唯一编号
                  maxLength: 64
                tradeFileInfo:
                  type: array
                  description: 平台侧订单信息
                  items:
                    type: object
                    properties:
                      tradeFileId:
                        type: string
                        description: 平台侧订单唯一编号
                        maxLength: 64
                pricingCurrency:
                  type: string
                  description: 定价币种，参考附录币种代码
                  minLength: 3
                  maxLength: 3
                sourceCurrency:
                  type: string
                  description: 源币种，默认为CNY
                  minLength: 3
                  maxLength: 3
                sourceAmount:
                  type: string
                  description: 源币种金额，若 pricingCurrency = sourceCurrency，则该字段必填
                  maxLength: 10
                targetCurrency:
                  type: string
                  description: 目的币种，请参考附录币种代码
                  minLength: 3
                  maxLength: 3
                targetAmount:
                  type: string
                  description: 目的币种金额，若 pricingCurrency = targetCurrency，则该字段必填
                  maxLength: 10
                payeeName:
                  type: string
                  description: 收款人名称
                  maxLength: 128
                payeeBankName:
                  type: string
                  description: 收款银行名称
                  maxLength: 256
                payeeBankAddress:
                  type: string
                  maxLength: 256
                  description: 收款银行地址
                payeeBankAcctType:
                  type: string
                  description: '收款银行账户类型，填写方式如下


                    |传输值|解释|

                    |----|----|

                    |INDIVIDUAL|个人银行账户|

                    |CORPORATE|企业银行账户|'
                payeeBankAcctNo:
                  type: string
                  description: 收款银行账号
                  maxLength: 32
                payeeBankDistrict:
                  type: string
                  description: 收人银行所在国家或地区，请参考附录国家huo
                  minLength: 3
                  maxLength: 3
                payeeBankSwiftCode:
                  type: string
                  description: 收款银行SwiftCode
                  maxLength: 32
                payeeBankType:
                  type: string
                  description: '收款银行国际编码，填写方式如下


                    |传输值|解释|

                    |---|---|

                    |IBAN|如果银行账户为欧洲地区国际银行账户，而且需要走欧洲本地分发|

                    |SORT|如果银行账户是英国地区银行账户，而且需要走英国本地分发|'
                  maxLength: 8
                payeeBankCode:
                  type: string
                  description: 收款银行国际编码，若payeeBankType已填写，则该字段填写相应的IBAN、SORTCODEzhi
                  maxLength: 16
                tradeCode:
                  type: string
                  description: 交易编码
                  maxLength: 8
                memo:
                  type: string
                  description: 打款备注
                  maxLength: 40
              required:
              - payoutId
              - tradeFileInfo
              - pricingCurrency
              - sourceCurrency
              - targetCurrency
              - payeeName
              - payeeBankName
              - payeeBankAddress
              - payeeBankAcctType
              - payeeBankAcctNo
              - payeeBankDistrict
              - payeeBankSwiftCode
              - tradeCode
    parameters: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import
  /payout/{payoutId}:
    parameters:
    - name: payoutId
      in: path
      required: true
      description: 商户侧分发指令唯一编号
      schema:
        type: string
        maxLength: 64
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_5'
      summary: 查询分发指令信息
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import
  /shop:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_7'
        '400':
          description: 'Bad Request


            Possible error codes:


            | 错误码 | 解释 |

            |------|-------------|

            | 999995 |参数错误 |


            '
        '500':
          description: Internal Server Error
      summary: 创建店铺
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shopId:
                  type: string
                  description: 平台侧店铺唯一编号
                  maxLength: 64
                payeeId:
                  type: string
                  description: 平台侧收款人唯一编号
                  maxLength: 64
                businessType:
                  type: string
                  description: 店铺经营类别
                  maxLength: 32
                shopUrl:
                  type: string
                  description: 店铺链接
                  maxLength: 128
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export
  /shop/{shopId}:
    parameters:
    - name: shopId
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_7'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
      - 接口
      summary: ' 查询店铺信息'
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_7'
      summary: 修改店铺信息
      description: 在店铺审核失败的情况下，可以修改店铺信息（店铺经营类别、店铺链接）
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessType:
                  type: string
                  description: 店铺经营类别
                  maxLength: 32
                shopUrl:
                  type: string
                  description: 店铺链接
                  maxLength: 128
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-export
  /tradefile:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_8'
      summary: 提交贸易材料
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 贸易材料
              description: 连连侧贸易材料对象
              properties:
                materialId:
                  type: string
                  description: 商户侧指令唯一编号
                  maxLength: 64
                tradeFileId:
                  type: string
                  description: 平台侧订单唯一编号
                  maxLength: 64
                fundingInfo:
                  type: array
                  description: 订单对应的加款信息
                  items:
                    type: object
                    properties:
                      fundingId:
                        type: string
                        description: 连连侧加款唯一编号
                        maxLength: 64
                paymentType:
                  type: string
                  description: '订单支付方式，填写方式如下


                    |传输值|解释|

                    |----|----|

                    |0|Paypal、stripe收单|

                    |1|线下转账支付|'
                  enum:
                  - 0
                  - 1
                payerName:
                  type: string
                  description: 付款人名称
                  maxLength: 32
                payerCountryCode:
                  type: string
                  description: 付款方国别或地区，参考附录国家或地区代码
                  minLength: 3
                  maxLength: 3
                payeeId:
                  type: string
                  description: 商户侧收款人唯一编号
                  maxLength: 64
                tradeType:
                  type: string
                  description: '交易类型，传输方式如下


                    |传输值|解释|

                    |----|-----|

                    |0|货物贸易|

                    |1|服务贸易|'
                  enum:
                  - 0
                  - 1
                tradeTime:
                  type: string
                  description: 交易时间，格式：yyyy-MM-dd'T'HH:mm:ss'Z
                tradeCurrency:
                  type: string
                  description: 交易币种，参考附录币种代码
                  minLength: 3
                  maxLength: 3
                tradeAmount:
                  type: string
                  description: 交易金额
                  maxLength: 10
                tradeName:
                  type: string
                  description: 商品名称
                  maxLength: 512
                shopURL:
                  type: string
                  description: 商品所对应的店铺链接
                  maxLength: 128
                tradeCount:
                  type: string
                  description: 商品数量
                  maxLength: 10
                goodsCarrier:
                  type: string
                  description: '物流信息，填写方式如下


                    货物承运人及运货单号，例如：

                    中外运空运;MC2410918701000931505'
                  maxLength: 128
                serviceDetail:
                  type: string
                  description: 服务贸易详情，若tradeType=1时必填
                  maxLength: 512
                serviceTime:
                  type: string
                  description: 服务发生时间，若tradeType=1时必填，格式：yyyy-MM-dd'T'HH:mm:ss'Z
              required:
              - materialId
              - tradeFileId
              - fundingInfo
              - payerName
              - payerCountryCode
              - payeeId
              - tradeType
              - tradeTime
              - tradeCurrency
              - tradeAmount
              - tradeName
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /tradefile/{materialId}:
    parameters:
    - name: materialId
      in: path
      required: true
      description: 商户侧指令唯一编号
      schema:
        type: string
        maxLength: 64
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_8'
      summary: 查询贸易材料信息
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /virtualaccount:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_10'
      summary: 创建虚拟卡
      description: 为一对新的买卖关系创建虚拟卡
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: 虚拟卡
              description: 连连侧虚拟卡对象
              properties:
                functionType:
                  type: string
                  description: '功能类型，用以识别发卡逻辑


                    |传输值|解释|

                    |---|---|

                    |0|针对一对买卖关系发一张虚拟卡|

                    |1|针对一个订单发一张虚拟卡|'
                  enum:
                  - 0
                  - 1
                tradeFileId:
                  type: string
                  description: 平台侧订单唯一编号，若functionType=1，则该字段必填
                  maxLength: 64
                payeeId:
                  type: string
                  description: 商户侧收款人唯一编号
                  maxLength: 64
                payerId:
                  type: string
                  description: 商户侧付款人唯一编号，若functionType=0，则该字段必填
                  maxLength: 64
                payerName:
                  type: string
                  description: 付款人名称
                  maxLength: 64
                payerAccountNumber:
                  type: string
                  description: 付款人银行账号
                  maxLength: 32
              required:
              - payeeId
              - payerId
              - payerName
              - payerAccountNumber
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /virtualaccount/{receivingAccountNo}:
    parameters:
    - name: receivingAccountNo
      in: path
      required: true
      description: 收款虚拟卡号
      schema:
        type: string
        minLength: 32
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/new-model_10'
      summary: 查询虚拟卡号
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /virtualaccounts:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/new-model_10'
      summary: 批量查询虚拟卡号
      description: 批量查询虚拟卡号
      parameters:
      - in: query
        name: payeeId
        allowEmptyValue: true
        description: 商户侧收款人唯一编号
        schema:
          type: string
          maxLength: 64
      - in: query
        name: payerId
        allowEmptyValue: true
        description: 商户侧付款人唯一编号
        schema:
          type: string
          maxLength: 64
      - in: query
        name: pageNum
        allowEmptyValue: true
        description: '


          查询页码


          若返回数据为多条，可以将数据进行分页，将该字段与`pageSize` 配合使用

          '
        schema:
          type: integer
          default: 1
          minimum: 1
      - in: query
        name: pageSize
        allowEmptyValue: true
        description: '单页展示数据条数


          若返回数据为多条，需要将该字段与`pageNum`联合使用，单页做多数据展示条数为20条

          '
        schema:
          type: integer
          default: 20
          maximum: 20
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/b2b-import/v1
  /webhooks:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '400':
          description: 'Possible error codes:


            | Code | Description |

            |------|-------------|

            | 999995 | \[PARAMETER\] ERROR_MESSAGE |

            | 108012 | Duplicate Webhook Registration |'
          content:
            application/json:
              schema:
                type: object
        '500':
          description: ''
      summary: 注册WebHook
      description: 注册webHook，系统会自动推送事件。
      operationId: register-webhook
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 临时接受地址
                  maxLength: 64
                topic:
                  type: string
                  description: '连连定义的Topic


                    | Topic | Description |

                    |--------|------------|

                    | b2b.payer.approved | 付款人审核通过 |

                    | b2b.payer.rejected |  付款人审核不通过 |

                    |b2b.funding.successed|加款成功|

                    |b2b.funding.rejected|加款失败|

                    |b2b.distribute.successed|分账成功|

                    |b2b.distribute.failed|分账失败|

                    |b2b.payout.successed | 分发成功 |

                    | b2b.payout.failed | 分发失败 |

                    '
                  enum:
                  - b2b.funding.successed
                  - b2b.funding.rejected
                  - 'b2b.distribute.successed '
                  - b2b.distribute.failed
                  - b2b.payout.successed
                  - b2b.payout.failed
                  - b2b.payer.approved
                  - b2b.payer.rejected
              required:
              - url
              - topic
      security:
      - authorization: []
      - llpay-signature: []
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/webhook'
        '500':
          description: ''
      summary: 查询WebHook列表
      description: 查询WebHook列表
      operationId: get-webhook-registration-list
      tags:
      - 接口
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /webhook/{webhookId}:
    parameters:
    - name: webhookId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: 查询Webhook
      description: 通过webhookId查询WebHook
      operationId: get-webhook-registration
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook'
        '404':
          description: ''
        '500':
          description: ''
      security:
      - authorization: []
      - llpay-signature: []
    delete:
      responses:
        '200':
          description: ''
        '404':
          description: ''
        '500':
          description: ''
      summary: 删除Webhook
      description: 删除WebHook
      operationId: delete-webhook-registration
      tags:
      - 接口
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /webhooks/{webhookId}:
    parameters:
    - name: webhookId
      in: path
      required: true
      schema:
        type: string
    get:
      summary: 查询Webhook
      description: 通过webhookId查询WebHook
      operationId: get-webhook-registration
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_2'
        '404':
          description: ''
        '500':
          description: ''
      security:
      - authorization: []
      - llpay-signature: []
    delete:
      responses:
        '200':
          description: ''
        '404':
          description: ''
        '500':
          description: ''
      summary: 删除Webhook
      description: 删除WebHook
      operationId: delete-webhook-registration
      tags:
      - 接口
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /account:
    parameters: []
    post:
      summary: 创建会员账户
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
        '400':
          description: Missing Required Information
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  maxLength: 32
                  description: 会员Id
                currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 币种
              required:
              - memberId
              - currency
            examples:
              Create User Bob Fellow:
                value:
                  firstName: Bob
                  lastName: Fellow
                  email: bob.fellow@gmail.com
                  dateOfBirth: '1996-08-24'
        description: ''
      description: ''
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /account/{memberId}:
    parameters:
    - schema:
        type: string
      name: memberId
      in: path
      required: true
    get:
      summary: 会员账户信息查询
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/account'
                type: array
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      description: ''
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /statement:
    parameters: []
    get:
      summary: 账户资金流水查询
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statement'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      parameters:
      - schema:
          type: string
          maxLength: 32
        in: query
        name: memberId
        description: 会员ID
        required: true
      - schema:
          type: string
          maxLength: 3
          minLength: 3
        in: query
        name: currency
        description: 币种
        required: true
      - schema:
          type: string
          maxLength: 32
        in: query
        name: beginTime
        description: 开始时间，格式：yyyy-MM-dd HH:mm:ss
        required: true
      - schema:
          type: string
        in: query
        name: endTime
        description: 结束时间，格式：yyyy-MM-dd HH:mm:ss
        required: true
      - schema:
          type: string
        in: query
        name: pageNum
        description: 页码，默认为1
        required: true
      - schema:
          type: string
        in: query
        name: pageSize
        description: 每页查询数量，单页最多20条
        required: true
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /balance:
    get:
      summary: 账户余额查询
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberId:
                    type: string
                    maxLength: 32
                    description: 会员Id
                  currency:
                    type: string
                    minLength: 3
                    maxLength: 3
                    description: 币种
                  freezeAmount:
                    type: string
                    description: 冻结余额
                    maxLength: 16
                  availableAmount:
                    type: string
                    maxLength: 16
                    description: 可用余额
                required:
                - memberId
                - currency
                - freezeAmount
                - availableAmount
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      description: ''
      parameters:
      - schema:
          type: string
        in: query
        name: memberId
        description: 会员Id
        required: true
      - schema:
          type: string
          minLength: 3
          maxLength: 3
        in: query
        name: currency
        description: 币种
        required: true
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /member/:
    parameters: []
    post:
      summary: 创建会员
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  maxLength: 32
                  description: 会员ID
                memberType:
                  type: string
                  enum:
                  - Individual
                  - Corporate
                  description: 会员类型，个人：Individual；企业：Corporate
                memberNation:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 会员所在国家或地区
                memberIdNo:
                  type: string
                  maxLength: 32
                  description: 会员证件号
                memberNameEn:
                  type: string
                  maxLength: 128
                  description: 会员英文名称
                memberDate:
                  type: string
                  minLength: 8
                  maxLength: 8
                  description: '会员出生或成立日，格式：yyyyMMdd。

                    若会员为个人，则为个人出生日期；

                    若会员为企业，则为企业注册日期'
                memberAddress:
                  type: string
                  maxLength: 128
                  description: 会员经营或联系地址
              required:
              - memberId
              - memberType
              - memberNation
              - memberIdNo
              - memberNameEn
              - memberDate
              - memberAddress
            examples: {}
        description: ''
      description: ''
      parameters: []
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /member/ {memberId}:
    parameters:
    - schema:
        type: string
      name: memberId
      in: path
      required: true
    put:
      summary: 修改会员信息
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: 修改会员信息
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  description: 会员ID
                  maxLength: 32
                memberType:
                  type: string
                  enum:
                  - Individual
                  - Corporate
                  description: 会员类型，个人：Individual；企业：Corporate
                memberNation:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 会员所在国家或地区
                memberIdNo:
                  type: string
                  maxLength: 32
                  description: 会员证件号
                memberNameEn:
                  type: string
                  description: 会员英文名称
                  maxLength: 128
                memberDate:
                  type: string
                  description: 会员出生或成立日，格式：yyyyMMdd。若会员为个人，则为个人出生日期；若收款人为企业，则为企业注册日期
                  maxLength: 8
                  minLength: 8
                memberAddress:
                  type: string
                  maxLength: 128
                  description: 会员经营或联系地址
              required:
              - memberId
              - memberType
              - memberNation
              - memberIdNo
              - memberNameEn
              - memberDate
              - memberAddress
        description: ''
      tags:
      - 接口
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /member/{memberId}:
    parameters:
    - schema:
        type: string
      name: memberId
      in: path
      required: true
    get:
      summary: 查询会员信息
      tags:
      - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/connect/v1
  /dictionaries/district/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: 省市区编码
                        name:
                          type: string
                          description: 省市区名称
              example:
                items:
                - code: '110000'
                  name: 北京
                - code: '120000'
                  name: 天津
                - code: '130000'
                  name: 河北省
                - code: '140000'
                  name: 山西省
                - code: '150000'
                  name: 内蒙古自治区
                - code: '210000'
                  name: 辽宁省
                - code: '220000'
                  name: 吉林省
                - code: '230000'
                  name: 黑龙江省
                - code: '310000'
                  name: 上海
                - code: '320000'
                  name: 江苏省
                - code: '330000'
                  name: 浙江省
                - code: '340000'
                  name: 安徽省
                - code: '350000'
                  name: 福建省
                - code: '360000'
                  name: 江西省
                - code: '370000'
                  name: 山东省
                - code: '410000'
                  name: 河南省
                - code: '420000'
                  name: 湖北省
                - code: '430000'
                  name: 湖南省
                - code: '440000'
                  name: 广东省
                - code: '450000'
                  name: 广西壮族自治区
                - code: '460000'
                  name: 海南省
                - code: '500000'
                  name: 重庆
                - code: '510000'
                  name: 四川省
                - code: '520000'
                  name: 贵州省
                - code: '530000'
                  name: 云南省
                - code: '540000'
                  name: 西藏自治区
                - code: '610000'
                  name: 陕西省
                - code: '620000'
                  name: 甘肃省
                - code: '630000'
                  name: 青海省
                - code: '640000'
                  name: 宁夏回族自治区
                - code: '650000'
                  name: 新疆维吾尔自治区
                - code: '710000'
                  name: 台湾省
                - code: '810000'
                  name: 香港特别行政区
                - code: '820000'
                  name: 澳门特别行政区
        '400':
          description: '| Code | Message | Description |

            |------|-------------|-------------|

            | 400001 | Missing LLPAY-Signature header. |请求头缺失 |

            | 400003 | Invalid signature time. | 请求头时间戳不合法（请求消息包的签名时间和本地服务器的时间的最大允许阈值10min） |

            | 400006 | Signature validation failed. Contact Lianlian Pay for technical support. |验签异常，请参照授权流程中签名规则检查 |'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                  message:
                    type: string
              example:
                error: Bad request
                code: '400003'
                message: Invalid signature time.
        '500':
          description: '| Code | Message |

            |------|-------------|

            | 500000 |Internal Server Error, Contact Lianlian Pay for technical support|'
      summary: 省市字典接口
      description: '获取provincecode时，{code}请填写 `CHN`


        获取citycode时，code请填写对应provincecode


        联调地址 - **https://global-api-sandbox.lianlianpay-inc.com/common/v1/dictionaries/district/{code}** </br>

        生产地址 - **https://global-api.lianlianpay.com/common/v1/dictionaries/district/{code}**'
      operationId: get-dictionaries-district-code
      tags:
      - 接口
      parameters:
      - in: path
        name: code
        required: true
        description: 获取provincecode时，{code}请填写 `CHN`
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
      - in: header
        name: LLPAY-Signature
        required: true
        schema:
          type: string
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /documents/{Id}:
    parameters:
    - name: Id
      in: path
      required: true
      schema:
        type: string
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: '| Code | Message | Description |

            |------|-------------|-------------|

            | 400001 | Missing LLPAY-Signature header. |请求头缺失 |

            | 400003 | Invalid signature time. | 请求头时间戳不合法（请求消息包的签名时间和本地服务器的时间的最大允许阈值10min） |

            | 400006 | Signature validation failed. Contact Lianlian Pay for technical support. |验签异常，请参照授权流程中签名规则检查 |'
        '404':
          description: 传入附件Id不存在
          content:
            application/json:
              example:
                message: Resource not found.
        '500':
          description: '| Code | Message |

            |------|-------------|

            | 500000 |Internal Server Error, Contact Lianlian Pay for technical support|'
      parameters:
      - in: path
        name: Id
        required: true
        description: 上传附件接口返回的Id
        schema:
          type: string
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
      - in: header
        name: LLPAY-Signature
        required: true
        schema:
          type: string
      summary: 下载附件
      description: '你可以通过上传附件接口返回的id进行附件文件的下载。


        联调地址 - **https://global-api-sandbox.lianlianpay-inc.com/common/v1/documents/{Id}** </br>

        生产地址 - **https://global-api.lianlianpay.com/common/v1/documents/{Id}**'
      operationId: download-document
      tags:
      - 接口
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /verification-codes/SMS:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: {}
        '400':
          description: '| Code | Message | Description |

            |------|-------------|-------------|

            | 110002 | Verification code send frequently. |每小时获取验证码上限10次 |

            | 400001 | Missing LLPAY-Signature header. |请求头缺失 |

            | 400003 | Invalid signature time. | 请求头时间戳不合法（请求消息包的签名时间和本地服务器的时间的最大允许阈值10min） |

            | 400006 | Signature validation failed. Contact Lianlian Pay for technical support. |验签异常，请参照授权流程中签名规则检查 |

            | 999995 | [verificationEnum]may not be null | 请求参数不合法 |

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                  message:
                    type: string
              example:
                code: '110002'
                message: Verification code send frequently.
        '500':
          description: '| Code | Message |

            |------|-------------|

            | 500000 |Internal Server Error, Contact Lianlian Pay for technical support|'
      summary: 获取短信验证码
      description: '获取短信校验码，用于相关接口做二次验证，例如：币种账户提现、供应商付款等


        验证码会发送至连连账户当前绑定手机号


        每小时获取验证码上限10次


        联调地址 - **https://global-api-sandbox.lianlianpay-inc.com/common/v1/verification-codes/SMS** </br>

        生产地址 - **https://global-api.lianlianpay.com/common/v1/verification-codes/SMS**'
      operationId: post-verification-codes
      tags:
      - 接口
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
      - in: header
        name: LLPAY-Signature
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                verificationEnum:
                  type: string
                  description: '| Value | Description |

                    |--------|------------|

                    | WITHDRAW_COMBINE| 币种账户提现校验码 |

                    | SUBMIT_PAYMENT | 供应商付款校验码 |'
                  enum:
                  - WITHDRAW_COMBINE
                  - SUBMIT_PAYMENT
              required:
              - verificationEnum
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /bank-code/search:
    parameters: []
    post:
      summary: 大陆银行支行名称模糊查询
      operationId: post-bank-code-search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    resultList:
                    - bankCode: 05864910
                      cityCode: '411700'
                      id: '313511422011'
                      name: 中原银行股份有限公司遂平支行
                    - bankCode: 05864910
                      cityCode: '411700'
                      id: '313511428018'
                      name: 中原银行股份有限公司遂平灈阳支行
                    - bankCode: 05864910
                      cityCode: '410700'
                      id: '313498072960'
                      name: 中原银行股份有限公司新乡新元支行
                    - bankCode: 05864910
                      cityCode: '410900'
                      id: '313502001790'
                      name: 中原银行股份有限公司濮阳中原油田支行
                    - bankCode: 05864910
                      cityCode: '411700'
                      id: '313511011016'
                      name: 中原银行股份有限公司驻马店文明支行
                    - bankCode: '14045840'
                      cityCode: '411700'
                      id: '320511400026'
                      name: 遂平恒生村镇银行股份有限公司沈寨支行
                    - bankCode: '14045840'
                      cityCode: '411700'
                      id: '320511400034'
                      name: 遂平恒生村镇银行股份有限公司嵖岈山路支行
                    - bankCode: '14045840'
                      cityCode: '411700'
                      id: '320511400042'
                      name: 遂平恒生村镇银行股份有限公司花庄支行
                    - bankCode: '01020000'
                      cityCode: '410100'
                      id: '102491022154'
                      name: 中国工商银行股份有限公司郑州中原万达支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513280965'
                      name: 中原银行股份有限公司邓州支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513400929'
                      name: 中原银行股份有限公司方城支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513500864'
                      name: 中原银行股份有限公司西峡支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513780919'
                      name: 中原银行股份有限公司镇平支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513888083'
                      name: 中原银行股份有限公司内乡支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313513900875'
                      name: 中原银行股份有限公司淅川支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313514180995'
                      name: 中原银行股份有限公司社旗支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313514280900'
                      name: 中原银行股份有限公司唐河支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313514300985'
                      name: 中原银行股份有限公司新野支行
                    - bankCode: 05864910
                      cityCode: '411300'
                      id: '313514400017'
                      name: 中原银行股份有限公司桐柏支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515200332'
                      name: 中原银行股份有限公司息县支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515300309'
                      name: 中原银行股份有限公司淮滨支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515500310'
                      name: 中原银行股份有限公司潢川支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515600280'
                      name: 中原银行股份有限公司光山支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515700342'
                      name: 中原银行股份有限公司固始支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515800329'
                      name: 中原银行股份有限公司商城支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313515900292'
                      name: 中原银行股份有限公司罗山支行
                    - bankCode: 05864910
                      cityCode: '411500'
                      id: '313516100350'
                      name: 中原银行股份有限公司新县支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508200331'
                      name: 中原银行股份有限公司扶沟支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508300344'
                      name: 中原银行股份有限公司西华支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508400351'
                      name: 中原银行股份有限公司商水支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508500326'
                      name: 中原银行股份有限公司太康支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508600312'
                      name: 中原银行股份有限公司鹿邑支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508700225'
                      name: 中原银行股份有限公司郸城支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508800291'
                      name: 中原银行股份有限公司淮阳支行
                    - bankCode: 05864910
                      cityCode: '411600'
                      id: '313508900303'
                      name: 中原银行股份有限公司沈丘支行
                    - bankCode: 05864910
                      cityCode: '411000'
                      id: '313503321015'
                      name: 中原银行股份有限公司鄢陵支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506200314'
                      name: 中原银行股份有限公司虞城支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506400324'
                      name: 中原银行股份有限公司民权支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506600340'
                      name: 中原银行股份有限公司睢县支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506700352'
                      name: 中原银行股份有限公司夏邑支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506800335'
                      name: 中原银行股份有限公司柘城支行
                    - bankCode: 05864910
                      cityCode: '411400'
                      id: '313506900300'
                      name: 中原银行股份有限公司永城支行
                    - bankCode: 05864910
                      cityCode: '410900'
                      id: '313502101989'
                      name: 中原银行股份有限公司清丰支行
                    - bankCode: 05864910
                      cityCode: '410900'
                      id: '313502300245'
                      name: 中原银行股份有限公司范县支行
                    - bankCode: 05864910
                      cityCode: '410900'
                      id: '313502400289'
                      name: 中原银行股份有限公司台前支行
                    - bankCode: 05864910
                      cityCode: '410700'
                      id: '313498271574'
                      name: 中原银行股份有限公司获嘉支行
                    - bankCode: 05864910
                      cityCode: '410700'
                      id: '313498574405'
                      name: 中原银行股份有限公司封丘支行
                    - bankCode: 05864910
                      cityCode: '410700'
                      id: '313498773900'
                      name: 中原银行股份有限公司卫辉支行
                    - bankCode: 05864910
                      cityCode: '410700'
                      id: '313498873807'
                      name: 中原银行股份有限公司辉县支行
                    - bankCode: 05864910
                      cityCode: '410500'
                      id: '313496400309'
                      name: 中原银行股份有限公司滑县支行
                properties:
                  resultList:
                    type: array
                    items:
                      type: object
                      properties:
                        bankCode:
                          type: string
                          description: 开户银行编码
                        cityCode:
                          type: string
                          description: 开户行所在城市编码
                        id:
                          type: string
                          description: 联行号
                        name:
                          type: string
                          description: 开户银行名称
        '400':
          description: '| Code | Message | Description |

            |------|-------------|-------------|

            | 400001 | Missing LLPAY-Signature header. |请求头缺失 |

            | 400003 | Invalid signature time. | 请求头时间戳不合法（请求消息包的签名时间和本地服务器的时间的最大允许阈值10min） |

            | 400006 | Signature validation failed. Contact Lianlian Pay for technical support. |验签异常，请参照授权流程中签名规则检查 |

            | 999995 | branchBankName can not be null. |参数不能为空 |'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: '| Code | Message |

            |------|-------------|

            | 500000 |Internal Server Error, Contact Lianlian Pay for technical support|'
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
      - in: header
        name: LLPAY-Signature
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
      tags:
      - 接口
      description: '联调地址 - **https://global-api-sandbox.lianlianpay-inc.com/common/v1/bank-code/search** </br>

        生产地址 - **https://global-api.lianlianpay.com/common/v1/bank-code/search**'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  branchBankName: '234'
              properties:
                branchBankName:
                  type: string
                  description: 开户银行名称
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /receipt/download:
    post:
      summary: 交易记录回执文件下载
      operationId: post-receipt-download
      responses:
        '200':
          description: 响应为PDF数据流
          headers: {}
          content: {}
        '400':
          description: '| Code | Message | Description |

            |------|-------------|-------------|

            | 400001 | Missing LLPAY-Signature header. |请求头缺失 |

            | 400003 | Invalid signature time. | 请求头时间戳不合法（请求消息包的签名时间和本地服务器的时间的最大允许阈值10min） |

            | 400006 | Signature validation failed. Contact Lianlian Pay for technical support. |验签异常，请参照授权流程中签名规则检查 |

            | 999995 | language can not be null |请求参数不合法 |'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: '| Code | Message |

            |------|-------------|

            | 500000 |Internal Server Error, Contact Lianlian Pay for technical support|'
          content:
            application/json:
              schema:
                type: object
                properties: {}
      description: '交易记录回执文件下载接口，响应为PDF数据流


        联调地址 - **https://global-api-sandbox.lianlianpay-inc.com/common/v1/receipt/download** </br>

        生产地址 - **https://global-api.lianlianpay.com/common/v1/receipt/download**'
      parameters:
      - in: header
        name: Authorization
        required: true
        schema:
          type: string
      - in: header
        name: LLPAY-Signature
        required: true
        schema:
          type: string
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
      tags:
      - 接口
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  extOrderId: fake_data
                  statementType: 49
                  language: 19
              properties:
                extOrderId:
                  type: string
                  description: 外部交易单号
                statementType:
                  type: integer
                  description: 交易类型
                  enum:
                  - 1
                  example: 1:付款
                language:
                  type: integer
                  description: 生成回执文件语言
                  enum:
                  - 0
                  - 1
                  example: '0: 中文; 1: 英文'
                  default: 1
              required:
              - extOrderId
              - statementType
              - language
      security:
      - authorization: []
      - llpay-signature: []
    servers:
    - url: https://global-api-sandbox.lianlianpay-inc.com/common/v1
  /vcard/apply:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      region:
                        type: string
                        description: 地区
                        enum:
                        - US
                        - CA
                        - EU
                        - UK
                        - JP
                        - AU
                        - SG
                        - AE
                        - ID
                        - IN
                        minLength: 2
[...]
