swagger: '2.0'
info:
  title: Payout API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /payout:
    post:
      summary: 提交分发指令
      parameters:
        - in: body
          name: body
          schema:
            type: object
            title: 分发
            description: 连连侧分发指令对象
            properties:
              payoutId:
                type: string
                description: 商户侧分发指令唯一编号
                maxLength: 64
              tradeFileId:
                type: array
                description: 平台侧订单编号
                maxItems: 10
                items:
                  type: string
                  maxLength: 64
              pricingCurrency:
                type: string
                description: 定价币种，参考附录币种代码
                minLength: 3
                maxLength: 3
              sourceCurrency:
                type: string
                description: 源币种，参考附录币种代码
                minLength: 3
                maxLength: 3
              sourceAmount:
                type: string
                description: 源币种金额，若 pricingCurrency = sourceCurrency，则该字段必填
                maxLength: 10
              targetCurrency:
                type: string
                description: 目的币种，参考附录币种代码
                minLength: 3
                maxLength: 3
              targetAmount:
                type: string
                description: 目的币种金额，若 pricingCurrency = targetCurrency，则该字段必填
                maxLength: 10
              payeeId:
                type: string
                description: 商户侧收款人唯一编号
                maxLength: 64
              payeeBankName:
                type: string
                description: 收款银行代码，参考附录银行列表
                minLength: 8
                maxLength: 8
              CnapsCode:
                type: string
                description: 收款银行大额行号，若收款银行账户为对公账户，且payeeBankName = 15947916，则该字段必传
                maxLength: 16
              payeeBankAcctNo:
                type: string
                description: 收款银行账号
                maxLength: 32
              tradeCode:
                type: string
                description: 交易编码
                maxLength: 8
              memo:
                type: string
                description: 打款备注
                maxLength: 40
            required:
              - payoutId
              - tradeFileId
              - pricingCurrency
              - sourceCurrency
              - targetCurrency
              - payeeId
              - payeeBankName
              - payeeBankAcctNo
              - tradeCode
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | 错误码 | 解释 |
            |------|-------------|
            | 999995 |参数错误 |
            |300070|payoutId信息已存在|
            |300006|payeeId不存在或审核未通过|
            |300071|未完成分账|
            |300033|tradeFileId不存在|
            |300054|tradeFileId已分发|
            |300072|分发金额不符合要求|
        '500':
          description: Internal Server Error
      tags:
        - 接口
  '/payout/{payoutId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 查询分发指令信息
      tags:
        - 接口
    parameters:
      - name: payoutId
        in: path
        type: string
        required: true
        description: 商户侧分发指令唯一编号
        maxLength: 64
definitions:
  new-model:
    type: object
    title: 分发
    description: 连连侧分发指令对象
    properties:
      payoutId:
        type: string
        description: 商户侧分发指令唯一编号
        maxLength: 64
      tradeFileId:
        type: array
        description: 平台侧订单唯一编号
        maxItems: 10
        items:
          type: string
          maxLength: 64
      pricingCurrency:
        type: string
        description: 定价币种，参考附录币种代码
        minLength: 3
        maxLength: 3
      sourceCurrency:
        type: string
        description: 源币种，参考附录币种代码
        minLength: 3
        maxLength: 3
      sourceAmount:
        type: string
        description: 源币种金额，若 pricingCurrency = sourceCurrency，则该字段必填
        maxLength: 10
      targetCurrency:
        type: string
        description: 目的币种，默认为CNY
        minLength: 3
        maxLength: 3
      targetAmount:
        type: string
        description: 目的币种金额，若 pricingCurrency = targetCurrency，则该字段必填
        maxLength: 10
      rate:
        type: string
        description: |
          汇兑汇率，若分发成功，则显示汇兑汇率
        maxLength: 8
      payeeId:
        type: string
        description: 商户侧收款人唯一编号
        maxLength: 64
      payeeBankName:
        type: string
        description: 收款银行代码，参考附录银行列表
        minLength: 8
        maxLength: 8
      CnapsCode:
        type: string
        description: 收款银行大额行号，若收款银行账户为对公账户，且payeeBankName = 15947916，则该字段必传
        maxLength: 16
      payeeBankAcctNo:
        type: string
        description: 收款银行账号
        maxLength: 32
      tradeCode:
        type: string
        description: 交易编码
        maxLength: 8
      memo:
        type: string
        description: 打款备注
        maxLength: 40
      createTime:
        type: string
        description: '创建时间，格式：yyyy-MM-dd''T''HH:mm:ss''Z'
      updateTime:
        type: string
        description: '状态更新时间，格式：yyyy-MM-dd''T''HH:mm:ss''Z'
      status:
        type: string
        description: |-
          分发指令处理状态，状态如下

          |值|解释|
          |----|----|
          |Processing|处理中|
          |Successed|处理成功|
          |Failed|处理失败|
          |Hedged|红冲成功|
        enum:
          - Processing
          - Successed
          - Failed
          - Hedged
      failedReason:
        type: string
        description: 失败原因，若分发失败，则该字段显示失败原因
        maxLength: 128
    required:
      - payoutId
      - tradeFileId
      - payeeId
      - payeeBankName
      - payeeBankAcctNo
      - tradeCode
      - createTime
      - updateTime
      - status
tags:
  - name: Operations
  - name: 接口
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /b2b-export
