openapi: 3.1.0
x-stoplight:
  id: l5et177b8zr8l
info:
  title: Account API
  version: '1.0'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/connect/v1'
paths:
  /account:
    post:
      summary: 创建会员账户
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
        '400':
          description: Missing Required Information
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  maxLength: 32
                  description: 会员Id
                currency:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 币种
              required:
                - memberId
                - currency
            examples:
              Create User Bob Fellow:
                value:
                  firstName: Bob
                  lastName: Fellow
                  email: bob.fellow@gmail.com
                  dateOfBirth: '1996-08-24'
        description: ''
      description: ''
      tags:
        - 接口
    parameters: []
  '/account/{memberId}':
    parameters:
      - schema:
          type: string
        name: memberId
        in: path
        required: true
    get:
      summary: 会员账户信息查询
      tags:
        - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                allOf:
                  - items:
                      $ref: '#/components/schemas/account'
                type: array
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      description: ''
  /statement:
    get:
      summary: 账户资金流水查询
      tags:
        - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statement'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      parameters:
        - schema:
            type: string
            maxLength: 32
          in: query
          name: memberId
          description: 会员ID
          required: true
        - schema:
            type: string
            maxLength: 3
            minLength: 3
          in: query
          name: currency
          description: 币种
          required: true
        - schema:
            type: string
            maxLength: 32
          in: query
          name: beginTime
          description: '开始时间，格式：yyyy-MM-dd HH:mm:ss'
          required: true
        - schema:
            type: string
          in: query
          name: endTime
          description: '结束时间，格式：yyyy-MM-dd HH:mm:ss'
          required: true
        - schema:
            type: string
          in: query
          name: pageNum
          description: 页码，默认为1
          required: true
        - schema:
            type: string
          in: query
          name: pageSize
          description: 每页查询数量，单页最多20条
          required: true
    parameters: []
  /balance:
    get:
      summary: 账户余额查询
      tags:
        - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberId:
                    type: string
                    maxLength: 32
                    description: 会员Id
                  currency:
                    type: string
                    minLength: 3
                    maxLength: 3
                    description: 币种
                  freezeAmount:
                    type: string
                    description: 冻结余额
                    maxLength: 16
                  availableAmount:
                    type: string
                    maxLength: 16
                    description: 可用余额
                required:
                  - memberId
                  - currency
                  - freezeAmount
                  - availableAmount
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
      description: ''
      parameters:
        - schema:
            type: string
          in: query
          name: memberId
          description: 会员Id
          required: true
        - schema:
            type: string
            minLength: 3
            maxLength: 3
          in: query
          name: currency
          description: 币种
          required: true
components:
  schemas:
    statement:
      title: statement
      x-stoplight:
        id: h8ztry2mufw3b
      type: object
      properties:
        billNumber:
          type: string
          maxLength: 32
          description: 账务流水号
        fundDirection:
          type: string
          enum:
            - CREDIT
            - DEBIT
          description: |
            资金方向，CREDIT：入账；DEBIT：出账
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: 币种
        transactionAmount:
          type: string
          maxLength: 16
          description: 交易金额
        balance:
          type: string
          maxLength: 16
          description: 交易后可用余额
        accountDate:
          type: string
          description: 账务日期，格式：yyyy-MM-dd
        transactionTime:
          type: string
          description: '交易时间，格式：yyyy-MM-dd HH:mm:ss'
        remark:
          type: string
          maxLength: 128
          description: 备注
        totalCount:
          type: string
          description: 总条数
        pageNum:
          type: string
          description: 当前页码
        pageSize:
          type: string
          description: 每页查询数量
      x-tags:
        - 对象
    account:
      type: object
      properties:
        memberId:
          type: string
          maxLength: 32
          description: 会员Id
        accountId:
          type: string
          maxLength: 32
          description: 账户Id
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: 币种
        status:
          type: string
          enum:
            - ENABLED
            - DISABLED
          description: 状态
        virtualAccountInfo:
          type: object
          description: ' 虚拟卡信息'
          properties:
            virtualAccountName:
              type: string
              maxLength: 128
              description: 虚拟卡名称
            virtualAccounNumber:
              type: string
              maxLength: 32
              description: 虚拟卡号
            swiftCode:
              type: string
              maxLength: 11
              description: swift code
            routingType:
              type: string
              maxLength: 16
              description: 路由号类型
            routingNumber:
              type: string
              maxLength: 32
              description: 路由号
            bankName:
              type: string
              maxLength: 64
              description: 银行名称
            branchCode:
              type: string
              maxLength: 32
              description: 开户银行分行代码
            bankAddress:
              type: string
              maxLength: 256
              description: 银行地址
      title: account
      x-stoplight:
        id: 62e56dc100b32
      x-tags:
        - 对象
