swagger: '2.0'
info:
  title: WEBHOOK API
  version: '1.0'
  contact:
    email: fx_support@lianlianpay.com
  description: |-
    This section contains operations and models of Lianlian Pay Webhook service. 

    Webhook is a common service shared by multiple Lianlian Pay products, and all operations of this service are hosted in China.

    Production Endpoint - **global-api.lianlianpay.com**
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /webhooks:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/webhook'
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
            | 108012 | Duplicate Webhook Registration |
          schema:
            $ref: ./error.oas2.yml#/definitions/error
        '500':
          description: ''
      summary: Register Webhook
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.

        Return type is `Webhook` object
      operationId: register-webhook
      tags:
        - Operations
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              url:
                type: string
                description: Webhook callback url
                maxLength: 64
              topic:
                type: string
                description: |
                  Event topics defined in Lianlian Pay's system.

                  | Topic | Description |
                  |--------|------------|
                  | outbound.payer.approved |  payer approved |
                  | outbound.payer.rejected  |  payer reject |
                  | outbound.funding.funded | Bill funding received |
                  | outbound.refunding.success | Refunding complete |
                  | outbound.refunding.failed | Refunding failed  |
                  | outbound.tradeFile.approved | Tuition evidence approved  |
                  | outbound.tradeFile.rejected | Tuition evidence rejected |
                  | outbound.exchange.success | FX(balance transfer) complete |
                  | outbound.exchange.failed | FX(balance transfer) failed |
                  | outbound.exchangereturn.success | Partial FX reverse complete |
                  | outbound.exchangereturn.failed | Partial FX reverse failed |
                  | outbound.exchangecancel.success| FX(balance transfer) reverse complete |
                  | outbound.exchangecancel.failed| FX(balance transfer) reverse failed |
                  | outbound.payout.success |Payout complete|
                  | outbound.payout.failed |Payout failed|
                  | outbound.payout.hedged |Payout Success first, then failure|
                  | outbound.vcc.active| VCC Actived |
                  | outbound.vcc.frozen| VCC Frozen |
                  | outbound.vcc.expired| VCC Expired|
                  | outbound.vcc.auth | VCC Authorization Transaction |
                  |outbound.vcc.otp|Send VCC 3DS otp|
                  |outbound.vcc.refund|VCC settlement refund|
                  | outbound.receipt.created | Receipt created|
                  |outbound.receipt.failed|Receipt creation failed|
                  |outbound.va.active|VA Actived|
                  |outbound.va.frozen|VA Frozen|
                  |outbound.va.block|VA blocked|
                  |outbound.va.debit|VA debit succeed|
                  |outbound.va.reject|VA debit rejected|
            required:
              - url
              - topic
        - in: header
          name: Idempotency-Key
          type: string
          description: |-
            **Optional**

            A unique value generated by the client which the server uses to recognize subsequent retries of the same request.
    get:
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/webhook'
        '500':
          description: ''
      summary: Get Webhook Registration List
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.

        Return type is List<`Webhook`>
      operationId: get-webhook-registration-list
      tags:
        - Operations
  '/webhooks/{webhookId}':
    get:
      summary: Get Webhook Registration
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      operationId: get-webhook-registration
      tags:
        - Operations
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/webhook'
        '404':
          description: ''
        '500':
          description: ''
    parameters:
      - name: webhookId
        in: path
        type: string
        required: true
    delete:
      responses:
        '200':
          description: ''
        '404':
          description: ''
        '500':
          description: ''
      summary: Delete Webhook Registration
      description: Delete a webhook registration by `webhookId`.
      operationId: delete-webhook-registration
      tags:
        - Operations
tags:
  - name: Operations
definitions:
  webhook:
    type: object
    title: Webhook
    description: |-
      Object used in Lianlian Pay system to describe the client registration of event callbacks.

      Lianlian Pay uses this object to identify events which should be pushed back to client's url.
    x-tags:
      - Models
    properties:
      id:
        type: string
        description: Webhook registration id in Lianlian Pay's system
        maxLength: 32
      url:
        type: string
        description: Client webhook url
        maxLength: 64
      createTime:
        type: string
        description: 'Webhook registration time, UTC+0 timestamp'
        format: date-time
      topic:
        type: string
        description: |
          Event topics defined in Lianlian Pay's system.

          | Topic | Description |
          |--------|------------|
          | outbound.payer.approved |  payer approved |
          | outbound.payer.rejected  |  payer reject |
          | outbound.funding.funded | Bill funding received |
          | outbound.refunding.success | Refunding complete |
          | outbound.refunding.failed | Refunding failed  |
          | outbound.refunding.hedged | Refunding hedged |
          | outbound.tradeFile.approved | Tuition evidence approved  |
          | outbound.tradeFile.rejected | Tuition evidence rejected |
          | outbound.exchange.success | FX(balance transfer) complete |
          | outbound.exchange.failed | FX(balance transfer) failed |
          | outbound.exchangereturn.success | Partial FX reverse complete |
          | outbound.exchangereturn.failed | Partial FX reverse failed |
          | outbound.exchangecancel.success| FX(balance transfer) reverse complete |
          | outbound.exchangecancel.failed| FX(balance transfer) reverse failed |
          | outbound.payout.success |Payout complete|
          | outbound.payout.failed |Payout failed|
          | outbound.payout.hedged |Payout Success first, then failure|
          | outbound.vcc.active| VCC Actived |
          | outbound.vcc.frozen| VCC Frozen |
          | outbound.vcc.expired| VCC Expired|
          | outbound.vcc.auth | VCC Authorization Transaction |
          |outbound.vcc.otp|Send VCC 3DS otp|
          |outbound.vcc.refund|VCC settlement refund|
          | outbound.receipt.created | Receipt created|
          |outbound.receipt.failed|Receipt creation failed|
          |outbound.va.active|VA Actived|
          |outbound.va.frozen|VA Frozen|
          |outbound.va.block|VA Blocked|
          |outbound.va.debit|VA debit succeed|
          |outbound.va.reject|VA debit rejected|
    required:
      - id
      - url
      - createTime
      - topic
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
security:
  - authorization: []
  - llpay-signature: []
securityDefinitions:
  llpay-signature:
    type: apiKey
    name: LLPAY-Signature
    in: header
    description: |
      The LLPAY-Signature header contains a timestamp and one or more signatures. The timestamp is prefixed by t=, and each signature is prefixed by a scheme. Schemes start with v, potentially followed by an integer.

      ```
      LLPAY-Signature: t=1492774577, v=5257a869e7ecebeda32affa62cdca3fa51cad7e77a0e56ff536d0ce8e108d8bd
      ```

      Note that newlines have been added in the example above for clarity, but a real LLPAY-Signature header will be all one line.

      Lianlian Pay and clients shall exchange each party’s public key.  The LLPAY-Signature will be signed by with the RSA private key.

      **Step 1:** Determine the signature payload

      Create a `payload` string which is the following connected with `&`

      * HTTP_METHOD: The actual method defined for specific API endpoint `POST`
      * URI: The request's URL Path, such as `/profiles/{profileId}`
      * REQUEST_EPOCH: The seconds elapsed since 1970/1/1 00:00:00 GMT, same as value of `t`
      * REQUEST_PAYLOAD: The contents of request body in JSON format. 
      * QUERY_STRING: The query string of the URL, URL Encoded, such as `attr1%3Dvalue1%26attr2%3Dvalue2`

      <!-- theme: info -->
      >Case 1: QUERY_STRING is empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&REQUEST_PAYLOAD
      >
      >---
      >Case 2: REQUEST_PAYLOAD is empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&&QUERY_STRING
      >
      >---
      >Case 3: REQUEST_PAYLOAD and QUERY_STRING both are empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&


      Put typical GET and POST examples here.

      Example POST `payload`:
      ```
      POST&/kyc/v1/profiles&19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}
      ```

      Example GET `payload`:
      ```
      GET&/events/v1&19879234&&status%3DMAXIMUM_RETRIES_REACHED
      ```



      **Step 2:** Prepare the `LLPAY-Signature` string

      Achieve this by concatenating:
      * The timestamp (Seconds elapsed since 1970/1/1 00:00:00 GMT as a string)
      * Use your RSA private key and calculate the string `BASE64(RSAwithSHA256(STEP_1_RESULT)))` from Step 1

      ### Result Signature

      LianLian Pay result headers also contain the `LLPAY-Signature` header as described above but signed with Lianlian Pay's private RSA key.  You may verify the signature corresponds to the Result body by calculating the signature and comparing it to the unencrypted version of `LLPAY-Signature` using the Lianlian Pay's public RSA key.  Here are the steps:

      **Step 1:** Determine the signature `payload`

      Create a `payload` string which is the following separated by `&`

      * Response Timestamp: Extract t from LLPay-Signature and use it as timestamp
      * Response Payload: The contents of response body in JSON format

      Example `payload`:
      ```
      19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}
      ```

      **Step 2:** Use RSA Verify to compare signatures

      Compare the LLPay-Signature received with the `payload` calculated in Step 1 using the Lianlian Pay's Public Key using the following algorithm:

      ```
      RSA.verify( LLPAY-Signature, 
                  '19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}', 
                  Lianlian Pay Public Key )
      ```
  authorization:
    type: apiKey
    name: Authorization
    in: header
    description: |-
      LianLian Pay API uses an API key to authenticate requests. To request Lianlian Pay developer account, send the following two information to `fx_support@lianlianpay.com`:
      <!-- theme: info -->
      >**developer_name**
      >
      >**developer_public_key**

      After process, Lianlian Pay will replay with:
      <!-- theme: info -->
      >**developer_master_token** - api authentication
      >
      >**developer_refresh_token** - refresh developer master token, valid for a year. Can be updated by sending request to `fx_support@lianlianpay.com`
      >
      >**LianlianPay_public_key**

      The `Authorization` header must be included in all requests with the following format:

      ```
      Authorization: Basic {master_token}
      ```
basePath: /common/v1
