swagger: '2.0'
info:
  title: Document API
  description: |-
    Due to data security regulations, LianLian Global hosts two file systems, one in China and one in U.S., to keep file based data within the profile sourcing country/region.

    This section contains operations and models of LianLian Global China file system. 

    Production Endpoint - **global-api.lianlianpay.com**
  contact:
    email: fx_support@lianlianpay.com
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
basePath: /common/v1
schemes:
  - https
paths:
  /documents:
    post:
      tags:
        - Operations
      summary: Upload Document
      description: |-
        Upload document to LianLian Global's system. 

        Return type is `Document` object. `Document.id` should be used in other APIs if a support document is required.
      operationId: upload-document
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              file:
                type: object
                description: 'The file itself, supported file extensions are PDF, JPG, GIF, TIF, PNG, JPEG, ZIP, RAR. Maximum support of 20M.'
              referenceId:
                type: string
                description: Document size
            required:
              - file
        - description: |-
            **Optional**

            A unique value generated by the client which the server uses to recognize subsequent retries of the same request.
          type: string
          name: Idempotency-Key
          in: header
      schemes:
        - https
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/document'
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 510002 | Unsupported document type. |
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
        '500':
          description: ''
  '/documents/{documentId}':
    get:
      tags:
        - Operations
      summary: Download Document
      description: |
        Download document file by `dcoumentId`. 
      operationId: download-document
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: documentId
          in: path
      schemes:
        - https
      responses:
        '200':
          description: ''
          schema:
            type: string
            description: Document data streaming
            format: byte
        '404':
          description: ''
        '500':
          description: ''
tags:
  - name: Operations
definitions:
  document:
    type: object
    title: 'Document '
    description: File object in LianLian Global's system.
    properties:
      id:
        type: string
        description: Document id in LianLian Global's system
        maxLength: 32
      name:
        type: integer
        description: Document name
        maximum: 128
      createTime:
        type: string
        description: 'Document create time, UTC+0'
        format: date-time
    required:
      - id
      - name
      - createTime
    x-tags:
      - Models
