openapi: 3.1.0
x-stoplight:
  id: 6jat7d2ieot2v
info:
  title: receipt
  version: '1.0'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/global/payout/v1'
paths:
  /receipt:
    post:
      summary: Create Receipt
      operationId: ''
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transactionId:
                  type: string
                  x-stoplight:
                    id: xs6onez4dfb4x
              required:
                - transactionId
      tags:
        - Operations
  '/receipt/{transactionId}':
    parameters:
      - schema:
          type: string
        name: transactionId
        in: path
        required: true
    get:
      summary: Get Receipt Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
      operationId: ''
      tags:
        - Operations
components:
  schemas:
    Receipt:
      title: receipt
      x-stoplight:
        id: 7nx5xr90w76sg
      type: object
      properties:
        transacionId:
          type: string
          description: Payout request id from client
          maxLength: 32
        documentId:
          type: string
        createTime:
          type: string
          description: 'create time, UTC+0'
          maxLength: 24
        modifyTime:
          type: string
          description: 'Modify Time, UTC+0'
          maxLength: 24
        status:
          type: string
          description: |-
            Receipt creation status, one of 

            |Code|Description|
            |--|--|
            |CREATING|receipt creation request processing|
            |CREATED|receipt created|
            |FAILED|receipt creation failed|
          enum:
            - CREATING
            - CREATED
            - FAILED
      required:
        - transacionId
