swagger: '2.0'
info:
  title: TuitionEventic API
  version: '1.0'
  description: |-
    Upon successfully providing bill information, the corresponding materials will be reviewed by LianLian Pay. 

    It’s allowed to re-provide the materials with respect to the bill being rejected. 

    Please firstly use Document Api to upload materials. Note: if the document name is replicated, the previous old document will be replaced by the new one.
host: global-api.lianlianpay.com
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /tuitionevidences:
    post:
      summary: Send Tuition Evidence
      operationId: post-tuitionevidences
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TuitionInfo'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 020102|Payer is auditing|
            | 020103|Payer is rejected|
            | 020301|trading material already exist |
            | 020302|trading meterial document amount exceed limit|
            | 020401|bill not exist or invalid |
            | 020303|bill amount does not match with tuition amount|
            | 020501|payer does not exist|
            | 020305|student name rejected by blacklist|
            | 999995 |Parameter is error. |
          schema:
            type: object
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      parameters:
        - in: body
          name: body
          schema:
            title: TuitionInfo
            type: object
            description: Tuition information defined in Lianlian Pay's system
            x-tags:
              - Models
            required:
              - billId
              - institutionName
              - tradeCurrency
              - tradeAmount
              - beneficiaryName
              - beneficiaryIdType
              - beneficiaryIdNo
              - attachment
              - country
              - tradeBackground
              - directToBeneficiary
            properties:
              billId:
                type: string
                description: Bill id from client
                maxLength: 32
              institutionName:
                type: string
                description: |-
                  Institution Name,one of 
                  |trade background|Institution|
                  |----|-----|
                  |Medical Related|Hosptial|
                  |Study Abroad Related|University|
                maxLength: 128
              tradeCurrency:
                type: string
                description: 'Trade currency, reference to the appendix Currency Code'
                maxLength: 3
              tradeAmount:
                type: string
                description: Trade amount
                maxLength: 24
              beneficiaryName:
                type: string
                description: |-
                  beneficiary name，one of 
                  |trade background|beneficiary|
                  |----|-----|
                  |Medical Care|Patient|
                  |Study Abroad Related|Student|
                maxLength: 128
              beneficiaryIdType:
                type: string
                x-stoplight:
                  id: 560pey9hf1w80
                description: "benificiary identification type\r\n\r\n| value| description |\r\n|--------|-------------|\r\n|ID_CARD|Chinese ID Card|\r\n|OTHER|Passport or other ID type|"
              beneficiaryIdNo:
                type: string
                x-stoplight:
                  id: vlvflmrfk4jaf
              beneficiaryBirth:
                type: string
                x-stoplight:
                  id: 7lpxtxoclts0u
                maxLength: 20
                format: date
                example: '2023-01-31'
                pattern: yyyy-MM-dd
                description: Beneficiarys's birthday
              attachment:
                type: string
                description: 'Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most.'
                maxLength: 256
              country:
                type: string
                description: |-
                  Institution country/country code， see Appendix-Country Code
                                                                                    
                maxLength: 3
              tradeCode:
                type: string
                description: |-
                  Trade Code, one of 
                  |Code|Description|
                  |---|----|
                  |223022|Study Abroad Related|
                  |223021|Going Abroad for medical treatment|
                  |229030|Telemedicine|
              tradeBackground:
                type: string
                description: |-
                  trade background, one of

                  |Code|Description|
                  |----|----|
                  |tuition|tuition fee|
                  |quarterage|quarterage fee|
                  |insurance|insurance|
                  |custodyFee|student custody fee|
                  |guarantee|guarantee fee|
                  |medical|medical related fee|
                  |visaFee|visa fee|
                  |other|other|
                enum:
                  - tuition
                  - quarterage
                  - insurance
                  - custodyFee
                  - guarantee
                  - visaFee
                  - other
              directToBeneficiary:
                type: string
                description: |-
                  Whether the fee is paid directly to the beneficiary, one of 

                  |Code|Description|
                  |----|-----|
                  |N|N0|
                  |Y|YES|
                enum:
                  - 'Y'
                  - 'N'
              payChannel:
                type: string
                description: Payment channel， mandatory if directToBeneficiary = N
          description: ''
      tags:
        - Operations
      description: |
        Submit trading material documents. Before making a request, supporting documents should be uploaded into Lianlian Pay's file system first. Supporting document reviewing results will be returned via webhook 

        The following verifications will be conducted on trading materials: 
        1. to verify whether the bill exists;
        2. to verify whether the “documentId” is valid; and 
        3. to reject uploading the new materials if there is verification under progress or the same is completed before. 
  '/tuitionevidences/{billId}':
    parameters:
      - type: string
        name: billId
        in: path
        required: true
    get:
      summary: Query Tuition evidence of Bill
      tags:
        - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TuitionInfo'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 |Parameter is error. |
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
      operationId: get-tuitionevidences-billid
      description: 'Get evidence details by bill id '
definitions:
  TuitionInfo:
    title: TuitionInfo
    type: object
    description: Tuition information defined in Lianlian Pay's system
    x-tags:
      - Models
    properties:
      billId:
        type: string
        description: Bill id from client
        maxLength: 32
      institutionName:
        type: string
        description: |-
          Institution Name,one of 
          |trade background|Institution|
          |----|-----|
          |Medical Related|Hosptial|
          |Study Abroad Related|University|
        maxLength: 128
      tradeCurrency:
        type: string
        description: 'Trade currency, reference to the appendix Currency Code'
        maxLength: 3
      tradeAmount:
        type: string
        description: Trade amount
        maxLength: 24
      tradeBackground:
        type: string
        description: |-
          trade background, one of

          |Code|Description|
          |----|----|
          |tuition|tuition fee|
          |quarterage|quarterage fee|
          |insurance|insurance|
          |custodyFee|student custody fee|
          |guarantee|guarantee fee|
          |medical|medical related fee|
          |other|other|
        enum:
          - tuition
          - quarterage
          - insurance
          - custodyFee
          - guarantee
          - other
      beneficiaryName:
        type: string
        description: |-
          beneficiary name，one of 
          |trade background|beneficiary|
          |----|-----|
          |Medical Care|Patient|
          |Study Abroad Related|Student|
        maxLength: 128
      benificiaryIdType:
        type: string
        x-stoplight:
          id: fqasm9z25i0t2
        description: "benificiary identification type\r\n\r\n| value| description |\r\n|--------|-------------|\r\n|ID_CARD|Chinese ID Card|\r\n|OTHER|Passport or other ID type|"
      beneficiaryIdNo:
        type: string
        x-stoplight:
          id: gojrvf9i44a1v
      beneficiaryBirth:
        type: string
        x-stoplight:
          id: cyxo3l6x2w74c
        maxLength: 20
        pattern: yyyy-MM-dd
        format: date
        description: Beneficiary's birthday
      country:
        type: string
        description: |-
          Institution country/country code， see Appendix-Country Code
                                                                            
        maxLength: 3
      tradeCode:
        type: string
        description: |-
          Trade Code, one of 
          |Code|Description|
          |---|----|
          |223022|Study Abroad Related|
          |223021|Going Abroad for medical treatment|
          |229030|Telemedicine|
      directToBeneficiary:
        type: string
        description: |-
          Whether the fee is paid directly to the beneficiary, one of 

          |Code|Description|
          |----|-----|
          |N|N0|
          |Y|YES|
        enum:
          - 'Y'
          - 'N'
      payChannel:
        type: string
        description: Payment channel， mandatory if directToBeneficiary = N
      attachment:
        type: string
        description: 'Document id, supported file extensions are PDF, JPG, GIF. 5 documents at most.'
        maxLength: 256
      status:
        type: string
        description: |-
          Tuition evidence status, one of

          |value|descrption|
          |------|-------------|
          |AUDITING|Under review|
          |APPROVED|Approved|
          |REJECT|Rejected|
        enum:
          - AUDITING
          - APPROVED
          - REJECT
      riskStatus:
        type: string
        x-stoplight:
          id: 8ok2fdhp7nyny
        description: 'Risk status, return `PENDING` when intercepted by risk control.'
      failReason:
        type: string
        description: Failure reason
        maxLength: 128
      createTime:
        type: string
        format: date-time
        description: 'create time, UTC+0'
basePath: /outbound/bill/v1
