swagger: '2.0'
info:
  title: EVENT API
  description: |-
    This section contains operations and models of LianLian Global notification system. LianLian Global uses hypermedia to provide additional information for the client to better processing an LianLian Global system generated event. 

    Client should register event callbacks via LianLian Global  webhook API in order to receive any event.

    Production Endpoint - **global-api.lianlianpay.com**
  contact:
    email: fx_support@lianlianpay.com
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
basePath: /common/V1
schemes:
  - https
paths:
  /events:
    get:
      tags:
        - Operations
      summary: Get Event List
      description: |-
        Get a list of LianLian Global's system generated events. Empty list will be returned if there is no applicable events.

        Return type is List<`Event`>
      operationId: get-event-list
      produces:
        - application/json
      parameters:
        - description: Event topic defined in LianLian Global's system.
          type: string
          name: topic
          in: query
        - description: 'If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.'
          allowEmptyValue: true
          type: integer
          default: 1
          minimum: 1
          name: pageNum
          in: query
        - description: 'If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records'
          allowEmptyValue: true
          type: integer
          default: 20
          name: pageSize
          in: query
      schemes:
        - https
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              total:
                type: integer
                description: Total event count
              list:
                type: array
                description: Event object list
                items:
                  $ref: '#/definitions/event'
            required:
              - total
              - list
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
        '500':
          description: ''
  '/events/{eventId}':
    get:
      tags:
        - Operations
      summary: Get Event
      description: |-
        Get a LianLian Global's system generated event by `eventId`

        Return type is `Event` object
      operationId: get-event
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: eventId
          in: path
      schemes:
        - https
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/event'
        '404':
          description: ''
        '500':
          description: ''
tags:
  - name: Operations
definitions:
  event:
    type: object
    title: 'Event '
    description: |-
      Event object generated by LianLian Global's system. 

      Event is notified via registered webhook, and default status is `PROCESSING`. 

      Event status will be updated to `SUCCESS` after receiving `200` HTTP status code return from webhook url. Before success, LianLian Global will keep sending the event to registered webhook url every 60 minutes for 24 times in total. After all 24 retries without success, event status will then be updated to `MAXIMUM_RETRIES_REACHED`.
    x-tags:
      - Models
    properties:
      id:
        type: string
        description: Event id in LianLian Global's system
      topic:
        $ref: '#/definitions/event-topic-enum'
      data:
        type: object
        description: Event details
        required:
          - objectType
          - objectId
        properties:
          objectType:
            description: 'Object type related to this event. '
            type: string
          objectId:
            type: string
            description: Id of the object that related in this event
          url:
            type: string
            description: |-
              Event related API endpoint. Can be used to retrive the data object related to this event from LianLian Global's system. 

              Http method accepted is `GET`, type is `application/json`
      createTime:
        type: string
        description: 'Event created time, UTC+0'
        format: date-time
      status:
        enum:
          - PROCESSING
          - SUCCESS
          - MAXIMUM_RETRIES_REACHED
        description: |-
          Event status defined in LianLian Global's system. One of:

          | status | description |
          |--------|-------------|
          | PROCESSING | Event is under processing |
          | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
          | MAXIMUM_RETRIES_REACHED | Callback notification stopped as maximum retrying number reached. |
      webhookURL:
        type: string
        description: Registered webhook url for this event
    required:
      - id
      - topic
      - data
      - createTime
      - status
      - webhookURL
  event-topic-enum:
    type: string
    title: Event Topic Enumeration
    description: |-
      Event topics defined in LianLian Global's system.

      | Topic | Description |
      |--------|------------|
      | OUTWARD_PAYERINFO_RESPONSE |  Payer KYC result notification |
      | OUTWARD_TRADEFILE_RESPONSE  |  Trade file audit result notification |
      | OUTWARD_ORDER_RESPONSE  |  Transaction processing result notification |
    x-tags:
      - Models
