swagger: '2.0'
info:
  title: FX RATE
  version: '1.0'
  contact:
    email: fx_support@lianlianpay.com
  description: This section contains the operations and models of Lianlian Pay fx rate service.
host: global-api-sandbox.lianlianpay-inc.com
schemes:
  - http
produces:
  - application/json
consumes:
  - application/json
paths:
  '/rate/{rateType}/{sourceCurrency}/{targetCurrency}':
    get:
      summary: Get FX Rate
      tags:
        - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/rate'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 |Parameter is error. |
          schema:
            type: object
            properties: {}
        '404':
          description: Not Found
          schema:
            type: object
            properties: {}
        '500':
          description: Internal Server Error
          schema:
            type: object
            properties: {}
        '':
          schema:
            $ref: '#/definitions/rate'
          description: ''
      operationId: get-rate
      description: 'This operation '
      parameters: []
    parameters:
      - type: string
        name: sourceCurrency
        in: path
        required: true
        description: Source Currency
        maxLength: 3
      - type: string
        name: targetCurrency
        in: path
        required: true
        description: Target Currency
        maxLength: 3
      - type: string
        name: rateType
        in: path
        required: true
        description: |-
          Rate Type, one of 
          |Code|Decription|
          |----|-----|
          |reference|Rate for reference|
        maxLength: 10
  /outbound/card/v1/lockrate:
    get:
      summary: Get Lock FX Rate
      tags:
        - Operations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/rate'
          examples:
            Example 1:
              rate: '7.152354'
              rateId: '202301010339638826'
              baseCurrency: USD
              sourceCurrency: CNY
              targetCurrency: USD
              rateTime: '2023-01-01T10:00:00Z'
              startTime: '2023-01-01T10:00:00Z'
              endTime: '2023-01-01T10:00:00Z'
      operationId: get-lockrate
      x-stoplight:
        id: glgd3xlje991f
      description: The Get Lock FX Rate gives the user a guaranteed rate for an agreed period of time.
      parameters:
        - type: string
          in: query
          name: sourceCurrency
          description: Source Currency
          required: true
          minLength: 3
          maxLength: 3
        - type: string
          in: query
          name: targetCurrency
          description: Target Currency
          required: true
          minLength: 3
          maxLength: 3
definitions:
  rate:
    title: Fx-Rate
    type: object
    description: Fx-rate object in Lianlian Global's system
    x-tags:
      - Models
    properties:
      rate:
        type: string
        description: Rate
        maxLength: 10
      rateId:
        type: string
        description: Rate ID
        maxLength: 24
      baseCurrency:
        type: string
        maxLength: 3
        description: |-
          Base Currency
          Sample: USD is the Base Currency for USD/CNY
      sourceCurrency:
        type: string
        description: Source Currency
        maxLength: 3
      targetCurrency:
        type: string
        maxLength: 3
        description: Target Currency
      rateTime:
        type: string
        maxLength: 20
        description: Rate Time
        format: date-time
      startTime:
        type: string
        x-stoplight:
          id: q5d7mrckr9kip
        description: "FX rate validity start time\r\n\r\n"
        format: date-time
      endTime:
        type: string
        x-stoplight:
          id: piu2agsafhygl
        description: FX rate validity end time
        format: date-time
    required:
      - rate
      - baseCurrency
      - sourceCurrency
      - targetCurrency
      - rateTime
securityDefinitions: {}
