openapi: 3.1.0
x-stoplight:
  id: xm52aidf1kd1y
info:
  title: Member.oas2.yml
  version: '1.0'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/connect/v1'
paths:
  /member/:
    post:
      summary: 创建会员
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
              examples:
                New User Bob Fellow:
                  value:
                    id: 12
                    firstName: Bob
                    lastName: Fellow
                    email: bob.fellow@gmail.com
                    dateOfBirth: '1996-08-24'
                    emailVerified: false
                    createDate: '2020-11-18'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  maxLength: 32
                  description: 会员ID
                memberType:
                  type: string
                  enum:
                    - Individual
                    - Corporate
                  description: 会员类型，个人：Individual；企业：Corporate
                memberNation:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 会员所在国家或地区
                memberIdNo:
                  type: string
                  maxLength: 32
                  description: 会员证件号
                memberNameEn:
                  type: string
                  maxLength: 128
                  description: 会员英文名称
                memberDate:
                  type: string
                  minLength: 8
                  maxLength: 8
                  description: |-
                    会员出生或成立日，格式：yyyyMMdd。
                    若会员为个人，则为个人出生日期；
                    若会员为企业，则为企业注册日期
                memberAddress:
                  type: string
                  maxLength: 128
                  description: 会员经营或联系地址
              required:
                - memberId
                - memberType
                - memberNation
                - memberIdNo
                - memberNameEn
                - memberDate
                - memberAddress
            examples: {}
        description: ''
      description: ''
      parameters: []
      tags:
        - 接口
    parameters: []
  '/member/ {memberId}':
    parameters:
      - schema:
          type: string
        name: memberId
        in: path
        required: true
    put:
      summary: 修改会员信息
      operationId: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      description: 修改会员信息
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  description: 会员ID
                  maxLength: 32
                memberType:
                  type: string
                  enum:
                    - Individual
                    - Corporate
                  description: 会员类型，个人：Individual；企业：Corporate
                memberNation:
                  type: string
                  minLength: 3
                  maxLength: 3
                  description: 会员所在国家或地区
                memberIdNo:
                  type: string
                  maxLength: 32
                  description: 会员证件号
                memberNameEn:
                  type: string
                  description: 会员英文名称
                  maxLength: 128
                memberDate:
                  type: string
                  description: 会员出生或成立日，格式：yyyyMMdd。若会员为个人，则为个人出生日期；若收款人为企业，则为企业注册日期
                  maxLength: 8
                  minLength: 8
                memberAddress:
                  type: string
                  maxLength: 128
                  description: 会员经营或联系地址
              required:
                - memberId
                - memberType
                - memberNation
                - memberIdNo
                - memberNameEn
                - memberDate
                - memberAddress
        description: ''
      tags:
        - 接口
  '/member/{memberId}':
    parameters:
      - schema:
          type: string
        name: memberId
        in: path
        required: true
    get:
      summary: 查询会员信息
      tags:
        - 接口
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: ''
components:
  schemas:
    member:
      type: object
      examples: []
      title: 会员
      x-stoplight:
        id: 0d43b2263d312
      x-tags:
        - 对象
      properties:
        memberId:
          type: string
          maxLength: 32
          description: 会员ID
        memberType:
          type: string
          description: 会员类型，个人：Individual；企业：Corporate
          enum:
            - Individual
            - Corporate
        memberNation:
          type: string
          minLength: 3
          maxLength: 3
          description: 会员所在国家或地区
        memberIdNo:
          type: string
          maxLength: 32
          description: 会员证件号
        memberNameEn:
          type: string
          maxLength: 128
          description: 会员英文名称
        memberDate:
          type: string
          minLength: 8
          maxLength: 8
          description: |-
            会员出生或成立日，格式：yyyyMMdd。
            若会员为个人，则为个人出生日期；
            若收款人为企业，则为企业注册日期
        memberAddress:
          type: string
          maxLength: 128
          description: 会员经营或联系地址
        status:
          type: string
          description: 状态，初始化：INIT； 激活：ACTIVE
          enum:
            - INIT
            - ACTIVE
        createTime:
          type: string
          description: '创建时间，格式：yyyy-MM-dd HH:mm:ss'
        modifyTime:
          type: string
          description: '更新时间，格式：yyyy-MM-dd HH:mm:ss'
      required:
        - memberId
        - memberType
        - memberNation
        - memberIdNo
        - memberNameEn
        - memberDate
        - memberAddress
        - status
        - createTime
        - modifyTime
