swagger: '2.0'
info:
  title: EVENT API
  version: '1.0'
  description: |-
    This section contains operations and models of Lianlian Pay notification system. Lianlian Pay uses hypermedia to provide additional information for the client to better processing an Lianlian Pay system generated event. 

    Client should register event callbacks via Lianlian Pay webhook API in order to receive any event.

    Production Endpoint - **global-api.lianlianpay.com**
  contact:
    email: fx_support@lianlianpay.com
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /events:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              total:
                type: integer
                description: Total event count
              list:
                type: array
                description: Event object list
                items:
                  $ref: '#/definitions/Event'
            required:
              - total
              - list
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
          schema:
            type: object
            properties: {}
        '500':
          description: ''
      summary: Get Event List
      description: |-
        Get a list of Lianlian Pay system generated events. Empty list will be returned if there is no applicable events.

        Return type is List<`Event`>

        Interface Maximum Concurrency：300
      operationId: get-event-list
      tags:
        - Operations
      parameters:
        - in: query
          name: topic
          type: string
          description: Event topic defined in Lianlian Pay's system.
        - in: query
          name: pageNum
          type: integer
          description: 'If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.'
          allowEmptyValue: true
          minimum: 1
          default: 1
        - in: query
          name: pageSize
          type: integer
          description: 'If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records'
          allowEmptyValue: true
          default: 20
  '/events/{eventId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Event'
        '404':
          description: ''
        '500':
          description: ''
      summary: Get Event
      description: |-
        Get a Lianlian Pay system generated event by `eventId`

        Return type is `Event` object

        Interface Maximum Concurrency：300
      tags:
        - Operations
      operationId: get-event
    parameters:
      - name: eventId
        in: path
        type: string
        required: true
tags:
  - name: Operations
definitions:
  Event:
    type: object
    title: 'Event '
    description: |
      Event object generated by Lianlian Pay's system. 

      Event is notified via registered webhook, and default status is `PROCESSING`. 

      Event status will be updated to `SUCCESS` after receiving `200` HTTP status code return from webhook url. Before success, Lianlian Pay will keep sending the event to registered webhook url every 60 minutes for 24 times in total. After all 24 retries without success, event status will then be updated to `MAXIMUM_RETRIES_REACHED`.
    x-tags:
      - Models
    required:
      - id
      - topic
      - createTime
      - data
      - status
      - webhookURL
    properties:
      id:
        type: string
        description: Event id in Lianlian Pay's system
      topic:
        type: string
        description: |
          Event topics defined in Lianlian Pay's system.

          | Topic | Description |
          |------|-------------|
          | global.payee.successed | Payee successed. |
          | global.payee.failed | Payee failed. |
          |global.shop.successed|Shop audit successed|
          |global.shop.failed|Shop audit failed|
          | global.exchange.fx_successed |Exchange successed|
          | global.exchange.fx_failed |Exchange failed|
          | global.exchange.payout_successed|Payout successed|
          | global.exchange.payout_failed|Payout failed|
          | global.exchange.payout_hedged|Payout failed after success|
          | global.transaction.successed|Transaction successed|
          | global.transaction.failed|Transaction failed|
          | global.transaction.hedged|Transaction failed after success|
          |global.vcc.active|VCC Actived|
          |global.vcc.frozen|VCC Frozen|
          |global.vcc.expired|VCC Expired|
          |global.vcc.blocked|VCC Blocked|
          |global.vcc.auth|VCC Authorization Transaction|
          |global.vcc.otp|Send VCC 3DS OTP|
          |global.funding.processing|Funding received but not available |
          |global.funding.succeed|Funding received and available|
          |global.funding.returned|Funding return successful|
          |global.va.active|VA Actived|
          |global.va.frozen|VA Frozen|
          |global.va.block|VA Blocked|
          |global.va.debit|VA debit succeed|
          |global.va.reject|VA debit rejected|
          |global.va.verify|VA credit verify|
          |global.receipt.created|Receipt created|
          |global.receipt.failed|Receipt failed|
          |global.material.success|material audit success|
          |global.material.failed|material audit failed|
          |global.virtualCard.successed| Virtual Card successed|
          |global.virtualCard.failed|Virtual Card Failed|
        enum:
          - global.payee.successed
          - global.payee.failed
          - global.exchange.fx_successed
          - global.exchange.fx_failed
          - global.exchange.payout_successed
          - global.exchange.payout_failed
          - global.exchange.payout_hedged
          - global.transaction.successed
          - global.transaction.failed
          - global.transaction.hedged
          - global.shop.successed
          - global.shop.failed
          - global.vcc.active
          - global.vcc.frozen
          - global.vcc.expired
          - global.vcc.blocked
          - global.vcc.auth
          - global.vcc.otp
          - global.funding.returned
          - global.funding.succeed
          - global.funding.processing
          - global.va.active
          - globa.va.frozen
          - globa.va.block
          - globa.va.debit
          - globa.va.reject
          - global.receipt.created
          - global.receipt.failed
          - global.material.success
          - global.material.failed
          - global.virtualCard.successed
          - global.virtualCard.failed
      createTime:
        type: string
        description: 'Event created time, UTC+0 timestamp'
        format: date-time
      data:
        type: object
        description: Event details
        required:
          - objectType
          - objectId
        properties:
          objectType:
            type: string
            description: |-
              Object Type, one of

              |Type|Description|
              |---|---|
              |payee|topic related to payee|
              |exchange|topic related to exchange|
              |transaction|topic related to transaction|
              |shop|topic related to shop|
              |vcc|topic related to vcc|
              |enterOrder|topic related to funding|
              |va|topic related to va|
              |tradeFile|topic related to material|
              |virtualCard|topic related to virtualCard|
            enum:
              - payee
              - exchange
              - transaction
              - shop
              - vcc
              - enterOrder
              - va
              - tradeFile
              - virtualCard
          objectId:
            type: string
            description: Object Id
          url:
            type: string
            description: You can get the object corresponding to the Event through the url
      status:
        type: string
        description: |-
          Event status defined in Lianlian Pay's system. One of:

          | status | description |
          |--------|-------------|
          | PROCESSING | Event is under processing |
          | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
          | MAXIMUM_RETRIES_REACHED | Callback notification stopped as maximum retrying number reached. |
        enum:
          - PROCESSING
          - SUCCESS
          - MAXIMUM_RETRIES_REACHED
      webhookURL:
        type: string
        description: Registered webhook url for this event
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /common/v1
securityDefinitions:
  llpay-signature:
    type: apiKey
    name: LLPAY-Signature
    in: header
    description: |
      The LLPAY-Signature header contains a timestamp and one or more signatures. The timestamp is prefixed by t=, and each signature is prefixed by a scheme. Schemes start with v, potentially followed by an integer.

      ```
      LLPAY-Signature: t=1492774577, v=5257a869e7ecebeda32affa62cdca3fa51cad7e77a0e56ff536d0ce8e108d8bd
      ```

      Note that newlines have been added in the example above for clarity, but a real LLPAY-Signature header will be all one line.

      Lianlian Pay and clients shall exchange each party’s public key.  The LLPAY-Signature will be signed by with the RSA private key.

      **Step 1:** Determine the signature payload

      Create a `payload` string which is the following connected with `&`

      * HTTP_METHOD: The actual method defined for specific API endpoint `POST`
      * URI: The request's URL Path, such as `/profiles/{profileId}`
      * REQUEST_EPOCH: The seconds elapsed since 1970/1/1 00:00:00 GMT, same as value of `t`
      * REQUEST_PAYLOAD: The contents of request body in JSON format. 
      * QUERY_STRING: The query string of the URL, URL Encoded, such as `attr1%3Dvalue1%26attr2%3Dvalue2`

      <!-- theme: info -->
      >Case 1: QUERY_STRING is empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&REQUEST_PAYLOAD
      >
      >---
      >Case 2: REQUEST_PAYLOAD is empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&&QUERY_STRING
      >
      >---
      >Case 3: REQUEST_PAYLOAD and QUERY_STRING both are empty:
      >
      >**Formula is**: HTTP_METHOD&URI&REQUEST_EPOCH&


      Put typical GET and POST examples here.

      Example POST `payload`:
      ```
      POST&/kyc/v1/profiles&19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}
      ```

      Example GET `payload`:
      ```
      GET&/events/v1&19879234&&status%3DMAXIMUM_RETRIES_REACHED
      ```



      **Step 2:** Prepare the `LLPAY-Signature` string

      Achieve this by concatenating:
      * The timestamp (Seconds elapsed since 1970/1/1 00:00:00 GMT as a string)
      * Use your RSA private key and calculate the string `BASE64(RSAwithSHA256(STEP_1_RESULT)))` from Step 1

      ### Result Signature

      LianLian Pay result headers also contain the `LLPAY-Signature` header as described above but signed with Lianlian Pay's private RSA key.  You may verify the signature corresponds to the Result body by calculating the signature and comparing it to the unencrypted version of `LLPAY-Signature` using the Lianlian Pay's public RSA key.  Here are the steps:

      **Step 1:** Determine the signature `payload`

      Create a `payload` string which is the following separated by `&`

      * Response Timestamp: Extract t from LLPay-Signature and use it as timestamp
      * Response Payload: The contents of response body in JSON format

      Example `payload`:
      ```
      19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}
      ```

      **Step 2:** Use RSA Verify to compare signatures

      Compare the LLPay-Signature received with the `payload` calculated in Step 1 using the Lianlian Pay's Public Key using the following algorithm:

      ```
      RSA.verify( LLPAY-Signature, 
                  '19879234&{"profileId":"string","countryOfOrigin":"CN","type":"COMPANY","email":"abc@xyz.com","mobile":"string","indicator":"string","kyc":{"name":"string","idNumber":"string","idFrontCopy":"string","idBackCopy":"string","address":{"lineOne":"string","lineTwo":"string","city":"string","province":"string","region":"string","postalCode":"string"}}}', 
                  Lianlian Pay Public Key )
      ```
  authorization:
    type: apiKey
    name: Authorization
    in: header
    description: |-
      LianLian Pay API uses an API key to authenticate requests. To request Lianlian Pay developer account, send the following two information to `fx_support@lianlianpay.com`:
      <!-- theme: info -->
      >**developer_name**
      >
      >**developer_public_key**

      After process, Lianlian Pay will replay with:
      <!-- theme: info -->
      >**developer_master_token** - api authentication
      >
      >**developer_refresh_token** - refresh developer master token, valid for a year. Can be updated by sending request to `fx_support@lianlianpay.com`
      >
      >**LianlianPay_public_key**

      The `Authorization` header must be included in all requests with the following format:

      ```
      Authorization: Basic {master_token}
      ```
security:
  - authorization: []
  - llpay-signature: []
