swagger: '2.0'
info:
  title: Trade File API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /tradefile:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | 错误码 | 解释 |
            |------|-------------|
            | 999995 |参数错误 |
            |300006|收款人不存在或审核未通过|
            |300030|materialId已存在|
            |300050|fundingId已被占用|
            |300052|fundingId不存在或未加款成功|
            |300031|贸易材料币种和加款币种不一致|
            |300055|加款单金额大于贸易材料金额浮动上限|
            |300056|加款单金额小于贸易材料金额浮动下限|
            |300052|加款单币种不一致|
        '500':
          description: Internal Server Error
      summary: 提交贸易材料
      parameters:
        - in: body
          name: body
          schema:
            type: object
            title: 贸易材料
            description: 连连侧贸易材料对象
            properties:
              materialId:
                type: string
                description: 商户侧指令唯一编号
                maxLength: 64
              tradeFileId:
                type: string
                description: 平台侧订单唯一编号
                maxLength: 64
              fundingId:
                type: array
                description: 订单对应的连连侧加款单号
                items:
                  type: string
                  maxLength: 64
              paymentType:
                type: string
                description: |-
                  订单支付方式，填写方式如下

                  |传输值|解释|
                  |----|----|
                  |0|线上收单|
                  |1|虚拟卡转账支付|
                enum:
                  - 0
                  - 1
              payerName:
                type: string
                description: 付款人名称
                maxLength: 64
              payerCountryCode:
                type: string
                description: 付款方国别或地区，参考附录国家或地区代码
                minLength: 3
                maxLength: 3
              payeeId:
                type: string
                description: 商户侧收款人唯一编号
                maxLength: 64
              tradeType:
                type: string
                description: |-
                  交易类型，传输方式如下

                  |传输值|解释|
                  |----|-----|
                  |0|货物贸易|
                  |1|服务贸易|
                enum:
                  - 0
                  - 1
              tradeTime:
                type: string
                description: 交易时间
                maxLength: 25
              tradeCurrency:
                type: string
                description: 交易币种，参考附录币种代码
                minLength: 3
                maxLength: 3
              tradeAmount:
                type: string
                description: 交易金额
                maxLength: 10
              tradeName:
                type: string
                description: 商品名称
                maxLength: 512
              tradeCount:
                type: string
                description: 商品数量
                maxLength: 64
              deliveryName:
                type: string
                description: 收货人名称，若tradeType=0时必填
                maxLength: 64
              deliveryCountryCode:
                type: string
                description: 收货人所在国家或地区，若tradeType=0时必填
                minLength: 3
                maxLength: 3
              deliveryAddress:
                type: object
                description: 收货人地址信息，若tradeType=0时必填
                properties:
                  city:
                    type: string
                    description: 收货人所在城市
                    maxLength: 128
                  streetAddress:
                    type: string
                    description: 收货人所在街道地址
                    maxLength: 512
              goodsCarrier:
                type: string
                description: |
                  物流信息，tradeType=0，该字段必填，填写方式如下

                  货物承运人及运货单号，例如：
                  中外运空运;MC2410918701000931505
                maxLength: 512
              serviceDetail:
                type: string
                description: 服务贸易详情，若tradeType=1时必填
                maxLength: 512
              serviceTime:
                type: string
                description: 服务发生时间，若tradeType=1时必填
                maxLength: 25
              supportDoc:
                type: array
                description: 贸易材料证明文件
                items:
                  type: string
            required:
              - materialId
              - tradeFileId
              - fundingId
              - payerName
              - payerCountryCode
              - payeeId
              - tradeType
              - tradeTime
              - tradeCurrency
              - tradeAmount
              - tradeName
              - tradeCount
      tags:
        - 接口
  '/tradefile/{materialId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 查询贸易材料信息
      tags:
        - 接口
    parameters:
      - name: materialId
        in: path
        type: string
        required: true
        description: 商户侧指令唯一编号
        maxLength: 64
definitions:
  new-model:
    type: object
    title: 贸易材料
    description: 连连侧贸易材料对象
    properties:
      materialId:
        type: string
        description: 商户侧指令唯一编号
        maxLength: 64
      tradeFileId:
        type: string
        description: 平台侧订单唯一编号
        maxLength: 64
      fundingId:
        type: array
        description: 订单对应的连连侧加款单号
        items:
          type: string
          maxLength: 64
      paymentType:
        type: string
        description: |-
          订单支付方式，填写方式如下

          |传输值|解释|
          |----|----|
          |0|线上收单|
          |1|虚拟卡转账支付|
        enum:
          - 0
          - 1
      payerName:
        type: string
        description: 付款人名称
        maxLength: 64
      payerCountryCode:
        type: string
        description: 付款方国别或地区，参考附录国家或地区代码
        minLength: 3
        maxLength: 3
      payeeId:
        type: string
        description: 商户侧收款人唯一编号
        maxLength: 64
      tradeType:
        type: string
        description: |-
          交易类型，传输方式如下

          |传输值|解释|
          |----|-----|
          |0|货物贸易|
          |1|服务贸易|
        enum:
          - 0
          - 1
      tradeTime:
        type: string
        description: 交易时间
        maxLength: 25
      tradeCurrency:
        type: string
        description: 交易币种，参考附录币种代码
        minLength: 3
        maxLength: 3
      tradeAmount:
        type: string
        description: 交易金额
        maxLength: 10
      tradeName:
        type: string
        description: 商品名称
        maxLength: 512
      tradeCount:
        type: string
        description: 商品数量
        maxLength: 64
      deliveryName:
        type: string
        description: 收货人名称，若tradeType=0时必填
        maxLength: 64
      deliveryCountryCode:
        type: string
        description: 收货人所在国家或地区，若tradeType=0时必填
        minLength: 3
        maxLength: 3
      deliveryAddress:
        type: object
        description: 收货人地址信息，若tradeType=0时必填
        properties:
          city:
            type: string
            description: 收货人所在城市
            maxLength: 128
          streetAddress:
            type: string
            description: 收货人所在街道地址
            maxLength: 512
      goodsCarrier:
        type: string
        description: |
          物流信息，tradeType=0，该字段必填，填写方式如下

          货物承运人及运货单号，例如：
          中外运空运;MC2410918701000931505
        maxLength: 512
      serviceDetail:
        type: string
        description: 服务贸易详情，若tradeType=1时必填
        maxLength: 512
      serviceTime:
        type: string
        description: 服务发生时间，若tradeType=1时必填
        maxLength: 25
      supportDoc:
        type: array
        description: 贸易材料证明文件
        items:
          type: string
      status:
        type: string
        description: |-
          审核状态，传输方式如下

          |传输值|解释|
          |----|-----|
          |Processing|审核中|
          |Successed|审核成功|
          |Failed|审核失败|
        maxLength: 128
      failedReason:
        type: string
        description: 审核失败原因
        maxLength: 128
    required:
      - materialId
      - tradeFileId
      - fundingId
      - paymentType
      - payerName
      - payerCountryCode
      - payeeId
      - tradeType
      - tradeTime
      - tradeCurrency
      - tradeAmount
      - tradeName
      - tradeCount
      - status
    x-tags:
      - 对象
tags:
  - name: Operations
  - name: 接口
basePath: /connect/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
