swagger: '2.0'
info:
  title: Document API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /documents:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/document'
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 510002 | Unsupported document type. |
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
          schema:
            type: object
        '500':
          description: ''
      summary: 上传文件
      description: |
        上传文件至连连，连连会返回`Document.id`用以标识对接方上传的文件
      operationId: upload-document
      tags:
        - 接口
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              file:
                description: 文件
                type: object
            required:
              - file
        - in: header
          name: Idempotency-Key
          type: string
          description: |-
            **Optional**

            A unique value generated by the client which the server uses to recognize subsequent retries of the same request.
  '/documents/{documentId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            type: string
            format: byte
            description: Document data streaming
        '404':
          description: ''
        '500':
          description: ''
      summary: 下载文件
      description: |
        使用`dcoumentId` 下载文件
      operationId: download-document
      tags:
        - 接口
    parameters:
      - name: documentId
        in: path
        type: string
        required: true
tags:
  - name: Operations
  - name: 接口
definitions:
  document:
    type: object
    description: 连连定义的文件对象
    title: 文件
    properties:
      id:
        type: string
        description: 连连定义的文件唯一编号
        maxLength: 32
      name:
        type: integer
        description: 文件名称
        maximum: 128
      createTime:
        type: string
        description: '文件创建时间, UTC+0'
        format: date-time
    required:
      - id
      - name
      - createTime
    x-tags:
      - 对象
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /common/v1
securityDefinitions: {}
security:
  - authorization: []
