swagger: '2.0'
info:
  title: WEBHOOK API
  version: '1.0'
  contact:
    email: fx_support@lianlianpay.com
  description: |-
    This section contains operations and models of LianLian Global Webhook service. 

    Webhook is a common service shared by multiple LianLian Global products, and all operations of this service are hosted in China.

    Production Endpoint - **global-api.lianlianpay.com**
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /webhooks:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/webhook'
          examples:
            Example 1:
              id: '202301015436436'
              url: 'https://global-api-sandbox.lianlianpay-inc.com'
              topic: outbound.funding.funded
              createTime: '2023-01-01T10:15:22Z'
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
            | 108012 | Duplicate Webhook Registration |
          schema:
            $ref: ./error.oas2.yml#/definitions/error
          examples:
            Example 1:
              code: '999995'
              message: PARAMETER is error
              httpCode: 400
        '500':
          description: Internal Server Error
          schema:
            type: object
            description: Error object in LianLian Global's system
            properties:
              code:
                type: string
                x-stoplight:
                  id: qn336ozdhtjer
              message:
                type: string
                x-stoplight:
                  id: 1av65jxjp4kfr
              httpCode:
                type: string
                x-stoplight:
                  id: om8mz2qbzz6ma
            required:
              - code
              - message
              - httpCode
          examples:
            Example 1:
              code: '500000'
              message: 'Internal Server Error, Contact LianLian Global for technical support'
              httpCode: '500'
      summary: Register Webhook
      description: |-
        Register a webhook in LianLian Global system. Registered webhook will be used to send events generated by LianLian Global's system.

        Return type is `Webhook` object
      operationId: register-webhook
      tags:
        - Operations
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - url
              - topic
            properties:
              url:
                type: string
                description: Webhook callback url
                maxLength: 64
              topic:
                type: string
                description: |
                  Event topics defined in LianLian Global's system.

                  | Topic | Description |
                  |--------|------------|
                  | outbound.payer.approved |  payer approved |
                  | outbound.payer.rejected  |  payer reject |
                  | outbound.funding.funded | Bill funding received |
                  | outbound.fundingonline.success|funding online sucessed |
                  | outbound.refunding.success |Refunding complete |
                  | outbound.refunding.failed | Refundiapproved  |
                  | outbound.tradeFile.approved | Trade file approved  |
                  | outbound.tradeFile.rejected | Trade file rejected |
                  | outbound.exchange.success | FX(balance transfer) complete |
                  | outbound.exchange.failed | FX(balance transfer) failed |
                  | outbound.exchangereturn.success | Partial FX reverse complete |
                  | outbound.exchangereturn.failed | Partial FX reverse failed |
                  | outbound.exchangecancel.success| FX(balance transfer) reverse complete |
                  | outbound.exchangecancel.failed| FX(balance transfer) reverse failed |
                  | outbound.payout.success |Payout complete|
                  | outbound.payout.failed |Payout failed|
                  | outbound.payout.hedged |Payout Success first, then failure|
                  | outbound.exchangepayout.success |Exchangepayout complete|
                  | outbound.exchangepayout.failed |Exchangepayout failed|
                  | outbound.exchangepayout.hedged |Exchangepayout Success first, then failure|
                  | outbound.receipt.created | Receipt created|
                  |outbound.receipt.failed|Receipt creation failed|
          x-examples:
            Example 1:
              url: 'https://global-api-sandbox.lianlianpay-inc.com'
              topic: outbound.funding.funded
        - in: header
          name: Idempotency-Key
          type: string
          description: |-
            **Optional**

            A unique value generated by the client which the server uses to recognize subsequent retries of the same request.
    get:
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/webhook'
          examples:
            Example 1:
              - id: '202301015436436'
                url: 'https://global-api-sandbox.lianlianpay-inc.com'
                topic: outbound.funding.funded
                createTime: '2023-01-01T10:15:22Z'
        '500':
          description: Internal Server Error
          schema:
            type: object
            description: Error object in LianLian Global's system
            properties:
              code:
                type: string
                x-stoplight:
                  id: 977eelvhxkm37
              message:
                type: string
                x-stoplight:
                  id: ipczc66n17mid
              httpCode:
                type: string
                x-stoplight:
                  id: athb31rh5nqtp
            required:
              - code
              - message
              - httpCode
          examples:
            Example 1:
              code: '500000'
              message: 'Internal Server Error, Contact LianLian Global for technical support'
              httpCode: '500'
      summary: Get Webhook Registration List
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.

        Return type is List<`Webhook`>
      operationId: get-webhook-registration-list
      tags:
        - Operations
  '/webhooks/{webhookId}':
    get:
      summary: Get Webhook Registration
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      operationId: get-webhook-registration
      tags:
        - Operations
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/webhook'
          examples: {}
        '404':
          description: ''
        '500':
          description: ''
    parameters:
      - name: webhookId
        in: path
        type: string
        required: true
    delete:
      responses:
        '200':
          description: ''
        '404':
          description: ''
        '500':
          description: ''
      summary: Delete Webhook Registration
      description: Delete a webhook registration by `webhookId`.
      operationId: delete-webhook-registration
      tags:
        - Operations
tags:
  - name: Operations
definitions:
  webhook:
    type: object
    title: Webhook
    description: |-
      Object used in LianLian Global system to describe the client registration of event callbacks.

      LianLian  Global uses this object to identify events which should be pushed back to client's url.
    x-tags:
      - Models
    x-examples:
      Example 1:
        id: '202301014783376'
        url: 'https://global-api-sandbox.lianlianpay-inc.com'
        topic: outbound.funding.funded
        createTime: '2023-01-01T10:15:22Z'
    required:
      - id
      - url
      - topic
      - createTime
    properties:
      id:
        type: string
        description: Webhook registration id in LianLian Global's system
        maxLength: 32
      url:
        type: string
        description: Client webhook url
        maxLength: 64
      topic:
        type: string
        description: |
          Event topics defined in LianLian Global's system.

          | Topic | Description |
          |--------|------------|
          | outbound.payer.approved |  Payer approved |
          | outbound.payer.rejected  |  Payer reject |
          | outbound.funding.funded | CNY VA funding received |
          | outbound.fundingonline.success|Funding online sucessed |
          | outbound.refunding.success | Refunding complete |
          | outbound.refunding.failed | Refunding failed  |
          | outbound.refunding.hedged | Refunding hedged |
          | outbound.tradeFile.approved | Trade file approved  |
          | outbound.tradeFile.rejected | Trade file rejected |
          | outbound.exchange.success | FX(balance transfer) complete |
          | outbound.exchange.failed | FX(balance transfer) failed |
          | outbound.exchangereturn.success | Partial FX reverse complete |
          | outbound.exchangereturn.failed | Partial FX reverse failed |
          | outbound.exchangecancel.success| FX(balance transfer) reverse complete |
          | outbound.exchangecancel.failed| FX(balance transfer) reverse failed |
          | outbound.payout.success |Payout complete|
          | outbound.payout.failed |Payout failed|
          | outbound.payout.hedged |Payout Success first, then failure|
          | outbound.receipt.created | Receipt created|
          |outbound.receipt.failed|Receipt creation failed|
      createTime:
        type: string
        description: 'Webhook registration time, UTC+0 timestamp'
        format: date-time
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions: {}
basePath: /common/v1
