openapi: 3.1.0
x-stoplight:
  id: 9kmitur6oater
info:
  title: Accounts
  version: '1.0'
  summary: ''
servers:
  - url: 'https://global-api.lianlian.com/api/v1'
    description: ''
paths:
  /accounts:
    post:
      summary: Create an account
      operationId: create-account
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ../models/AccountResponse.yaml
          headers: {}
        '400':
          description: "**code**|**message**\r\n---|---\r\nPARAM_ERROR|A parameter value is not valid or missing.\r\nMISSING_REQUIRED_PARAMETER| A required parameter in the request is missing.\r\nAUTH_CLIENT_NOT_EXIST| The configuration is incorrect. Please contact the account manager or online customer service."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/AccountRequest.yaml
        description: ''
      description: "为您的用户、商家、子公司、业务合作伙伴或客户创建一个新的LianLian Global帐户。\r\n- 业务字段相同时，支持幂等，返回当前account的最新状态"
      x-stoplight:
        id: soqetl7kkcqfp
      security:
        - 客户端凭据授权: []
    parameters: []
  /accounts/detail:
    parameters: []
    get:
      summary: Get account detail info
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ../models/AccountResponse.yaml
        '400':
          description: "**code**|**message**\r\n---|---\r\nPARAM_ERROR|A parameter value is not valid or missing.\r\nMISSING_REQUIRED_PARAMETER| A required parameter in the request is missing."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
        '404':
          description: "**code**|**message**\r\n---|---\r\nRESOURCE_NOT_FOUND|The specified resource does not exist."
          content:
            application/json:
              schema:
                $ref: ../models/ErrorNoParam.yaml
      operationId: get-account
      x-stoplight:
        id: tx05pzu77zgse
      parameters: []
      security:
        - 授权码授权: []
  /accounts/authorize:
    post:
      summary: Authorize an account
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ../models/AccountsAuthorizeResponse.yaml
        '400':
          description: "**code**|**message**\r\n---|---\r\nPARAM_ERROR|A parameter value is not valid or missing.\r\nMISSING_REQUIRED_PARAMETER| A required parameter in the request is missing."
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: accounts-authorize
      x-stoplight:
        id: p7flmwd5k7sij
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/AccountsAuthorizeRequest.yaml
      security:
        - 授权码授权: []
          客户端凭据授权: []
      parameters:
        - schema:
            type: string
          in: header
          name: X-On-Behalf-Of-User-Id
          description: 需要申请授权的user_id
      description: "请求用户账户授权\r\n- 业务字段相同时，支持幂等，只会创建一条授权记录，每次调用授权码code会刷新"
    parameters: []
  /accounts/submit:
    parameters: []
    post:
      summary: Submit account for activation
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ../models/KYCResponse.yaml
        '400':
          description: |-
            code |message | param
            ---------|----------|---------
             MISSING_REQUIRED_PARAMETER | A required parameter in the request is missing. |e.g: country_code
             PARAM_ERROR | A parameter value is not valid. |
             ACCOUNT_INFO_NOT_FOUND | Account information does not exist. |
             CLIENT_CONFIG_INVALID | The client is missing configuration. |
             KYC_STATUS_NOT_SUPPORT | KYC status does not support submission. |
             FILE_NOT_EXIST | The file does not exist. |
             LEGAL_TRUST_AUTH_INVALID | Verification failed for the legal representative's phone，full_name, and cert_no. |
             MISSING_LEGALPERSON | Legal Information in the request is missing. |
             LEGAL_INFORMATION_ONLY | Corporate information cannot be multiple. |
             CAPTCHA_NOT_SEND | Please obtain the verification code first. |
             CAPTCHA_NOT_VALID | The verification code has expired, please retrieve it again. |
             CAPTCHA_NOT_MATCH | The verification code is incorrect, please check. |
             CAPTCHA_USED | The verification code has been used, please retrieve a new one. |
             REMOTE_INVOKE_FAIL | A system or application error occurred. |
             MISSING_AUTHORIZER |Authorizer Information in the request is missing.|
             AUTHORIZER_INFORMATION_ONLY | Authorizer information cannot be multiple.|
             MISSING_LETTER_OF_COMMITMENT | Letter of commitment information in the request is missing.|
             MISSING_HOLDING_LETTER_OF_COMMITMENT | Holding letter of commitment information in the request is missing.|
             MISSING_POWER_OF_ATTORNEY | Power of attorney information in the request is missing.|
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: submit-account
      x-stoplight:
        id: qobblne9q3bmg
      description: "提交开通账户所需的实名认证详情信息，进行账户激活。\r\n- 当status为INIT时，允许提交，提交后状态变为UNDER_REVIEW。并发重复提交，会返回REQUEST_CONFLICT\r\n- 当status为REQUIRE_ACTION时，允许提交，提交后状态变为UNDER_REVIEW。并发重复提交，会返回REQUEST_CONFLICT\r\n不同授权类型下，公司成员必填信息特别说明：\r\n\r\n**授权人类型** | **法人** | **代理人**| **法人短信验证**|**法人承诺函** |**法人手持承诺函** | **代理人授权书**\r\n---------|----------|---------|----------|---------|---------|---------\r\n LEGALPERSON | 必填 | 非必填 | 必填 | 非必填 | 非必填| 非必填\r\n AUTHORIZER | 必填 | 必填 | 非必填 | 必填| 必填| 必填"
      security:
        - 授权码授权: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/KYCRequest.yaml
  /captchas/phone:
    post:
      summary: Send a captcha code to phone
      tags: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  phone:
                    type: string
                    x-stoplight:
                      id: ouotqu6oga4kp
                    description: 手机
                  country_code:
                    type: string
                    x-stoplight:
                      id: 76orkbzxnm7h8
                    description: '手机区号，[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2)两位字母国家（地区）代码'
        '400':
          description: |-
            code |message | param
            ---------|----------|---------
             MISSING_REQUIRED_PARAMETER | A required parameter in the request is missing. | e.g: country_code
             PARAM_ERROR | A parameter value is not valid. |
             CAPTCHA_INTERVAL_LIMIT | The captcha sending interval is less than 1 minute. |
             CAPTCHA_INTERVAL_TOTAL_LIMIT | Exceeded the number of verification code sends per user. |
             SMS_TEMPLATE_NOT_FOUND | The sms template does not exist. |
             REMOTE_INVOKE_FAIL | A system or application error occurred. |
          content:
            application/json:
              schema:
                $ref: ../models/Error.yaml
      operationId: get-accounts-captchas-phone
      x-stoplight:
        id: ovjk3b1oma0hi
      security:
        - 客户端凭据授权: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/AccountsPhoneCaptcha.yaml
      description: 目前仅允许授权人身份为法人。当法人的证件类型为身份证时，会取法人的手机、全名、证件号进行三要素验证。
      x-internal: false
    parameters: []
components:
  schemas:
    Accounts:
      title: Accounts
      x-stoplight:
        id: 2wvjru337j1he
      type: object
      properties:
        identifier:
          type: string
          x-stoplight:
            id: asmhscyxvel5x
          description: 用户在平台的唯一标识
        user_id:
          type: string
          x-stoplight:
            id: h8i6bypmvqzcy
          description: LianLian Global 生成的用户账户唯一标识
        status:
          type: string
          x-stoplight:
            id: pn3zahs8l39zc
          description: "账户状态，枚举：\r\n- `INIT`：客户初始创建账号，待补充其他材料或操作（KYC或其他认证）\r\n- `UNDER_REVIEW`：客户账户相关认证材料已提交审核中\r\n- `REQUIRE_ACTION`：需要更新资料或补充资料\r\n- `ACTIVE`：客户账户通过，可以进行资金类交易\r\n- `SUSPENDED`：客户账户被暂停，出金交易会被拒绝\r\n- `CLOSED`：客户账户服务被终止"
        reason:
          type: array
          x-stoplight:
            id: vdubgvlqf0g7x
          description: 待更新资料或补充资料原因。当status=`REQUIRE_ACTION`时，可供参考。
          items:
            x-stoplight:
              id: 6t9u3hnfzjfwg
            type: object
            properties:
              code:
                type: string
                x-stoplight:
                  id: 1vjwzkds8fkik
                description: 失败原因code
              message:
                type: string
                x-stoplight:
                  id: uholkrqaj4yxz
                description: 失败原因message
        create_time:
          type: number
          x-stoplight:
            id: jvwxvbkvxk7hu
          description: 创建时间，13位时间戳
        update_time:
          type: number
          x-stoplight:
            id: gk809pf4gsfwk
          description: 最新更新时间，13位时间戳
  securitySchemes:
    客户端凭据授权:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
      description: '详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 客户端凭据授权'
    授权码授权:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
      description: '详情参考[Authentication](https://developer.lianlianglobal.com/docs/lppe/b6b6c2d4906e9-authentication) > 授权码授权'
