swagger: '2.0'
info:
  title: Payer API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /payer:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/payer'
      description: 创建付款人
      parameters:
        - in: body
          name: body
          schema:
            type: object
            title: 收款人
            description: 连连侧付款人对象
            properties:
              payerId:
                type: string
                description: 商户侧付款人唯一编号
                maxLength: 64
              payerType:
                type: string
                description: |-
                  付款人类型，填写方式如下

                  |传输值|解释|
                  |----|-----|
                  |Individual|个人付款人|
                  |Corporate|企业付款人|
                enum:
                  - Individual
                  - Corporate
              payerNameCN:
                type: string
                description: 付款人中文名称
                maxLength: 64
              payerNameEN:
                type: string
                description: 付款人英文名称
                maxLength: 64
              payerBusinessType:
                type: string
                description: 付款人经营类别
                maxLength: 64
              payerIdType:
                type: string
                description: |-
                  付款人证件类型，填写方式如下
                  |传输值|付款人类型|解释|
                  |----|-----|----|
                  |0|Individual|个人身份证|
                  |1|Corporate|营业执照|
                enum:
                  - 0
                  - 1
              payerIdScanFront:
                type: string
                description: 付款人证件照片（正面）
                maxLength: 64
              payerIdScanBack:
                type: string
                description: |-
                  付款人证件照片（反面）

                  若payerType='Individual'则这个字段为必填
                maxLength: 64
              payerIdNo:
                type: string
                description: 付款人证件号
                maxLength: 32
              payerAddress:
                type: string
                description: 付款人地址
                maxLength: 128
              payerIdisLT:
                type: string
                description: |-
                  付款人证件是否为长期，填写方式如下

                  |传输值|解释|
                  |-----|-----|
                  |0|长期|
                  |1|非长期|
                enum:
                  - 0
                  - 1
              payerIdIssue:
                type: string
                description: 付款人证件签发日期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              payerIdExpiry:
                type: string
                description: 付款人证件有效期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              payerContactNo:
                type: string
                description: |
                  付款人联系方式（个人手机号、企业联系人手机号）
                minLength: 11
                maxLength: 11
              corporateNature:
                type: string
                description: |-
                  公司性质，若payeeType='Corporate'则这个字段为必填，填写方式如下

                  |传输值|解释|
                  |---|----|
                  |0|股份公司|
                  |1|个人经营|
                  |2|国有企业|
                  |3|合伙经营|
                  |4|上市企业|
                enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
              legalPersIdScanFront:
                type: string
                description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersIdScanBack:
                type: string
                description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersNameCN:
                type: string
                description: 法人名称，若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersNameEN:
                type: string
                description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersIdNo:
                type: string
                description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                maxLength: 32
              legalPersIdisLT:
                type: string
                description: |-
                  法人证件有效期是否为长期，填写方式如下

                  |传输值|解释|
                  |-----|-----|
                  |0|长期|
                  |1|非长期|
                enum:
                  - 0
                  - 1
              legalPersIdIssue:
                type: string
                description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              legalPersIdExpiry:
                type: string
                description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                minLength: 8
                maxLength: 8
              legalPersIdAddress:
                type: string
                description: 法人地址，若payeeType='Corporate'则这个字段为必填
                maxLength: 128
              uboInfo:
                type: array
                description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                items:
                  type: object
                  properties:
                    uboId:
                      type: string
                      description: 商户侧受益人唯一编号
                      maxLength: 64
                    uboPersIdScanFront:
                      type: string
                      description: 受益人身份证正面（国徽面）
                      maxLength: 64
                    uboPersIdScanBack:
                      type: string
                      description: 受益人身份证反面（人像面）
                      maxLength: 64
                    uboNameCN:
                      type: string
                      description: 受益人名称
                      maxLength: 64
                    uboNameEN:
                      type: string
                      description: 受益人名称（拼音）
                      maxLength: 64
                    uboPersIdNo:
                      type: string
                      description: 受益人身份证号
                      maxLength: 32
                    uboPersIdisLT:
                      type: string
                      description: |-
                        受益人证件有效期是否为长期，填写方式如下

                        |传输值|解释|
                        |-----|-----|
                        |0|长期|
                        |1|非长期|
                      enum:
                        - 0
                        - 1
                    uboPersIdIssue:
                      type: string
                      description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                      minLength: 8
                      maxLength: 8
                    uboPersIdExpiry:
                      type: string
                      description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                      minLength: 8
                      maxLength: 8
                    uboAddress:
                      type: string
                      description: 受益人地址
                      maxLength: 128
                    uboEvidence:
                      type: string
                      description: 受益人证明文件
                      maxLength: 64
            required:
              - payerId
              - payerType
              - payerBusinessType
              - payerIdType
              - payerIdScanFront
              - payerIdNo
              - payerAddress
              - payerIdisLT
              - payerIdIssue
              - payerIdExpiry
              - payerContactNo
      summary: 创建付款人
      tags:
        - 接口
  '/payer/{payerId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/payer'
      summary: 查询付款人
      description: 查询收款人信息
      tags:
        - 接口
    parameters:
      - name: payerId
        in: path
        type: string
        required: true
    put:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/payer'
      summary: 修改付款人信息
      parameters:
        - in: body
          name: body
          schema:
            type: object
            description: Payee info record object in Lianlian Pay's system
            title: payee
            properties:
              payerBusinessType:
                type: string
                description: 付款人经营类别
                maxLength: 64
              payerIdScanFront:
                type: string
                description: 付款人证件照片（正面）
                maxLength: 64
              payerIdScanBack:
                type: string
                description: |-
                  付款人证件照片（反面）

                  若payerType='Individual'则这个字段为必填
                maxLength: 64
              payerAddress:
                type: string
                description: 付款人地址
                maxLength: 128
              payerIdisLT:
                type: string
                description: |-
                  付款人证件是否为长期，填写方式如下

                  |传输值|解释|
                  |-----|-----|
                  |0|长期|
                  |1|非长期|
                enum:
                  - 0
                  - 1
              payerIdIssue:
                type: string
                description: 付款人证件签发日期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              payerIdExpiry:
                type: string
                description: 付款人证件有效期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              payerContactNo:
                type: string
                description: |
                  付款人联系方式（个人手机号、企业联系人手机号）
                minLength: 11
                maxLength: 11
              corporateNature:
                type: string
                description: |-
                  公司性质，若payeeType='Corporate'则这个字段为必填，填写方式如下

                  |传输值|解释|
                  |---|----|
                  |0|股份公司|
                  |1|个人经营|
                  |2|国有企业|
                  |3|合伙经营|
                  |4|上市企业|
                enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
              legalPersIdScanFront:
                type: string
                description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersIdScanBack:
                type: string
                description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersNameCN:
                type: string
                description: 法人名称，若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersNameEN:
                type: string
                description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
                maxLength: 64
              legalPersIdNo:
                type: string
                description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
                maxLength: 32
              legalPersIdisLT:
                type: string
                description: |-
                  法人证件有效期是否为长期，填写方式如下

                  |传输值|解释|
                  |-----|-----|
                  |0|长期|
                  |1|非长期|
                enum:
                  - 0
                  - 1
              legalPersIdIssue:
                type: string
                description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
                minLength: 8
                maxLength: 8
              legalPersIdExpiry:
                type: string
                description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
                minLength: 8
                maxLength: 8
              legalPersIdAddress:
                type: string
                description: 法人地址，若payeeType='Corporate'则这个字段为必填
                maxLength: 128
              uboInfo:
                type: array
                description: 受益人信息，若payeeType='Corporate'则这个字段为必填
                items:
                  type: object
                  properties:
                    uboId:
                      type: string
                      description: 商户侧受益人唯一编号
                      maxLength: 64
                    uboPersIdScanFront:
                      type: string
                      description: 受益人身份证正面（国徽面）
                      maxLength: 64
                    uboPersIdScanBack:
                      type: string
                      description: 受益人身份证反面（人像面）
                      maxLength: 64
                    uboNameCN:
                      type: string
                      description: 受益人名称
                      maxLength: 64
                    uboNameEN:
                      type: string
                      description: 受益人名称（拼音）
                      maxLength: 64
                    uboPersIdNo:
                      type: string
                      description: 受益人身份证号
                      maxLength: 32
                    uboPersIdisLT:
                      type: string
                      description: |-
                        受益人证件有效期是否为长期，填写方式如下

                        |传输值|解释|
                        |-----|-----|
                        |0|长期|
                        |1|非长期|
                      enum:
                        - 0
                        - 1
                    uboPersIdIssue:
                      type: string
                      description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
                      minLength: 8
                      maxLength: 8
                    uboPersIdExpiry:
                      type: string
                      description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
                      minLength: 8
                      maxLength: 8
                    uboAddress:
                      type: string
                      description: 受益人地址
                      maxLength: 128
                    uboEvidence:
                      type: string
                      description: 受益人证明文件
                      maxLength: 64
          description: 修改付款人信息
      tags:
        - 接口
definitions:
  payer:
    type: object
    title: 付款人
    description: 连连侧付款人对象
    properties:
      payerId:
        type: string
        description: 商户侧付款人唯一编号
        maxLength: 64
      payerType:
        type: string
        description: |-
          付款人类型，填写方式如下

          |传输值|解释|
          |----|-----|
          |Individual|个人付款人|
          |Corporate|企业付款人|
        enum:
          - Individual
          - Corporate
      payerNameCn:
        type: string
        description: 付款人中文名称
        maxLength: 64
      payerNameEn:
        type: string
        description: 付款人英文名称
        maxLength: 64
      payerBusinessType:
        type: string
        description: 付款人经营类别
        maxLength: 64
      payerIdType:
        type: string
        description: |-
          付款人证件类型，填写方式如下
          |传输值|付款人类型|解释|
          |----|-----|----|
          |0|Individual|个人身份证|
          |1|Corporate|营业执照
        enum:
          - 0
          - 1
      payerIdScanFront:
        type: string
        description: 付款人证件照片（正面）
        maxLength: 64
      payerIdScanBack:
        type: string
        description: |-
          付款人证件照片（反面）

          若payerType='Individual'则这个字段为必填
        maxLength: 64
      payerIdNo:
        type: string
        description: 付款人证件号
        maxLength: 32
      payerAddress:
        type: string
        description: 付款人地址
        maxLength: 128
      payerIdIsLt:
        type: string
        description: |-
          付款人证件是否为长期，填写方式如下

          |传输值|解释|
          |-----|-----|
          |0|长期|
          |1|非长期|
        enum:
          - 0
          - 1
      payerIdIssue:
        type: string
        description: 付款人证件签发日期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
        minLength: 8
        maxLength: 8
      payerIdExpiry:
        type: string
        description: 付款人证件有效期，若付款人证件为非长期，则该字段必填，格式：yyyyMMdd
        minLength: 8
        maxLength: 8
      payerContactNo:
        type: string
        description: |
          付款人联系方式（个人手机号、企业联系人手机号）
        minLength: 11
        maxLength: 11
      corporateNature:
        type: string
        description: |-
          公司性质，若payeeType='Corporate'则这个字段为必填，填写方式如下

          |传输值|解释|
          |---|----|
          |0|股份公司|
          |1|个人经营|
          |2|国有企业|
          |3|合伙经营|
          |4|上市企业|
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      legalPersIdScanFront:
        type: string
        description: 法人身份证正面（国徽面），若payeeType='Corporate'则这个字段为必填
        maxLength: 64
      legalPersIdScanBack:
        type: string
        description: 法人身份证反面（人像面），若payeeType='Corporate'则这个字段为必填
        maxLength: 64
      legalPersNameCn:
        type: string
        description: 法人名称，若payeeType='Corporate'则这个字段为必填
        maxLength: 64
      legalPersNameEn:
        type: string
        description: 法人名称（拼音），若payeeType='Corporate'则这个字段为必填
        maxLength: 64
      legalPersIdNo:
        type: string
        description: 法人身份证号，若payeeType='Corporate'则这个字段为必填
        maxLength: 32
      legalPersIdIsLt:
        type: string
        description: |-
          法人证件有效期是否为长期，填写方式如下

          |传输值|解释|
          |-----|-----|
          |0|长期|
          |1|非长期|
        enum:
          - 0
          - 1
      legalPersIdIssue:
        type: string
        description: 法人证件签发日，若payeeType='Corporate'且证件非长期则这个字段为必填，格式：yyyyMMdd
        minLength: 8
        maxLength: 8
      legalPersIdExpiry:
        type: string
        description: 法人证件有效期，若payeeType='Corporate'且证件非长期则这个字段为必填
        minLength: 8
        maxLength: 8
      legalPersIdAddress:
        type: string
        description: 法人地址，若payeeType='Corporate'则这个字段为必填
        maxLength: 128
      uboInfo:
        type: array
        description: 受益人信息，若payeeType='Corporate'则这个字段为必填
        items:
          type: object
          properties:
            uboId:
              type: string
              description: 商户侧收益人唯一编号
              maxLength: 64
            uboPersIdScanFront:
              type: string
              description: 受益人身份证正面（国徽面）
              maxLength: 64
            uboPersIdScanBack:
              type: string
              description: 受益人身份证反面（人像面）
              maxLength: 64
            uboNameCn:
              type: string
              description: 受益人名称
              maxLength: 64
            uboNameEn:
              type: string
              description: 受益人名称（拼音）
              maxLength: 64
            uboPersIdNo:
              type: string
              description: 受益人身份证号
              maxLength: 32
            uboPersIdIsLt:
              type: string
              description: |-
                受益人证件有效期是否为长期，填写方式如下

                |传输值|解释|
                |-----|-----|
                |0|长期|
                |1|非长期|
              enum:
                - 0
                - 1
            uboPersIdIssue:
              type: string
              description: 受益人身份证签发日期，若证件非长期则必填，格式：yyyyMMdd
              minLength: 8
              maxLength: 8
            uboPersIdExpiry:
              type: string
              description: 受益人身份证有效期，若证件非长期则必填，格式：yyyyMMdd
              minLength: 8
              maxLength: 8
            uboAddress:
              type: string
              description: 受益人地址
              maxLength: 128
            uboEvidence:
              type: string
              description: 受益人证明文件
              maxLength: 64
      payeeStatus:
        type: string
        description: |-
          收款人审核状态，审核状态如下

          |值|解释|
          |----|-----|
          |Processing|审核中|
          |Successed|审核成功|
          |Failed|审核失败|
          |NeedUpdate|需更新材料|
          |Prohibit|停止服务|
        enum:
          - Processing
          - Successed
          - Failed
          - NeedUpdate
          - Prohibit
      failedReason:
        type: string
        description: 若收款人审核失败，该显示审核失败原因
        maxLength: 128
    required:
      - payerId
      - payerType
      - payerNameCn
      - payerNameEn
      - payerBusinessType
      - payerIdType
      - payerIdScanFront
      - payerIdNo
      - payerAddress
      - payerIdIsLt
      - payerIdIssue
      - payerIdExpiry
      - payerContactNo
tags:
  - name: Operations
  - name: 接口
basePath: /b2b-import/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
