swagger: '2.0'
info:
  title: EVENT API
  version: '1.0'
  description: |-
    This section contains operations and models of LianLian Global notification system. LianLian Global uses hypermedia to provide additional information for the client to better processing an LianLian Global system generated event. 

    Client should register event callbacks via LianLian Global  webhook API in order to receive any event.

    Production Endpoint - **global-api.lianlianpay.com**
  contact:
    email: fx_support@lianlianpay.com
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /events:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              total:
                type: integer
                description: Total event count
              list:
                type: array
                description: Event object list
                items:
                  $ref: '#/definitions/event'
            required:
              - total
              - list
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
          schema:
            $ref: ./error.oas2.yml#/definitions/error
        '500':
          description: ''
      summary: Get Event List
      description: |-
        Get a list of LianLian Global system generated events. Empty list will be returned if there is no applicable events.

        Return type is List<`Event`>
      operationId: get-event-list
      tags:
        - Operations
      parameters:
        - in: query
          name: topic
          type: string
          description: Event topic defined in LianLian Global's system.
        - in: query
          name: pageNum
          type: integer
          description: 'If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.'
          allowEmptyValue: true
          minimum: 1
          default: 1
        - in: query
          name: pageSize
          type: integer
          description: 'If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records'
          allowEmptyValue: true
          default: 20
  '/events/{eventId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/event'
        '404':
          description: ''
        '500':
          description: ''
      summary: Get Event
      description: |-
        Get a LianLian Global system generated event by `eventId`

        Return type is `Event` object
      tags:
        - Operations
      operationId: get-event
    parameters:
      - name: eventId
        in: path
        type: string
        required: true
tags:
  - name: Operations
definitions:
  event:
    type: object
    title: 'Event '
    description: |-
      Event object generated by LianLian Global's system. 

      Event is notified via registered webhook, and default status is `PROCESSING`. 

      Event status will be updated to `SUCCESS` after receiving `200` HTTP status code return from webhook url. Before success, LianLian Global will keep sending the event to registered webhook url every 60 minutes for 24 times in total. After all 24 retries without success, event status will then be updated to `MAXIMUM_RETRIES_REACHED`.
    x-tags:
      - Models
    properties:
      id:
        type: string
        description: Event id in LianLian Global's system
      topic:
        $ref: '#/definitions/event-topic-enum'
      data:
        type: object
        description: Event details
        required:
          - objectType
          - objectId
        properties:
          objectType:
            type: string
            description: |-
              Object type related to this event. One of:

              | type | description |
              |------|-------------|
              |payer|topic related to payer|
              |funding|topic related to funding|
              |refunding|topic related to refunding|
              |tradefile|topic related to tradefile|
              |exchange|topic related to exchange|
              |exchangereturn|topic related to exhcnagereturn|
              |exchangecancel|topic related to exchangecancel|
              |payout|topic related to payout|
              |vcc|topic related to vcc|
              |cnypay|topic related to CNY payment|
              |receipt|topic related to receipt|
               
            enum:
              - profile
              - bill
              - account
              - document
          objectId:
            type: string
            description: Id of the object that related in this event
          url:
            type: string
            description: |-
              Event related API endpoint. Can be used to retrive the data object related to this event from LianLian Global's system. 

              Http method accepted is `GET`, type is `application/json`
      createTime:
        type: string
        description: 'Event created time, UTC+0'
        format: date-time
      status:
        type: string
        description: |-
          Event status defined in LianLian Global's system. One of:

          | status | description |
          |--------|-------------|
          | PROCESSING | Event is under processing |
          | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
          | MAXIMUM_RETRIES_REACHED | Callback notification stopped as maximum retrying number reached. |
        enum:
          - PROCESSING
          - SUCCESS
          - MAXIMUM_RETRIES_REACHED
      webhookURL:
        type: string
        description: Registered webhook url for this event
    required:
      - id
      - topic
      - data
      - createTime
      - status
      - webhookURL
  event-topic-enum:
    type: string
    title: Event Topic Enumeration
    description: |
      Event topics defined in LianLian Global's system.

      | Topic | Description |
      |--------|------------|
      | outbound.payer.approved |  payer approved |
      | outbound.payer.rejected |  payer reject |
      | outbound.funding.funded | Bill funding received |
      | outbound.refunding.success | Refunding complete |
      | outbound.refunding.failed | Refunding failed |
      | outbound.refunding.hedged | Refunding hedged |
      | outbound.cnypay.success | CNY payment complete |
      | outbound.cnypay.failed | CNY payment failed |
      | outbound.cnypay.hedged | CNY payment hedged |
      | outbound.tradeFile.approved | Tuition evidence approved  |
      | outbound.tradeFile.rejected | Tuition evidence rejected |
      | outbound.exchange.success | FX(balance transfer) complete |
      | outbound.exchange.failed | FX(balance transfer) failed |
      | outbound.exchangereturn.success | Partial FX reverse complete |
      | outbound.exchangereturn.failed | Partial FX reverse failed |
      | outbound.exchangecancel.success| FX(balance transfer) reverse complete |
      | outbound.exchangecancel.failed| FX(balance transfer) reverse failed |
      | outbound.payout.success |Payout complete|
      | outbound.payout.failed |Payout failed|
      | outbound.payout.hedged |Payout Success first, then failure|
      | outbound.vcc.active| VCC Actived |
      | outbound.vcc.frozen| VCC Frozen |
      | outbound.vcc.expired| VCC Expired|
      | outbound.vcc.auth | VCC Authorization Transaction |
      | outbound.vcc.otp | Send VCC 3DS otp |
      |outbound.vcc.refund|VCC settlement refund|
      | outbound.vcc.blocked| VCC Blocked|
      | outbound.receipt.created | Receipt created|
      |outbound.receipt.failed|Receipt creation failed|
      |outbound.va.active|VA Actived|
      |outbound.va.frozen|VA Frozen|
      |outbound.va.block|VA Blocked|
      |outbound.va.debit|VA debit succeed|
      |outbound.va.reject|VA debit rejected|
      |outbound.va.verify|VA credit verify|
    x-tags:
      - Models
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /common/V1
securityDefinitions: {}
