swagger: '2.0'
info:
  title: Document API
  version: '1.0'
  description: |-
    Due to data security regulations, LianLian Global hosts two file systems, one in China and one in U.S., to keep file based data within the profile sourcing country/region.

    This section contains operations and models of LianLian Global China file system. 

    Production Endpoint - **global-api.lianlianpay.com**
  contact:
    email: fx_support@lianlianpay.com
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /documents:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/document'
        '400':
          description: |-
            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 510002 | Unsupported document type. |
            | 999995 | \[PARAMETER\] ERROR_MESSAGE |
          schema:
            $ref: ./error.oas2.yml#/definitions/error
        '500':
          description: ''
      summary: Upload Document
      description: |-
        Upload document to LianLian  Global's system. 

        Return type is `Document` object. `Document.id` should be used in other APIs if a support document is required.
      operationId: upload-document
      tags:
        - Operations
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - file
            properties:
              file:
                description: 'The file itself, supported file extensions are PDF, JPG, GIF, TIF, PNG, JPEG, ZIP, RAR. Maximum support of 40M.'
                type: object
              referenceId:
                type: string
                description: Document size
        - in: header
          name: Idempotency-Key
          type: string
          description: |-
            **Optional**

            A unique value generated by the client which the server uses to recognize subsequent retries of the same request.
  '/documents/{documentId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            type: string
            format: byte
            description: Document data streaming
        '404':
          description: ''
        '500':
          description: ''
      summary: Download Document
      description: |
        Download document file by `dcoumentId`. 
      operationId: download-document
      tags:
        - Operations
    parameters:
      - name: documentId
        in: path
        type: string
        required: true
tags:
  - name: Operations
definitions:
  document:
    type: object
    title: 'Document '
    description: File object in LianLian  Global's system.
    x-tags:
      - Models
    properties:
      id:
        type: string
        description: Document id in LianLian  Global's system
        maxLength: 32
      name:
        type: integer
        description: Document name
        maximum: 128
      createTime:
        type: string
        description: 'Document create time, UTC+0'
        format: date-time
    required:
      - id
      - name
      - createTime
responses: {}
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /common/v1
securityDefinitions: {}
