swagger: '2.0'
info:
  title: Shop API
  version: '1.0'
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /shop:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '400':
          description: |+
            Bad Request

            Possible error codes:

            | 错误码 | 解释 |
            |------|-------------|
            | 999995 |参数错误 |

        '500':
          description: Internal Server Error
      summary: 创建店铺
      tags:
        - 接口
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              shopId:
                type: string
                description: 平台侧店铺唯一编号
                maxLength: 64
              payeeId:
                type: string
                description: 平台侧收款人唯一编号
                maxLength: 64
              businessType:
                type: string
                description: 店铺经营类别
                maxLength: 32
              shopUrl:
                type: string
                description: 店铺链接
                maxLength: 128
  '/shop/{shopId}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - 接口
      summary: ' 查询店铺信息'
    parameters:
      - name: shopId
        in: path
        type: string
        required: true
    put:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
      summary: 修改店铺信息
      description: 在店铺审核失败的情况下，可以修改店铺信息（店铺经营类别、店铺链接）
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              businessType:
                type: string
                description: 店铺经营类别
                maxLength: 32
              shopUrl:
                type: string
                description: 店铺链接
                maxLength: 128
      tags:
        - 接口
basePath: /b2b-export
tags:
  - name: 借口而
  - name: 接口
definitions:
  new-model:
    type: object
    title: 店铺
    properties:
      shopId:
        type: string
        description: 平台侧店铺唯一编号
        maxLength: 64
      payeeId:
        type: string
        description: 平台侧收款人唯一编号
        maxLength: 64
      businessType:
        type: string
        description: 店铺经营类别
        maxLength: 32
      shopUrl:
        type: string
        description: 店铺链接
        maxLength: 128
      status:
        type: string
        description: |-
          店铺审核状态，审核状态如下

          |值|解释|
          |----|-----|
          |Processing|审核中|
          |Successed|审核成功|
          |Failed|审核失败|
        enum:
          - Processing
          - Failed
          - Successed
        maxLength: 10
      failReason:
        type: string
        description: 审核失败原因，店铺审核失败的情况下会返回失败原因
        maxLength: 128
    required:
      - shopId
      - payeeId
      - businessType
      - shopUrl
      - status
