swagger: '2.0'
info:
  title: Virtual Account API
  version: '1.0'
  description: ''
host: global-api-sandbox.lianlianpay-inc.com
paths:
  /virtualaccount:
    post:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | 错误码 | 解释 |
            |------|-------------|
            | 999995 |参数错误|
            |170001|收款人审核失败|
            |170002|收款人不存在|
            |170003|收款人审核中|
            |170101|tradeFileId重复提交|
            |170007|payeeId与shopId不匹配|
        '500':
          description: Internal Server Error
      summary: 创建虚拟卡
      description: 为一对买卖关系或者一个交易订单创建虚拟卡
      parameters:
        - in: body
          name: body
          schema:
            type: object
            title: 虚拟卡
            description: 连连侧虚拟卡对象
            properties:
              functionType:
                type: string
                description: |-
                  功能类型，用以识别发卡逻辑

                  |传输值|解释|
                  |---|---|
                  |0|针对一对买卖关系发一张虚拟卡|
                  |1|针对一个订单发一张虚拟卡|
                enum:
                  - 0
                  - 1
              tradeFileId:
                type: string
                description: 平台侧订单唯一编号，若functionType=1，则该字段必填
                maxLength: 64
              payeeId:
                type: string
                description: 商户侧收款人唯一编号
                maxLength: 64
              payerId:
                type: string
                description: 商户侧付款人唯一编号，若functionType=0，则该字段必填
                maxLength: 64
              shopId:
                type: string
                description: 平台侧店铺唯一编号
                maxLength: 64
              payerName:
                type: string
                description: 付款人名称
                maxLength: 64
              payerCountryCode:
                type: string
                description: 付款方国别或地区，参考附录国家或地区代码
                minLength: 3
                maxLength: 3
              payerAccountNumber:
                type: string
                description: 付款人银行账号
                maxLength: 32
              currency:
                type: string
                description: 虚拟卡币种，参考附录币种代码
                minLength: 3
                maxLength: 3
              orderInfo:
                type: object
                description: 订单信息
                properties:
                  tradeType:
                    type: string
                    description: |-
                      交易类型，传输方式如下

                      |传输值|解释|
                      |----|-----|
                      |0|货物贸易|
                      |1|服务贸易|
                    enum:
                      - 0
                      - 1
                  tradeTime:
                    type: string
                    description: 交易时间
                    maxLength: 25
                  tradeCurrency:
                    type: string
                    description: 交易币种，参考附录币种代码
                    minLength: 3
                    maxLength: 3
                  tradeAmount:
                    type: string
                    description: 交易金额
                    maxLength: 10
                  tradeName:
                    type: string
                    description: 商品名称
                    maxLength: 512
                  tradeCount:
                    type: string
                    description: 商品数量
                    maxLength: 64
                  serviceDetail:
                    type: string
                    description: 服务贸易详情，若tradeType=1时必填
                    maxLength: 512
                  serviceTime:
                    type: string
                    description: 服务发生时间，若tradeType=1时必填
                    maxLength: 25
                  deliveryName:
                    type: string
                    description: 收货人名称，若tradeType=0时必填
                    maxLength: 64
                  deliveryCountryCode:
                    type: string
                    description: 收货人所在国家或地区，若tradeType=0时必填
                    minLength: 3
                    maxLength: 3
                  deliveryAddress:
                    type: object
                    description: 收货人地址信息，若tradeType=0时必填
                    properties:
                      city:
                        type: string
                        description: 收货人所在城市，若tradeType=0时必填
                        maxLength: 128
                      streetAddress:
                        type: string
                        description: 收货人所在街道地址，若tradeType=0时必填
                        maxLength: 512
                required:
                  - tradeType
                  - tradeTime
                  - tradeCurrency
                  - tradeAmount
                  - tradeName
                  - tradeCount
            required:
              - functionType
              - payeeId
              - shopId
              - payerName
              - payerCountryCode
              - currency
      tags:
        - 接口
      consumes:
        - application/json
      produces:
        - application/json
  '/virtualaccount/{receivingAccountNo}':
    get:
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/new-model'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 查询虚拟卡号
      tags:
        - 接口
    parameters:
      - name: receivingAccountNo
        in: path
        type: string
        required: true
        minLength: 32
        description: 收款虚拟卡号
  /virtualaccounts:
    get:
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/new-model'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      summary: 批量查询虚拟卡号
      description: 批量查询虚拟卡号
      parameters:
        - in: query
          name: payeeId
          type: string
          allowEmptyValue: true
          description: 商户侧收款人唯一编号
          maxLength: 64
        - in: query
          name: payerId
          type: string
          allowEmptyValue: true
          description: 商户侧付款人唯一编号
          maxLength: 64
        - in: query
          name: pageNum
          type: integer
          default: 1
          allowEmptyValue: true
          minimum: 1
          description: |
            查询页码

            若返回数据为多条，可以将数据进行分页，将该字段与`pageSize` 配合使用
        - in: query
          name: pageSize
          type: integer
          default: 20
          allowEmptyValue: true
          description: |
            单页展示数据条数

            若返回数据为多条，需要将该字段与`pageNum`联合使用，单页做多数据展示条数为20条
          maximum: 20
      tags:
        - 接口
definitions:
  new-model:
    type: object
    title: 虚拟卡
    description: 连连侧虚拟卡对象
    properties:
      functionType:
        type: string
        description: |-
          功能类型，用以识别发卡逻辑

          |传输值|解释|
          |---|---|
          |0|针对一对买卖关系发一张虚拟卡|
          |1|针对一个订单发一张虚拟卡|
        enum:
          - 0
          - 1
      tradeFileId:
        type: string
        description: 平台侧订单唯一编号，若functionType=1，则该字段必填
        maxLength: 64
      payeeId:
        type: string
        description: 商户侧收款人唯一编号
        maxLength: 64
      payerId:
        type: string
        description: 商户侧付款人唯一编号，若functionType=0，则该字段必填
        maxLength: 64
      shopId:
        type: array
        description: 平台侧店铺唯一编号
        maxItems: 10
        items:
          type: string
          maxLength: 64
      payerName:
        type: string
        description: 付款人名称
        maxLength: 64
      payerCountryCode:
        type: string
        description: 付款方国别或地区，参考附录国家或地区代码
        minLength: 3
        maxLength: 3
      createTime:
        type: string
        description: '虚拟卡创建时间，格式：yyyy-MM-dd''T''HH:mm:ss''Z'
      payerAccountNumber:
        type: string
        description: 付款人银行账号
        maxLength: 32
      currency:
        type: array
        description: 虚拟卡币种，参考附录币种
        minItems: 3
        maxItems: 3
        items:
          type: string
      orderInfo:
        type: object
        description: 订单信息
        properties:
          tradeType:
            type: string
            description: |-
              交易类型，传输方式如下

              |传输值|解释|
              |----|-----|
              |0|货物贸易|
              |1|服务贸易|
            enum:
              - 0
              - 1
          tradeTime:
            type: string
            description: 交易时间
            maxLength: 25
          tradeCurrency:
            type: string
            description: 交易币种，参考附录币种代码
            minLength: 3
            maxLength: 3
          tradeAmount:
            type: string
            description: 交易金额
            maxLength: 10
          tradeName:
            type: string
            description: 商品名称
            maxLength: 512
          tradeCount:
            type: string
            description: 商品数量
            maxLength: 64
          serviceDetail:
            type: string
            description: 服务贸易详情，若tradeType=1时必填
            maxLength: 512
          serviceTime:
            type: string
            description: 服务发生时间，若tradeType=1时必填
            maxLength: 25
          deliveryName:
            type: string
            description: 收货人名称，若tradeType=0时必填
            maxLength: 64
          deliveryCountryCode:
            type: string
            description: 收货人所在国家或地区，若tradeType=0时必填
            minLength: 3
            maxLength: 3
          deliveryAddress:
            type: object
            description: 收货人地址信息，若tradeType=0时必填
            properties:
              city:
                type: string
                description: 收货人所在城市
                maxLength: 128
              streetAddress:
                type: string
                description: 收货人所在街道地址
                maxLength: 512
        required:
          - tradeType
          - tradeTime
          - tradeCurrency
          - tradeAmount
          - tradeName
          - tradeCount
      receivingAccountNo:
        type: string
        description: 收款虚拟卡号
        maxLength: 32
      bankName:
        type: string
        description: 虚拟账户银行名称
        maxLength: 32
      swiftCode:
        type: string
        description: 虚拟账户Swift Code
        maxLength: 11
      bankLocation:
        type: string
        description: 虚拟账户银行所在地
        maxLength: 32
      bankAddress:
        type: string
        maxLength: 256
        description: 虚拟账户银行地址
      accountName:
        type: string
        description: 虚拟卡账户户名
        maxLength: 32
    required:
      - functionType
      - payeeId
      - shopId
      - payerName
      - createTime
      - currency
      - receivingAccountNo
      - bankName
      - swiftCode
      - bankLocation
      - bankAddress
      - accountName
    x-tags:
      - 对象
tags:
  - name: Operations
  - name: 接口
basePath: /b2b-export/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
